<form [formGroup]="form" [attr.aria-busy]="isLoading()" (ngSubmit)="saveForm()" data-testid="cable-span-manip-form">
  <div class="header-btns">
    <button
      app-btn
      type="button"
      btnStyle="outlined"
      btnSize="s"
      (click)="zoomToSpan()"
      [disabled]="isLoading()"
      data-testid="cable-span-manip-zoom"
    >
      <app-icon icon="filter_center_focus" />
      <ng-container i18n>Zoom</ng-container>
    </button>

    <button
      app-btn
      type="button"
      btnStyle="outlined"
      btnSize="s"
      (click)="resetForm()"
      [disabled]="isLoading()"
      data-testid="cable-span-manip-reset"
    >
      <app-icon icon="refresh" />
      <ng-container i18n>Reset</ng-container>
    </button>
  </div>

  <div class="split-1-line">
    <label for="scope" i18n="@@manipulatedSpan" class="split-1-line__label-1">Manipulated span</label>
    <p-select
      inputId="scope"
      fluid
      [options]="spansOptions()"
      formControlName="scope"
      optionLabel="label"
      optionValue="value"
      (onChange)="onScopeChange($event.value)"
      data-testid="cable-span-manip-scope"
      class="split-1-line__input-1"
    />

    <label for="referenceSupport" i18n="@@referenceSupport" class="split-1-line__label-2">Reference support</label>
    <p-select
      inputId="referenceSupport"
      fluid
      [options]="supportRefOptions()"
      formControlName="referenceSupport"
      optionLabel="label"
      optionValue="value"
      data-testid="cable-span-manip-reference-support"
      class="split-1-line__input-2"
    />
  </div>

  <label for="distanceToRefSupport" i18n="@@manipulatedPointCableDistRefSupport">
    Manipulated point on the cable (Dist. to ref. support)
  </label>
  <p-inputgroup>
    <input
      id="distanceToRefSupport"
      type="number"
      pInputText
      step="0.01"
      [attr.min]="distRefSupportMin()"
      [attr.max]="distRefSupportMax()"
      (input)="truncateTwoDecimals($event)"
      formControlName="distanceToRefSupport"
      data-testid="cable-span-manip-dist-ref-support"
      [attr.aria-invalid]="form.controls.distanceToRefSupport.invalid || null"
      [attr.aria-errormessage]="getErrorIds('distanceToRefSupport', ['min', 'max'])"
    />
    <p-inputgroup-addon>m</p-inputgroup-addon>
  </p-inputgroup>
  @if (form.controls.distanceToRefSupport.errors?.['min']) {
  <p-message id="distanceToRefSupport-error-min" severity="error" size="small" variant="simple">
    <ng-container i18n>Minimum value:</ng-container>
    {{ distRefSupportMin() }}
  </p-message>
  } @else if (form.controls.distanceToRefSupport.errors?.['max']) {
  <p-message id="distanceToRefSupport-error-max" severity="error" size="small" variant="simple">
    <ng-container i18n>Maximum value:</ng-container>
    {{ distRefSupportMax() }}
  </p-message>
  }

  <div class="split-1-line">
    <label for="cableManipType" i18n="@@cableManipType" class="split-1-line__label-1">Cable manipulation type</label>
    <p-select
      inputId="cableManipType"
      fluid
      [options]="cableManipTypeOptions"
      formControlName="cableManipType"
      optionLabel="label"
      optionValue="value"
      data-testid="cable-span-manip-type"
      class="split-1-line__input-1"
    />

    <label for="cableManipMethod" i18n="@@cableManipMethod" class="split-1-line__label-2">
      Cable manipulation method
    </label>
    <p-select
      inputId="cableManipMethod"
      fluid
      [options]="cableManipMethodOptions"
      formControlName="cableManipMethod"
      optionLabel="label"
      optionValue="value"
      data-testid="cable-span-manip-method"
      class="split-1-line__input-2"
    />
  </div>

  <fieldset>
    <legend i18n="@@manipFixedPointPosition" class="legend">Manipulation fixed point position</legend>

    <div class="third-1-line">
      @if (isWithCrane()) {
      <label for="longitudinalDistance" i18n="@@longitudinalDistance" class="third-1-line__label-1"
        >Longitudinal dist.</label
      >
      <p-inputgroup class="third-1-line__input-1">
        <input
          type="number"
          pInputText
          id="longitudinalDistance"
          step="0.01"
          min="-100"
          max="5000"
          (input)="truncateTwoDecimals($event)"
          formControlName="longitudinalDistance"
          data-testid="cable-span-manip-longitudinal-dist"
          [attr.aria-invalid]="form.controls.longitudinalDistance.invalid || null"
          [attr.aria-errormessage]="getErrorIds('longitudinalDistance', ['min', 'max'])"
        />
        <p-inputgroup-addon>m</p-inputgroup-addon>
      </p-inputgroup>
      @if (form.controls.longitudinalDistance.errors?.['min']) {
      <p-message
        id="longitudinalDistance-error-min"
        severity="error"
        size="small"
        variant="simple"
        class="third-1-line__error-1"
      >
        <ng-container i18n>Minimum value:</ng-container>
        -100
      </p-message>
      } @else if (form.controls.longitudinalDistance.errors?.['max']) {
      <p-message
        id="longitudinalDistance-error-max"
        severity="error"
        size="small"
        variant="simple"
        class="third-1-line__error-1"
      >
        <ng-container i18n>Maximum value:</ng-container>
        5000
      </p-message>
      } } @else {
      <dl class="contents">
        <dt class="label third-1-line__label-1" i18n="@@longitudinalDistance">Longitudinal dist.</dt>
        <dd
          data-testid="cable-span-manip-longitudinal-dist-readonly"
          class="third-1-line__input-1 read-only-info"
          aria-live="assertive"
        >
          - m
        </dd>
      </dl>
      }

      <label for="lateralDistance" i18n="@@lateralDistance" class="third-1-line__label-2">Lateral dist.</label>
      <p-inputgroup class="third-1-line__input-2">
        <input
          type="number"
          pInputText
          id="lateralDistance"
          step="0.01"
          min="-100"
          max="100"
          (input)="truncateTwoDecimals($event)"
          formControlName="lateralDistance"
          data-testid="cable-span-manip-lateral-dist"
          [attr.aria-invalid]="form.controls.lateralDistance.invalid || null"
          [attr.aria-errormessage]="getErrorIds('lateralDistance', ['min', 'max'])"
        />
        <p-inputgroup-addon>m</p-inputgroup-addon>
      </p-inputgroup>
      @if (form.controls.lateralDistance.errors?.['min']) {
      <p-message
        id="lateralDistance-error-min"
        severity="error"
        size="small"
        variant="simple"
        class="third-1-line__error-2"
      >
        <ng-container i18n>Minimum value:</ng-container>
        -100
      </p-message>
      } @else if (form.controls.lateralDistance.errors?.['max']) {
      <p-message
        id="lateralDistance-error-max"
        severity="error"
        size="small"
        variant="simple"
        class="third-1-line__error-2"
      >
        <ng-container i18n>Maximum value:</ng-container>
        100
      </p-message>
      }

      <label for="altitude" i18n="@@altitude" class="third-1-line__label-3">Altitude</label>
      <p-inputgroup class="third-1-line__input-3">
        <input
          type="number"
          pInputText
          id="altitude"
          step="0.01"
          min="-100"
          max="9000"
          (input)="truncateTwoDecimals($event)"
          formControlName="altitude"
          data-testid="cable-span-manip-altitude"
          [attr.aria-invalid]="form.controls.altitude.invalid || null"
          [attr.aria-errormessage]="getErrorIds('altitude', ['min', 'max'])"
        />
        <p-inputgroup-addon>m</p-inputgroup-addon>
      </p-inputgroup>
      @if (form.controls.altitude.errors?.['min']) {
      <p-message id="altitude-error-min" severity="error" size="small" variant="simple" class="third-1-line__error-3">
        <ng-container i18n>Minimum value:</ng-container>
        -100
      </p-message>
      } @else if (form.controls.altitude.errors?.['max']) {
      <p-message id="altitude-error-max" severity="error" size="small" variant="simple" class="third-1-line__error-3">
        <ng-container i18n>Maximum value:</ng-container>
        9000
      </p-message>
      }
    </div>

    <div class="distance-calc-line">
      <button app-btn type="button" disabled aria-disabled="true" data-testid="cable-span-manip-dist-calc-btn">
        <app-icon icon="rocket_launch" />
        <ng-container i18n="@@distCalcBetweenPoints">Dist. calc. between points</ng-container>
      </button>

      <dl>
        <dt class="label" i18n="@@distance">Distance</dt>
        <dd class="read-only-info" data-testid="cable-span-manip-dist-result">- m</dd>
      </dl>
    </div>
  </fieldset>

  <label for="anchoring" i18n="@@anchoring">Anchoring</label>
  <p-select
    inputId="anchoring"
    fluid
    [options]="anchoringOptions"
    formControlName="anchoring"
    optionLabel="label"
    optionValue="value"
    data-testid="cable-span-manip-anchoring"
  />

  @if (isWithChain()) {
  <label for="chainName" i18n="@@chainName">Chain name</label>
  <p-select
    inputId="chainName"
    fluid
    [options]="chainNameOptions()"
    formControlName="chainName"
    optionLabel="label"
    optionValue="value"
    data-testid="cable-span-manip-chain-name"
  />

  <div class="split-2-line">
    <label for="chainLength" i18n="@@chainLength" class="split-2-line__label-1">Chain length</label>
    <p-inputgroup class="split-2-line__input-1">
      <input
        type="number"
        pInputText
        id="chainLength"
        step="0.01"
        (input)="truncateTwoDecimals($event)"
        formControlName="chainLength"
        data-testid="cable-span-manip-chain-length"
      />
      <p-inputgroup-addon>m</p-inputgroup-addon>
    </p-inputgroup>

    <label for="chainWeight" i18n="@@chainWeight" class="split-2-line__label-2">Chain weight</label>
    <p-inputgroup class="split-2-line__input-2">
      <input
        type="number"
        pInputText
        id="chainWeight"
        step="0.01"
        (input)="truncateTwoDecimals($event)"
        formControlName="chainWeight"
        data-testid="cable-span-manip-chain-weight"
      />
      <p-inputgroup-addon>kg</p-inputgroup-addon>
    </p-inputgroup>

    <label for="chainSurface" i18n="@@chainSurface" class="split-2-line__label-3">Chain surface</label>
    <p-inputgroup class="split-2-line__input-3">
      <input
        type="number"
        pInputText
        id="chainSurface"
        step="0.01"
        (input)="truncateTwoDecimals($event)"
        formControlName="chainSurface"
        data-testid="cable-span-manip-chain-surface"
      />
      <p-inputgroup-addon>m²</p-inputgroup-addon>
    </p-inputgroup>

    <label for="counterWeight" i18n="@@counterWeight" class="split-2-line__label-4">Counter weight</label>
    <p-inputgroup class="split-2-line__input-4">
      <input
        type="number"
        pInputText
        id="counterWeight"
        step="0.01"
        (input)="truncateTwoDecimals($event)"
        formControlName="counterWeight"
        data-testid="cable-span-manip-counter-weight"
      />
      <p-inputgroup-addon>kg</p-inputgroup-addon>
    </p-inputgroup>
  </div>
  } @else if (isWithSling()) {
  <label for="slingLength" i18n="@@slingLength">Sling length</label>
  <p-inputgroup>
    <input
      type="number"
      pInputText
      id="slingLength"
      step="0.01"
      min="0"
      max="99"
      (input)="truncateTwoDecimals($event)"
      formControlName="slingLength"
      data-testid="cable-span-manip-sling-length"
      [attr.aria-invalid]="form.controls.slingLength.invalid || null"
      [attr.aria-errormessage]="getErrorIds('slingLength', ['min', 'max'])"
    />
    <p-inputgroup-addon>m</p-inputgroup-addon>
  </p-inputgroup>
  @if (form.controls.slingLength.errors?.['min']) {
  <p-message id="slingLength-error-min" severity="error" size="small" variant="simple">
    <ng-container i18n>Minimum value:</ng-container>
    0
  </p-message>
  } @else if (form.controls.slingLength.errors?.['max']) {
  <p-message id="slingLength-error-max" severity="error" size="small" variant="simple">
    <ng-container i18n>Maximum value:</ng-container>
    99
  </p-message>
  } }

  <div class="footer-btns">
    <button
      app-btn
      btnStyle="danger"
      type="button"
      aria-label="erase span's cable manipulation"
      i18n-aria-label
      (click)="deleteForm()"
      [disabled]="!hasSavedManipulation() || isLoading()"
      data-testid="cable-span-manip-delete"
    >
      <app-icon icon="delete" />
    </button>

    <button
      app-btn
      type="submit"
      btnStyle="outlined"
      [disabled]="isFormInvalid() || isLoading() || !isDirtySinceLastSave()"
      [btnLoading]="isCalculating()"
      data-testid="cable-span-manip-save"
    >
      <app-icon icon="save" />
      <ng-container i18n>Save</ng-container>
    </button>

    <button
      app-btn
      type="button"
      [disabled]="isFormInvalid() || isLoading()"
      [btnLoading]="isCalculating()"
      (click)="calculate()"
      data-testid="cable-span-manip-calculate"
    >
      <app-icon icon="rocket_launch" />
      <ng-container i18n>Calculate</ng-container>
    </button>
  </div>
</form>
