@use 'sass:map';
@use 'abstract.extracts' as app;

.side-tab {
  @apply flex h-full;

  $_btn-overlap-size: 0.875rem;
  $_btn-px: 2.25rem;
  $_btn-radius: 0.5rem;
  $_default-btn-bgc: var(--primary-100);
  $_active-btn-bgc: var(--grey-white);
  $_hover-btn-bgc: var(--primary-200);
  $_panel-transition-timing: 0.3s;
  $_panel-transition-effect: ease-out;

  %_btn-bblr {
    border-bottom-left-radius: $_btn-radius;
  }

  %_btn-btlr {
    border-top-left-radius: $_btn-radius;
  }

  %_bcgc-transition {
    transition: background-color 0.3s ease-in-out;
  }

  &__header {
    @apply inline-flex flex-col shrink-0;

    &__btn {
      @apply uppercase relative;
      @extend %text-s-600;
      @extend %_btn-bblr;
      @extend %_bcgc-transition;
      width: 2.375rem; // firefox has weird interpretation of sideways left to right size. Forcing buttons width to avoid weird side effect.
      padding: $_btn-px 0.6875rem;
      min-height: 8.1875rem;
      background-color: $_default-btn-bgc;

      @supports (writing-mode: sideways-lr) {
        writing-mode: sideways-lr;
      }

      @supports not (writing-mode: sideways-lr) {
        @apply flex items-center justify-center;

        &__label {
          @apply inline-block py-8 -rotate-90;
        }
      }

      &:not(:first-child) {
        margin-top: -$_btn-overlap-size;
        padding-top: $_btn-px + $_btn-overlap-size;
        @extend %_btn-btlr;

        .side-tab__header__btn__bxsh {
          @extend %_btn-btlr;
        }
      }

      &::before,
      &::after {
        @apply absolute;
        content: '';
      }

      &::before {
        @apply h-full w-full top-0 right-0 opacity-0;
        @extend %_btn-bblr;
        @extend %_btn-btlr;
        @extend %_bcgc-transition;
        background-color: $_active-btn-bgc;
        z-index: 4;
      }

      &::after {
        @apply bottom-0 left-0 w-full;
        @extend %_btn-bblr;
        @extend %_bcgc-transition;
        z-index: 2;
        height: $_btn-overlap-size + 0.25rem;
        background-color: $_default-btn-bgc;
      }

      &.active {
        &,
        &::after {
          background-color: $_active-btn-bgc;
        }

        &::before {
          @apply opacity-100;
        }

        &:hover {
          &,
          &::before,
          &::after {
            background-color: var(--grey-50);
          }
        }
      }

      &:not(.active):hover {
        &,
        &::after {
          background-color: $_hover-btn-bgc;
        }
      }

      &:focus-visible {
        @extend %focus-state;
        z-index: 7;
      }

      &__bxsh {
        @apply absolute left-0 top-0 w-full h-full;
        @extend %_btn-bblr;
        z-index: 1;
        box-shadow: map.get(app.$elevation, neutral-3);
      }

      &__label {
        @apply relative;
        z-index: 6;
      }

      // "reset" active sibling buttons to let active one go above visually.
      &:has(+ &.active) {
        .side-tab__header__btn__bxsh,
        &::after {
          z-index: 0;
        }
      }
    }
  }

  &__main {
    @apply relative h-full overflow-hidden;
    z-index: 3;
    background-color: $_active-btn-bgc;
    transition: width $_panel-transition-timing ease-in;

    &:has(.side-tab__main__section.active) {
      box-shadow: map.get(app.$elevation, neutral-4);
    }

    &__section {
      @apply absolute top-0 left-0 opacity-0;
      transition:
        opacity $_panel-transition-timing $_panel-transition-effect,
        display $_panel-transition-timing $_panel-transition-effect;
      transition-behavior: allow-discrete;

      &.active {
        @apply opacity-100 h-full;
        background: $_active-btn-bgc;
        transition: opacity $_panel-transition-timing $_panel-transition-timing
          $_panel-transition-effect;

        @starting-style {
          opacity: 0;
        }
      }

      &__header {
        padding: 0.875rem 0.5rem 0.375rem;
      }
    }
  }
}
