<p-toast position="top-center"></p-toast>
<div class="import-study">
  <div class="my-8">
    <p i18n class="text-l-600">
      You can import multiple files, they will be available in the “My studies”
      tab.
    </p>
  </div>
  <label for="study-file" class="import-study__tool">
    <app-icon icon="upload" class="import-study__tool__icon" />

    <span class="import-study__tool__txt">
      <span i18n> Upload one or several files </span><br />
      <span class="small-txt" i18n> File formats: .csv, .clst </span>
    </span>
    <input
      id="study-file"
      form="file"
      multiple
      name="file"
      type="file"
      onclick="this.value = null"
      (change)="loadFiles($event)"
      class="import-study__tool__input"
    />
  </label>

  @if (this.newStudies().length > 0) {
    <ul class="import-study__list">
      @for (study of this.newStudies(); track study) {
        <li class="import-study__list__item">
          <p class="import-study__list__label">
            <app-icon icon="check" class="import-study__list__icon" />
            {{ study.title }}
          </p>

          <div class="import-study__list__btns">
            <a
              [routerLink]="'/study/' + study.uuid"
              app-btn
              btnStyle="base"
              btnSize="s"
              i18n
            >
              Open
            </a>

            <button
              app-btn
              btnSize="m"
              btnStyle="text"
              (click)="deleteStudy(study.uuid)"
              i18n-aria-label
              aria-label="delete study"
            >
              <app-icon
                icon="delete"
                class="import-study__list__btns__erase-icon"
              />
            </button>
          </div>
        </li>
      }
    </ul>
  }
  @if (this.erroredFiles().length > 0) {
    <ul class="import-study__list">
      @for (file of this.erroredFiles(); track file) {
        <li class="import-study__list__item">
          <p class="import-study__list__label">
            <app-icon icon="close" class="import-study__list__icon error" />
            {{ file }}
          </p>
        </li>
      }
    </ul>
  }
</div>
