@use './abstracts/abstract.extracts' as app;

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

label {
  @extend %text-m-400;
  @extend %label-spacing;
  display: inline-block;
  color: var(--grey-800);
}
