@use './abstracts/abstract.extracts' as app;

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

label {
  @extend %text-m-400;
  display: inline-block;
  margin: 0.125rem 0.5rem;
  color: var(--grey-800);
}
