@use 'abstract.extracts' as app;
@use 'sass:map';

// Nunito latin-ext
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url(@src/../public/fonts/nunito-latin-ext.woff2) format('woff2');
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
    U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
// Nunito latin
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url(@src/../public/fonts/nunito-latin.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

// Material symbols
@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url(@src/../public/fonts/material-symbols-rounded.woff2) format('woff2');
}
.app-icon {
  font-family: 'Material Symbols Rounded', sans-serif; // sonarQube requirment
  font-weight: normal;
  font-style: normal;
  font-size: 1.375rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
    // "fill": wether or not the icon is filled or stroked. Value is 0 or 1
    'FILL' 0,
    // "weight": thickness of the icon. Value range from 100 to 700 incremented by 100.
    'wght' 400,
    // "grade": put emphasys for an icon, between not important, normal and important. Impact its thickness.
    // Values are -25, 0 or 200.
    'GRAD' 0,
    // "optical size": expressed in DP (density pixel). Adapt icon's thickness depending of its size.
    // Value should not change across icons and must be between 20 and 48.
    // learn more about DP: https://m2.material.io/design/layout/pixel-density.html#pixel-density
    'opsz' 20;
}

body {
  @extend %text-s-400;
}

input,
select,
textarea {
  font-family: inherit;
}

h1 {
  @extend %heading-xl;
}
h2 {
  @extend %heading-l;
}
h3 {
  @extend %heading-m;
}
h4 {
  @extend %heading-s;
}
h5 {
  @extend %heading-xs;
}
h6 {
  @extend %heading-2xs;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem;

  &:first-child {
    margin-top: 0;
  }
}

mark {
  background: #fff8e1;
  padding: 0.25rem 0.4rem;
  border-radius: var(--content-border-radius);
  font-family: monospace;
}

blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  border-left: 4px solid #90a4ae;
}

hr {
  border-top: solid var(--surface-border);
  border-width: 1px 0 0 0;
  margin: 1rem 0;
}

p {
  margin: 0 0 1rem;
  line-height: 1.5;

  &:last-child {
    margin-bottom: 0;
  }
}
