@use 'sass:map';
@use 'abstract.extracts' as app;

// *********************
// ******* FONTS *******
// *********************
@each $name, $value in app.$txt-heading {
  .heading-#{$name} {
    @extend %heading-#{$name};
  }
}

@each $name, $value in app.$text {
  .text-#{$name} {
    @extend %text-#{$name};
  }
}

.underline-text {
  display: inline-block;

  &::after {
    content: '';
    display: block;
    height: 0.125rem;
    width: 100%;
    background-color: var(--primary-700);
    margin-top: 0.125rem;
  }
}

sup.mandatory {
  color: var(--error-700);
  font-size: 1em;
  line-height: 1;
  top: -0.0625rem;
}
