<p-dialog
  dismissableMask="true"
  [visible]="isOpen()"
  (visibleChange)="onVisibleChange($event)"
  [style]="{ width: '95vw', height: '95vh' }"
  [modal]="true"
  data-testid="new-section-dialog"
>
  <ng-template #header>
    <p class="text-l-600 mb-0 flex gap-2">
      @if (mode() === 'create') {
        <app-icon icon="edit" />
        <span>{{ 'section-modal.create-section' | transloco }}</span>
      } @else {
        @if (mode() === 'view') {
          <app-icon icon="visibility" />
        } @else {
          <app-icon icon="edit" />
        }
        <span>{{ section().name }}</span>
      }
    </p>
  </ng-template>

  <div class="flex flex-col h-full">
    @if (mode() === 'create') {
      <div class="section-form-part">
        <h3 class="title-underline">{{ 'section-modal.choose-type' | transloco }}</h3>
        <div class="flex flex-wrap gap-6">
          <div class="flex items-center">
            <p-radiobutton
              name="source"
              value="manual"
              [ngModel]="source()"
              (onClick)="source.set('manual')"
              inputId="manual"
              data-testid="source-manual-radio"
            />
            <label for="manual" class="ml-2">{{ 'section-modal.type-manual' | transloco }}</label>
            <app-icon icon="info" />
          </div>
          <div class="flex items-center">
            <p-radiobutton
              name="source"
              value="referencial"
              [ngModel]="source()"
              inputId="referencial"
              [disabled]="true"
              data-testid="source-referencial-radio"
            />
            <label for="referencial" class="ml-2">{{ 'section-modal.type-local-ref' | transloco }}</label>
            <app-icon icon="info" />
          </div>
          <div class="flex items-center">
            <p-radiobutton
              name="source"
              value="distantReferencial"
              [ngModel]="source()"
              inputId="distantReferencial"
              [disabled]="true"
              data-testid="source-distant-referencial-radio"
            />
            <label for="distantReferencial" class="ml-2">{{ 'section-modal.type-distant-ref' | transloco }}</label>
            <app-icon icon="info" />
          </div>
          <div class="flex items-center">
            <p-radiobutton
              name="source"
              value="extraction"
              [ngModel]="source()"
              (onClick)="source.set('extraction')"
              inputId="extraction"
              data-testid="source-extraction-radio"
            />
            <label for="extraction" class="ml-2">{{ 'section-modal.type-file' | transloco }}</label>
            <app-icon icon="info" />
          </div>
        </div>
      </div>
    }
    @if (source() === 'manual' && isOpen()) {
      <app-manual-section
        [isNameUnique]="isNameUnique()"
        [mode]="mode()"
        [section]="section()"
        (sectionChange)="onSectionChange($event)"
        (locationChange)="onLocationChange($event)"
      />
    }
    @if (source() === 'extraction' && mode() === 'create') {
      <app-import-section
        [study]="study()"
        [importResetToken]="importResetToken()"
        (editRequested)="onImportedSectionEditRequested($event)"
        data-testid="import-section-container"
      />
    }
  </div>
  <ng-template #footer>
    @if (mode() !== 'view') {
      <button
        app-btn
        type="button"
        btnSize="m"
        btnStyle="outlined"
        (click)="onVisibleChange(false)"
        data-testid="cancel-section-btn"
      >
        <app-icon icon="close" />
        <ng-container>{{ 'common.cancel' | transloco }}</ng-container>
      </button>
      <button
        app-btn
        type="button"
        btnSize="m"
        (click)="onValidate()"
        [disabled]="!canValidate()"
        data-testid="validate-section-btn"
      >
        <app-icon icon="save" />
        @if (mode() === 'create') {
          <ng-container>{{ 'section-modal.create-btn' | transloco }}</ng-container>
        } @else {
          <ng-container>{{ 'section-modal.update-btn' | transloco }}</ng-container>
        }
      </button>
    } @else {
      <div class="flex gap-2">
        <button
          app-btn
          type="button"
          btnSize="m"
          btnStyle="danger"
          (click)="onDeleteSection()"
          data-testid="delete-section-btn"
        >
          <app-icon icon="delete" />
          <ng-container>{{ 'common.delete' | transloco }}</ng-container>
        </button>
      </div>

      <button
        app-btn
        type="button"
        btnSize="m"
        btnStyle="outlined"
        (click)="onDuplicateSection()"
        data-testid="duplicate-section-btn"
      >
        <app-icon icon="content_copy" />
        <ng-container>{{ 'common.duplicate' | transloco }}</ng-container>
      </button>
      <button app-btn type="button" btnSize="m" (click)="onEditSection()" data-testid="edit-section-btn">
        <app-icon icon="edit" />
        <ng-container>{{ 'common.edit' | transloco }}</ng-container>
      </button>
    }
  </ng-template>
</p-dialog>
