<ng-template #header>
  <p class="text-l-600 mb-0 flex gap-2">
    <app-icon icon="calculate" />
    <span>{{ 'field-measuring.shared.dialog-title' | transloco }}</span>
  </p>
</ng-template>

<p id="complementary-form-field-measuring-init" class="context-paragraph">
  <app-icon icon="info" />
  <ng-container>{{ 'field-measuring.init.create-or-select-intro' | transloco }}</ng-container>
</p>

<div>
  <label for="new-measure">
    <ng-container>{{ 'field-measuring.init.measure-name-label' | transloco }}</ng-container>
    <sup class="mandatory">*</sup>
  </label>
  <input
    id="new-measure"
    type="text"
    pInputText
    fluid
    required
    aria-describedby="complementary-form-field-measuring-init"
    [formControl]="newMeasureNameControl"
    [class.ng-invalid]="isNameAlreadyTaken()"
    [attr.aria-invalid]="isNameAlreadyTaken()"
    [attr.aria-errormessage]="isNameAlreadyTaken() ? 'new-measure-name-error-message' : null"
    data-testid="new-measure-name-input"
  />
  @if (isNameAlreadyTaken()) {
    <p-message id="new-measure-name-error-message" severity="error" size="small" variant="simple">{{
      'field-measuring.shared.measure-name-unique-error' | transloco
    }}</p-message>
  }

  <div class="mt-4 text-right">
    <button
      app-btn
      type="button"
      [disabled]="newMeasureNameControl.invalid || isNameAlreadyTaken()"
      (click)="createMeasure()"
      data-testid="create-measure-btn"
    >
      <app-icon icon="add_circle" />
      <ng-container>{{ 'field-measuring.init.create-measurement-button' | transloco }}</ng-container>
    </button>
  </div>
</div>

<hr />

<div>
  <p class="label">{{ 'field-measuring.init.choose-existing-measure' | transloco }}</p>
  <app-select-with-buttons
    [ariaLabel]="'field-measuring.init.choose-existing-measure' | transloco"
    optionLabel="label"
    optionValue="value"
    [options]="measures()"
    [selectedOption]="chooseMeasureValue()"
    [showClear]="true"
    [showViewButton]="false"
    [showEditButton]="false"
    [showDuplicateButton]="false"
    [emptyMessage]="'field-measuring.init.no-measures-empty-message' | transloco"
    [emptyFilterMessage]="'field-measuring.init.no-measures-found-empty-message' | transloco"
    (selectOption)="onMeasureSelected($event)"
    (deleteOption)="deleteMeasure($event)"
    data-testid="choose-measure-select"
  />

  <div class="mt-4 text-right">
    <button
      app-btn
      type="button"
      [disabled]="chooseMeasureControl.invalid"
      (click)="chooseMeasure()"
      data-testid="choose-measure-btn"
    >
      <app-icon icon="check" />
      <ng-container>{{ 'field-measuring.init.choose-button' | transloco }}</ng-container>
    </button>
  </div>
</div>
