@use 'abstract.extracts' as app;

.app-btn {
  display: inline-flex;
  align-items: center;

  &-label {
    display: inline-block;
    letter-spacing: -0.0313rem;
  }

  &:focus {
    outline: none;
  }

  &#{&}:disabled,
  &#{&}.disabled,
  &[disabled] {
    background-color: var(--grey-0);
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    .app-btn-label,
    .app-icon {
      color: var(--grey-200);
    }
  }
}

a.app-btn {
  text-decoration: none;

  &.disabled,
  &[disabled] {
    pointer-events: none;
    cursor: default;
    background-color: inherit;
  }
}

.app-btn-s {
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;

  .app-btn-label {
    font: 600 0.875rem/1.42857 #{app.$font-family};
    padding: 0 0.25rem;
  }

  .app-icon {
    font-size: 1rem;
  }
}

.app-btn-m {
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;

  .app-btn-label {
    font: 600 1rem/1.5 #{app.$font-family};
    padding: 0 0.5rem;
  }

  .app-icon {
    font-size: 1.25rem;
  }
}

.app-btn-l {
  padding: 0.375rem 1rem;
  border-radius: 0.5rem;

  .app-btn-label {
    font: 600 1.25rem/1.4 #{app.$font-family};
    padding: 0 0.5rem;
  }

  .app-icon {
    font-size: 1.5rem;
  }
}

.app-btn-base {
  background-color: var(--primary-600);
  color: var(--grey-white);
  box-shadow: 0 0 0 rgb(255, 255, 255, 0);
  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary-700);
  }

  &:active {
    background-color: var(--primary-800);
  }

  &:focus-visible {
    outline: 0.0625rem solid var(--primary-900);
    outline-offset: 0.25rem;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    box-shadow: inset 0 0 0 0.0625rem var(--grey-200);
  }
}

.app-btn-outlined {
  background-color: var(--grey-white);
  color: var(--primary-600);
  box-shadow: 0 0 0 0.0625rem var(--primary-600);
  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary-50);
  }

  &:active {
    background-color: var(--primary-100);
  }

  &:focus-visible {
    outline: 0.0625rem solid var(--primary-900);
    outline-offset: 0.25rem;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    box-shadow: inset 0 0 0 0.0625rem var(--grey-200);
  }
}

.app-btn-text {
  background-color: var(--grey-white);
  color: var(--primary-600);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover {
    background-color: var(--primary-50);
  }

  &:active {
    background-color: var(--primary-100);
  }

  &:focus-visible {
    outline: 0.0625rem solid var(--primary-900);
    outline-offset: 0.25rem;
  }

  // disabled design inherited from common styles
}
