@use 'abstract.extracts' as app;

.no-section-text {
  color: var(--grey-600);
  margin: 2.5rem 0 1rem;
}

.sections-container {
  @apply flex flex-col gap-6 mt-6;
}

.section {
  %_push-interactive-content {
    position: relative;
    z-index: 1;
  }

  display: grid;
  grid-template-columns: min-content 2fr auto 1fr 1fr 2fr 2fr min-content;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'selectBtn . . . . . . .'
    'selector nameTitle typeTitle litTitle modifiedTitle initTitle chargesTitle actionTitle'
    'selector nameContent typeContent litContent modifiedContent initContent chargesContent actionContent';
  justify-items: start;
  align-items: start;
  gap: 0.25rem 1rem;
  position: relative;
  background-color: var(--grey-white);
  transition: background-color 0.3s ease-in-out;

  &:has(.section__select-btn:focus-visible) {
    @extend %focus-state;
  }

  &:has(.section__select-btn:hover) {
    background-color: var(--primary-50);
  }

  dl {
    display: contents;
  }

  &__select-btn {
    grid-area: selectBtn;
    height: 0rem;
    width: 0rem;
    text-indent: -999rem;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
    }
  }

  &__selector {
    @extend %_push-interactive-content;
    grid-area: selector;
    justify-self: center;
    align-self: center;
  }

  &__title-name {
    grid-area: nameTitle;
  }

  &__title-type {
    grid-area: typeTitle;
  }

  &__title-lit {
    grid-area: litTitle;
  }

  &__title-date {
    grid-area: modifiedTitle;
  }

  &__title-init {
    grid-area: initTitle;
  }

  &__title-charges {
    grid-area: chargesTitle;
  }

  &__title-action {
    grid-area: actionTitle;
    justify-self: center;
  }

  &__text-name {
    grid-area: nameContent;
  }

  &__text-type {
    grid-area: typeContent;
  }

  &__text-lit {
    grid-area: litContent;
  }

  &__text-date {
    grid-area: modifiedContent;
  }

  &__content-init {
    @extend %_push-interactive-content;
    grid-area: initContent;
  }

  &__content-charges {
    @extend %_push-interactive-content;
    grid-area: chargesContent;
  }

  &__content-action {
    @extend %_push-interactive-content;
    grid-area: actionContent;
    justify-self: center;
  }

  dt,
  &__title-init,
  &__title-action,
  &__title-charges {
    @extend %text-s-400;
    color: var(--grey-700);
  }

  dd {
    @extend %text-m-400;
    color: var(--grey-900);
  }
}

.erase-btn {
  color: var(--error-600);
}

.sticky-btn-wrapper {
  @apply sticky text-right p-6 -bottom-6 -inset-x-6 -mx-6 flex gap-2 justify-end;
  background-image: linear-gradient(rgb(from var(--grey-white) r g b / 0), rgb(from var(--grey-white) r g b / 0.9) 70%);
}
