<p-tabs
  [value]="tabValue()"
  (valueChange)="tabValueChange($event)"
  class="basis-[50rem] {{ mode() === 'view' ? 'mt-0' : 'mt-4' }}"
>
  <p-tablist>
    <p-tab (onSelect)="tabValue.set('general')" value="general" i18n>
      General
    </p-tab>
    <p-tab (onSelect)="tabValue.set('supports')" value="supports" i18n>
      Supports
    </p-tab>
    @if (mode() === 'view') {
      <p-tab (onSelect)="tabValue.set('graphical')" value="graphical" i18n>
        Graphical view
      </p-tab>
    }
  </p-tablist>

  <p-tabpanels>
    <p-tabpanel value="general">
      <div class="section-form-part">
        <h3 class="title-underline" i18n>Section</h3>
        <div class="section-form-part-grid">
          <div class="flex flex-col col-span-2">
            <label for="sectionName" i18n>
              Section name
              <sup class="mandatory">*</sup>
            </label>
            <input
              type="text"
              pInputText
              id="sectionName"
              [disabled]="mode() === 'view'"
              required
              [(ngModel)]="section().name"
              (ngModelChange)="onSectionChange()"
            />
          </div>

          <div class="flex flex-col">
            <label for="sectionType" i18n>
              Section type
              <sup class="mandatory">*</sup>
            </label>
            <p-select
              inputId="sectionType"
              [options]="sectionTypes"
              [(ngModel)]="section().type"
              optionLabel="name"
              optionValue="code"
              [disabled]="mode() === 'view'"
              required
              (ngModelChange)="onSectionChange()"
              [showClear]="true"
              [filter]="true"
              filterBy="name"
            />
          </div>

          <div class="flex flex-col">
            <label for="epn" i18n>Electric phase number</label>
            <input
              id="epn"
              type="number"
              pInputText
              [disabled]="mode() === 'view'"
              [(ngModel)]="section().electric_phase_number"
              (ngModelChange)="onSectionChange()"
            />
          </div>

          <div class="flex flex-col">
            <label for="cableName" i18n>
              Cable name
              <sup class="mandatory">*</sup>
            </label>
            <input
              type="text"
              id="cableName"
              pInputText
              [disabled]="mode() === 'view'"
              required
              [(ngModel)]="section().cable_name"
              (ngModelChange)="onSectionChange()"
            />
          </div>

          <div class="flex flex-col">
            <label for="cableAmount" i18n>
              Cable amount
              <sup class="mandatory">*</sup>
            </label>
            <input
              id="cableAmount"
              type="number"
              min="0"
              pInputText
              [disabled]="mode() === 'view'"
              required
              [(ngModel)]="section().cables_amount"
              (ngModelChange)="onSectionChange()"
            />
          </div>
        </div>
      </div>

      <div class="section-form-part">
        <h3 class="title-underline" i18n>Maintenance</h3>
        <div class="section-form-part-grid">
          <div class="flex flex-col">
            <label for="maintCm" i18n>CM</label>
            <p-select
              inputId="sectionType"
              [options]="maintenanceSelectCm"
              [(ngModel)]="section().cm"
              optionLabel="name"
              optionValue="code"
              [disabled]="mode() === 'view'"
              (ngModelChange)="onSectionChange()"
              [showClear]="true"
              [filter]="true"
              filterBy="name"
            />
          </div>

          <div class="flex flex-col">
            <label for="maintGmr" i18n>GMR</label>
            <p-select
              inputId="maintGmr"
              [options]="maintenanceSelectGmr"
              [(ngModel)]="section().gmr"
              optionLabel="name"
              optionValue="code"
              [disabled]="mode() === 'view'"
              (ngModelChange)="onSectionChange()"
              [showClear]="true"
              [filter]="true"
              filterBy="name"
            />
          </div>

          <div class="flex flex-col">
            <label for="maintEel" i18n>EEL</label>
            <p-select
              inputId="maintEel"
              [options]="maintenanceSelect.eel"
              [(ngModel)]="section().eel"
              optionLabel="name"
              optionValue="code"
              [disabled]="mode() === 'view'"
              (ngModelChange)="onSectionChange()"
              [showClear]="true"
              [filter]="true"
              filterBy="name"
            />
          </div>
        </div>
      </div>

      <div class="section-form-part">
        <h3 class="title-underline" i18n>Link</h3>
        <div class="section-form-part-grid">
          <div class="flex flex-col">
            <label for="linkEtl" i18n>Electric tension level</label>
            <p-select
              inputId="linkEtl"
              [options]="linkSelect.tensionLevel"
              [(ngModel)]="section().electric_tension_level"
              optionLabel="name"
              optionValue="code"
              [disabled]="mode() === 'view'"
              (ngModelChange)="onSectionChange()"
              [showClear]="true"
              [filter]="true"
              filterBy="name"
            />
          </div>

          <div class="flex flex-col">
            <label for="linkName" i18n>Link name</label>
            <p-select
              inputId="linkName"
              [options]="linkSelectName"
              [(ngModel)]="section().link_name"
              optionLabel="name"
              optionValue="code"
              [disabled]="mode() === 'view'"
              (ngModelChange)="onSectionChange()"
              [showClear]="true"
              [filter]="true"
              filterBy="name"
              [editable]="true"
            />
          </div>

          <div class="flex flex-col">
            <label for="linkLit" i18n>LIT</label>
            <p-select
              inputId="linkLit"
              [options]="linkSelectLit"
              [(ngModel)]="section().lit"
              optionLabel="name"
              optionValue="code"
              [disabled]="mode() === 'view'"
              (ngModelChange)="onSectionChange()"
              [showClear]="true"
              [filter]="true"
              filterBy="name"
              [editable]="true"
            />
          </div>

          <div class="flex flex-col">
            <label for="linkBm" i18n>Branch name</label>
            <p-select
              inputId="linkBm"
              [options]="linkSelectBranch"
              [(ngModel)]="section().branch_name"
              optionLabel="name"
              optionValue="code"
              [disabled]="mode() === 'view'"
              (ngModelChange)="onSectionChange()"
              [showClear]="true"
              [filter]="true"
              filterBy="name"
              [editable]="true"
            />
          </div>
        </div>
      </div>

      <div class="section-form-part">
        <h3 class="title-underline" i18n>Comment</h3>
        <div class="flex flex-col">
          <label for="comment" i18n>Electric tension level</label>
          <textarea
            pTextarea
            id="comment"
            [(ngModel)]="section().comment"
            (ngModelChange)="onSectionChange()"
            [disabled]="mode() === 'view'"
          ></textarea>
        </div>
      </div>
    </p-tabpanel>

    <p-tabpanel value="supports">
      <div class="flex flex-col gap-4 mt-2">
        <div class="flex flex-col">
          <label for="supportsAmount" i18n>Supports amount</label>
          <p-inputnumber
            class="w-32"
            min="0"
            [disabled]="mode() === 'view'"
            [ngModel]="section().supports.length || 0"
            [showButtons]="true"
            buttonLayout="horizontal"
            inputId="supportsAmount"
            spinnerMode="horizontal"
            (onBlur)="onSupportsAmountChangeBlur($event)"
            (onInput)="onSupportsAmountChangeInput($event)"
          >
            <ng-template #incrementbuttonicon>
              <app-icon icon="add" />
            </ng-template>
            <ng-template #decrementbuttonicon>
              <app-icon icon="remove" />
            </ng-template>
          </p-inputnumber>
        </div>
        <app-supports-table
          [mode]="mode()"
          [supports]="section().supports || []"
          (addSupport)="addSupport($event.index, $event.position)"
          (deleteSupport)="deleteSupport($event)"
          (supportChange)="onSupportChange($event)"
        />
      </div>
    </p-tabpanel>
    @if (mode() === 'view') {
      <p-tabpanel value="graphical">
        <div class="mt-2">
          <app-studio></app-studio>
        </div>
      </p-tabpanel>
    }
  </p-tabpanels>
</p-tabs>
