@use 'abstract.extracts' as app;

.section-form-part {
  @apply mt-4;
}

.section-form-part-grid {
  @apply grid grid-cols-4 gap-x-8 gap-y-4;
  align-items: flex-end;
  padding-right: 20%;

  &.lines-form-grid {
    grid-template-areas: 'a . . .'
      'b c c .'
      'd e e f';
  }
}

label,
dt {
  @extend %text-s-400;
  color: var(--grey-700);
}

dt {
  @extend %label-spacing;
}

:host {
  flex-grow: 1;
}