<ng-template #header>
  <p class="text-l-600 mb-0 flex gap-2 items-center">
    <app-icon icon="build" />
    <span i18n>VTL & Guying</span>
  </p>
</ng-template>

@if (!loading()) {
  <div class="vtl-guying">
    <div class="vtl-guying__left">
      <div class="vtl-guying__support-selection">
        <div class="vtl-guying__form-field">
          <label for="span-select" i18n>Span</label>
          <p-select
            id="span-select"
            [options]="this.plotService.getSpanOptions()"
            optionLabel="label"
            optionValue="value"
            [ngModel]="selectedSpan()"
            (ngModelChange)="
              selectedSpan.set($event); selectedSupport.set(null)
            "
            appendTo="body"
            styleClass="w-[12.5rem]"
          />
        </div>
        <div class="vtl-guying__form-field">
          <label for="support-select" i18n>Support</label>
          <p-select
            id="support-select"
            [options]="supportOptions()"
            optionLabel="label"
            optionValue="value"
            [ngModel]="selectedSupport()"
            (ngModelChange)="selectedSupport.set($event); results.set(null)"
            [disabled]="selectedSpan() === null"
            appendTo="body"
            styleClass="w-[12.5rem]"
          />
        </div>
        <dl class="vtl-guying__support-type">
          <dt class="vtl-guying__support-type-label" i18n>Support type:</dt>
          <dd class="vtl-guying__support-type-value">
            {{ supportType() ?? '-' }}
          </dd>
        </dl>
      </div>
      <hr class="my-3" />

      <section class="vtl-guying__vtl-section">
        <header class="vtl-guying__section-header">
          <h3 class="vtl-guying__section-title underline-text" i18n>
            VTL without guying
          </h3>
          <button
            app-btn
            btnSize="s"
            btnStyle="outlined"
            type="button"
            (click)="onExportVhl()"
            class="vtl-guying__export-btn"
            [disabled]="true"
          >
            <app-icon icon="download" />
            <span i18n>Export</span>
          </button>
        </header>
        <dl class="vtl-guying__vtl-fields">
          <div class="vtl-guying__vtl-field">
            <dt i18n>Charge V</dt>
            <dd class="vtl-guying__vtl-value">
              {{ vtlWithoutGuying()?.chargeV | number: '1.0-3' }}&nbsp;daN
            </dd>
          </div>
          <div class="vtl-guying__vtl-field">
            <dt i18n>Charge T</dt>
            <dd class="vtl-guying__vtl-value">
              {{
                (vtlWithoutGuying()?.chargeH | number: '1.0-3') ?? '-'
              }}&nbsp;daN
            </dd>
          </div>
          <div class="vtl-guying__vtl-field">
            <dt i18n>Charge L</dt>
            <dd class="vtl-guying__vtl-value">
              {{
                (vtlWithoutGuying()?.chargeL | number: '1.0-3') ?? '-'
              }}&nbsp;daN
            </dd>
          </div>
          <div class="vtl-guying__vtl-field">
            <dt i18n>Resultant</dt>
            <dd class="vtl-guying__vtl-value">
              {{
                (vtlWithoutGuying()?.resultant | number: '1.0-3') ?? '-'
              }}&nbsp;daN
            </dd>
          </div>
        </dl>
      </section>

      <hr class="my-3" />

      <section class="vtl-guying__guying-section">
        <div>
          <h3 class="vtl-guying__section-title underline-text" i18n>Guying</h3>
        </div>
        <div class="flex flex-row gap-3">
          <div class="vtl-guying__form-field">
            <label for="altitude-input">a</label>
            <p-inputgroup>
              <input
                id="altitude-input"
                type="number"
                pInputText
                [ngModel]="altitude()"
                (ngModelChange)="altitude.set($event); results.set(null)"
              />
              <p-inputgroup-addon>m</p-inputgroup-addon>
            </p-inputgroup>
          </div>
          <div class="vtl-guying__form-field">
            <label for="horizontal-distance-input">d</label>
            <p-inputgroup>
              <input
                pInputText
                type="number"
                id="horizontal-distance-input"
                [ngModel]="horizontalDistance()"
                (ngModelChange)="
                  horizontalDistance.set($event); results.set(null)
                "
              />
              <p-inputgroup-addon>m</p-inputgroup-addon>
            </p-inputgroup>
          </div>
        </div>
        <div class="vtl-guying__form-field vtl-guying__form-field--checkbox">
          <p-checkbox
            [binary]="true"
            [ngModel]="hasPulley()"
            (ngModelChange)="hasPulley.set($event)"
            inputId="pulley-checkbox"
          />
          <label for="pulley-checkbox" i18n>Pulley</label>
        </div>
        <div class="vtl-guying__calculate-btn-container">
          <button
            app-btn
            btnSize="m"
            btnStyle="base"
            type="button"
            [disabled]="
              altitude() === null ||
              horizontalDistance() === null ||
              selectedSupport() === null
            "
            (click)="onCalculate()"
            class="vtl-guying__calculate-btn"
          >
            <app-icon icon="rocket_launch" />
            <span i18n>Calculate</span>
          </button>
        </div>
      </section>

      <hr class="my-3" />

      @if (results()) {
        <section class="vtl-guying__results-section">
          <div>
            <h3 class="vtl-guying__section-title underline-text" i18n>
              Results
            </h3>
          </div>
          <dl class="vtl-guying__results-fields">
            <div class="vtl-guying__result-column">
              <div class="vtl-guying__result-field">
                <dt i18n>Tension in the guy line</dt>
                <dd class="vtl-guying__result-value">
                  {{
                    (results()?.tensionInGuy | number: '1.0-3') ?? '-'
                  }}&nbsp;daN
                </dd>
              </div>
              <div class="vtl-guying__result-field">
                <dt i18n>Angle guy line / Horizon</dt>
                <dd class="vtl-guying__result-value">
                  {{ (results()?.guyAngle | number: '1.0-3') ?? '-' }}&nbsp;°
                </dd>
              </div>
            </div>
            <div class="vtl-guying__result-column">
              <div class="vtl-guying__result-field">
                <dt i18n>Charge V under console</dt>
                <dd class="vtl-guying__result-value">
                  {{
                    (results()?.chargeVUnderConsole | number: '1.0-3') ?? '-'
                  }}&nbsp;daN
                </dd>
              </div>
              <div class="vtl-guying__result-field">
                <dt i18n>Charge T under console</dt>
                <dd class="vtl-guying__result-value">
                  {{
                    (results()?.chargeHUnderConsole | number: '1.0-3') ?? '-'
                  }}&nbsp;daN
                </dd>
              </div>
              <div class="vtl-guying__result-field">
                <dt i18n>Charge L (if pulley)</dt>
                <dd class="vtl-guying__result-value">
                  {{
                    (results()?.chargeLIfPulley | number: '1.0-3') ?? '-'
                  }}&nbsp;daN
                </dd>
              </div>
            </div>
            <div
              class="vtl-guying__result-field vtl-guying__result-field--comment w-[50%]"
            >
              <label for="comment-textarea" i18n>Comment</label>
              <textarea
                pTextarea
                id="comment-textarea"
                [ngModel]="comment()"
                (ngModelChange)="comment.set($event)"
                [rows]="3"
                i18n-placeholder
                placeholder="Add a comment for the export."
                class="w-full"
              ></textarea>
            </div>
          </dl>
          <div class="vtl-guying__info-text w-[35rem]">
            <app-icon icon="info" class="vtl-guying__info-icon" />
            <p i18n>
              For a stop or a suspension without pulley, the tension in the guy
              line allows to balance the longitudinal charges at the console
              level (no L). For a suspension with a pulley, the tension in the
              guy line is the maximum tension in all the cables of the bundle
              and a longitudinal charge appears.
            </p>
          </div>
        </section>
      }
    </div>

    <div class="vtl-guying__right">
      <app-card role="generic">
        <img
          src="img/guying-help.png"
          alt="Diagram showing guying configuration with altitude (a) and horizontal distance (d) parameters"
        />
      </app-card>
    </div>
  </div>
} @else {
  <div class="vtl-guying__loading">
    <p-progressSpinner aria-label="Loading" />
    <span class="vtl-guying__loading-text" i18n>Loading data…</span>
  </div>
}
<ng-template #footer>
  <div class="vtl-guying__dialog-footer">
    <button
      [disabled]="true"
      app-btn
      type="button"
      btnSize="m"
      (click)="onExport()"
    >
      <app-icon icon="download" />
      <span i18n>Export</span>
    </button>
  </div>
</ng-template>
