<app-attachment-set-modal
  [isOpen]="attachmentSetModalOpen()"
  (isOpenChange)="attachmentSetModalOpen.set($event)"
  [support]="supportForAttachmentSetModal()"
  (validateForm)="onValidateFormAttachmentSetModal($event)"
  [section]="null"
/>
<p-table
  [value]="supports()"
  [paginator]="true"
  [rows]="rows()"
  [first]="first()"
  class="mb-4"
  paginatorStyleClass="!hidden"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="sticky-left" id="support_number" i18n>Position</th>
      <th
        id="support_number"
        (dblclick)="onSupportNumberDoubleClick('number')"
        class="integer-column"
      >
        <ng-container i18n>Number</ng-container>
        <sup class="mandatory">*</sup>
      </th>
      <th
        id="span_length"
        (dblclick)="onSupportNumberDoubleClick('spanLength')"
        class="decimal-column"
      >
        <ng-container i18n>Span l.</ng-container>
        <sup class="mandatory">*</sup>
      </th>
      <th
        id="span_angle"
        (dblclick)="onSupportNumberDoubleClick('spanAngle')"
        class="decimal-column"
      >
        <ng-container i18n>Angle</ng-container>
        <sup class="mandatory">*</sup>
      </th>
      <th
        id="chain_name"
        (dblclick)="onSupportNumberDoubleClick('chainName')"
        i18n
        class="text-column"
      >
        Chain name
      </th>
      <th
        id="chain_length"
        (dblclick)="onSupportNumberDoubleClick('chainLength')"
        class="decimal-column"
      >
        <ng-container i18n>Chain l.</ng-container>
        <sup class="mandatory">*</sup>
      </th>
      <th
        id="chain_weight"
        (dblclick)="onSupportNumberDoubleClick('chainWeight')"
        i18n
        class="decimal-column"
      >
        Chain w.
      </th>
      <th
        id="support_name"
        (dblclick)="onSupportNumberDoubleClick('name')"
        i18n
        class="text-column"
      >
        Support name
      </th>

      <th
        id="attachment_set"
        (dblclick)="onSupportNumberDoubleClick('attachmentSet')"
        i18n
        class="text-column"
      >
        Attachment set
      </th>
      <th
        id="arm_length"
        (dblclick)="onSupportNumberDoubleClick('armLength')"
        i18n
        class="decimal-column"
      >
        Arm l.
      </th>

      <th
        id="attachment_height"
        (dblclick)="onSupportNumberDoubleClick('attachmentHeight')"
        class="decimal-column"
      >
        <ng-container i18n>Attachment alt. (NGF)</ng-container>
        <sup class="mandatory">*</sup>
      </th>
      <th
        id="chain_v"
        (dblclick)="onSupportNumberDoubleClick('chainV')"
        i18n
        class="boolean-column"
      >
        Chain V
      </th>
      <th
        id="counter_weight"
        (dblclick)="onSupportNumberDoubleClick('counterWeight')"
        i18n
        class="decimal-column"
      >
        Counter weight
      </th>
      <th
        id="support_foot_altitude"
        (dblclick)="onSupportNumberDoubleClick('supportFootAltitude')"
        class="decimal-column"
      >
        <ng-container i18n>Supp. foot alt.</ng-container>
        <app-icon class="align-middle pl-1" icon="rocket_launch" />
      </th>
      <th
        id="attachment_position"
        (dblclick)="onSupportNumberDoubleClick('attachmentPosition')"
        i18n
        class="decimal-column"
      >
        Attachment pos.
      </th>
      <th
        id="chain_surface"
        (dblclick)="onSupportNumberDoubleClick('chainSurface')"
        i18n
        class="decimal-column"
      >
        Chain surface
      </th>

      @if (mode() === 'create' || mode() === 'edit') {
        <th class="sticky-right" id="actions" i18n>Actions</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-support let-index="index" let-rowIndex="rowIndex">
    <tr>
      <td class="sticky-left">
        {{ rowIndex + 1 }}
      </td>
      <td class="integer-column">
        @if (mode() !== 'view') {
          <input
            pInputText
            type="number"
            min="0"
            aria-label="support number"
            i18n-aria-label
            [ngModel]="support.number"
            [pKeyFilter]="onlyPositiveNumbers"
            (ngModelChange)="
              onSupportFieldChange(support.uuid, 'number', $event)
            "
          />
        } @else {
          <p class="read-only_info">{{ support.number }}</p>
        }
      </td>
      <td class="decimal-column">
        @if (mode() !== 'view') {
          <p-inputgroup>
            <input
              pInputText
              type="number"
              step="0.01"
              aria-label="span length"
              i18n-aria-label
              [pKeyFilter]="onlyPositiveNumbersWithDecimal"
              [ngModel]="support.spanLength"
              (ngModelChange)="
                onSupportFieldChange(support.uuid, 'spanLength', $event)
              "
            />
            <p-inputgroup-addon i18n>m</p-inputgroup-addon>
          </p-inputgroup>
        } @else {
          <p class="read-only_info">
            {{ support.spanLength }}
            @if (isNumber(support.spanLength)) {
              <ng-container i18n>m</ng-container>
            }
          </p>
        }
      </td>
      <td class="decimal-column">
        @if (mode() !== 'view') {
          <p-inputgroup>
            <input
              pInputText
              aria-label="span angle"
              [pKeyFilter]="positiveAndNegativeNumbersWithDecimal"
              i18n-aria-label
              [ngModel]="support.spanAngle"
              (ngModelChange)="
                onSupportFieldChange(support.uuid, 'spanAngle', $event)
              "
            />
            <p-inputgroup-addon i18n>Gr</p-inputgroup-addon>
          </p-inputgroup>
        } @else {
          <p class="read-only_info">
            {{ support.spanAngle }}
            @if (isNumber(support.spanAngle)) {
              <ng-container i18n>Gr</ng-container>
            }
          </p>
        }
      </td>
      <td class="text-column">
        @if (mode() !== 'view') {
          <p-select
            [options]="chains()"
            aria-label="chain name"
            i18n-aria-label
            [ngModel]="support.chainName"
            optionLabel="name"
            type="text"
            optionValue="name"
            appendTo="body"
            (ngModelChange)="
              onSupportFieldChange(support.uuid, 'chainName', $event)
            "
          />
        } @else {
          <p class="read-only_info">
            {{ support.chainName }}
            @if (isNumber(support.chainName)) {
              <ng-container i18n>Gr</ng-container>
            }
          </p>
        }
      </td>
      <td class="decimal-column">
        @if (mode() !== 'view') {
          <p-inputgroup>
            <input
              pInputText
              type="number"
              min="0"
              step="0.01"
              aria-label="chain length"
              [pKeyFilter]="onlyPositiveNumbersWithDecimal"
              i18n-aria-label
              [ngModel]="support.chainLength"
              (ngModelChange)="
                onSupportFieldChange(support.uuid, 'chainLength', $event)
              "
            />
            <p-inputgroup-addon i18n>m</p-inputgroup-addon>
          </p-inputgroup>
        } @else {
          <p class="read-only_info">
            {{ support.chainLength }}
            @if (isNumber(support.chainLength)) {
              <ng-container i18n>m</ng-container>
            }
          </p>
        }
      </td>
      <td class="decimal-column">
        @if (mode() !== 'view') {
          <p-inputgroup>
            <input
              pInputText
              type="number"
              min="0"
              step="0.01"
              aria-label="chain weight"
              [pKeyFilter]="onlyPositiveNumbersWithDecimal"
              i18n-aria-label
              [ngModel]="support.chainWeight"
              (ngModelChange)="
                onSupportFieldChange(support.uuid, 'chainWeight', $event)
              "
            />
            <p-inputgroup-addon i18n>kg</p-inputgroup-addon>
          </p-inputgroup>
        } @else {
          <p class="read-only_info">
            {{ support.chainWeight }}
            @if (isNumber(support.chainWeight)) {
              <ng-container i18n>kg</ng-container>
            }
          </p>
        }
      </td>
      <td class="text-column">
        @if (mode() !== 'view') {
          <p-iconfield>
            <input
              class="w-full"
              pInputText
              type="text"
              aria-label="support name"
              i18n-aria-label
              [ngModel]="support.name"
              pKeyFilter="alphanum"
              (ngModelChange)="
                onSupportFieldChange(support.uuid, 'name', $event)
              "
            />
            <p-inputicon>
              <button
                app-btn
                btnSize="s"
                btnStyle="text"
                aria-label="open attachment set modal"
                i18n-aria-label
                (click)="openAttachmentSetModal(support.uuid)"
              >
                <app-icon icon="visibility" class="text-black" />
              </button>
            </p-inputicon>
          </p-iconfield>
        } @else {
          <p class="read-only_info">{{ support.name }}</p>
        }
      </td>
      <td class="text-column">
        @if (mode() !== 'view') {
          <input
            pInputText
            aria-label="attachment set"
            i18n-aria-label
            [ngModel]="support.attachmentSet"
            (ngModelChange)="
              onSupportFieldChange(support.uuid, 'attachmentSet', $event)
            "
          />
        } @else {
          <p class="read-only_info">{{ support.attachmentSet }}</p>
        }
      </td>
      <td class="decimal-column">
        @if (mode() !== 'view') {
          <p-inputgroup>
            <input
              pInputText
              aria-label="arm length"
              i18n-aria-label
              [pKeyFilter]="positiveAndNegativeNumbersWithDecimal"
              [ngModel]="support.armLength"
              (ngModelChange)="
                onSupportFieldChange(support.uuid, 'armLength', $event)
              "
            />
            <p-inputgroup-addon i18n>m</p-inputgroup-addon>
          </p-inputgroup>
        } @else {
          <p class="read-only_info">
            {{ support.armLength }}
            @if (isNumber(support.armLength)) {
              <ng-container i18n>m</ng-container>
            }
          </p>
        }
      </td>
      <td class="decimal-column">
        @if (mode() !== 'view') {
          <p-inputgroup>
            <input
              pInputText
              type="number"
              min="0"
              step="0.01"
              aria-label="attachment height"
              i18n-aria-label
              [pKeyFilter]="positiveAndNegativeNumbersWithDecimal"
              [ngModel]="support.attachmentHeight"
              (ngModelChange)="
                onSupportFieldChange(support.uuid, 'attachmentHeight', $event)
              "
            />
            <p-inputgroup-addon i18n>m</p-inputgroup-addon>
          </p-inputgroup>
        } @else {
          <p class="read-only_info">
            {{ support.attachmentHeight }}
            @if (isNumber(support.attachmentHeight)) {
              <ng-container i18n>m</ng-container>
            }
          </p>
        }
      </td>
      <td>
        @if (mode() !== 'view') {
          <p-select
            [options]="optionsChainV"
            appendTo="body"
            aria-label="chain V"
            i18n-aria-label
            [ngModel]="support.chainV"
            optionLabel="label"
            optionValue="value"
            (ngModelChange)="
              onSupportFieldChange(support.uuid, 'chainV', $event)
            "
          />
        } @else {
          <p class="read-only_info">{{ support.chainV }}</p>
        }
      </td>
      <td class="decimal-column">
        @if (mode() !== 'view') {
          <p-inputgroup>
            <input
              pInputText
              type="number"
              min="0"
              step="0.01"
              aria-label="counter weight"
              i18n-aria-label
              [pKeyFilter]="onlyPositiveNumbersWithDecimal"
              [ngModel]="support.counterWeight"
              (ngModelChange)="
                onSupportFieldChange(support.uuid, 'counterWeight', $event)
              "
            />
            <p-inputgroup-addon i18n>kg</p-inputgroup-addon>
          </p-inputgroup>
        } @else {
          <p class="read-only_info">
            {{ support.counterWeight }}
            @if (isNumber(support.counterWeight)) {
              <ng-container i18n>kg</ng-container>
            }
          </p>
        }
      </td>
      <td class="decimal-column">
        @if (mode() !== 'view') {
          <p-inputgroup>
            <input
              pInputText
              type="number"
              min="0"
              step="0.01"
              aria-label="support foot altitude"
              i18n-aria-label
              [pKeyFilter]="onlyPositiveNumbersWithDecimal"
              [ngModel]="support.supportFootAltitude"
              (ngModelChange)="
                onSupportFieldChange(
                  support.uuid,
                  'supportFootAltitude',
                  $event
                )
              "
            />
            @if (isNumber(support.supportFootAltitude)) {
              <p-inputgroup-addon i18n>m</p-inputgroup-addon>
            }
          </p-inputgroup>
        } @else {
          <p class="read-only_info">
            {{ support.supportFootAltitude }}
            @if (isNumber(support.supportFootAltitude)) {
              <ng-container i18n>m</ng-container>
            }
          </p>
        }
      </td>
      <td class="decimal-column">
        @if (mode() !== 'view') {
          <input
            pInputText
            type="number"
            min="0"
            step="0.01"
            aria-label="attachment position"
            i18n-aria-label
            [pKeyFilter]="onlyPositiveNumbersWithDecimal"
            [ngModel]="support.attachmentPosition"
            (ngModelChange)="
              onSupportFieldChange(support.uuid, 'attachmentPosition', $event)
            "
          />
        } @else {
          <p class="read-only_info">{{ support.attachmentPosition }}</p>
        }
      </td>
      <td class="decimal-column">
        @if (mode() !== 'view') {
          <p-inputgroup>
            <input
              pInputText
              type="number"
              min="0"
              step="0.01"
              aria-label="chain surface"
              i18n-aria-label
              [pKeyFilter]="onlyPositiveNumbersWithDecimal"
              [ngModel]="support.chainSurface"
              (ngModelChange)="
                onSupportFieldChange(support.uuid, 'chainSurface', $event)
              "
            />
            <p-inputgroup-addon i18n>m²</p-inputgroup-addon>
          </p-inputgroup>
        } @else {
          <p class="read-only_info">
            {{ support.chainSurface }}
            @if (isNumber(support.chainSurface)) {
              <ng-container i18n>m²</ng-container>
            }
          </p>
        }
      </td>
      @if (mode() === 'edit' || mode() === 'create') {
        <td class="sticky-right">
          <button
            app-btn
            btnSize="s"
            btnStyle="text"
            (click)="popover.toggle($event)"
          >
            <span class="pi pi-ellipsis-h"></span>
          </button>
          <p-popover #popover>
            <ng-template pTemplate="content">
              <div class="flex flex-col gap-2">
                <button
                  app-btn
                  btnSize="s"
                  btnStyle="text"
                  (click)="
                    addSupport.emit({ index: rowIndex, position: 'before' })
                  "
                >
                  <app-icon icon="add" />
                  <span i18n>Add support before</span>
                </button>
                <button
                  app-btn
                  btnSize="s"
                  btnStyle="text"
                  (click)="
                    addSupport.emit({ index: rowIndex, position: 'after' })
                  "
                >
                  <app-icon icon="add" />
                  <span i18n>Add support after</span>
                </button>
                <button
                  app-btn
                  btnSize="s"
                  btnStyle="text"
                  class="erase-btn"
                  (click)="deleteSupport.emit(support.uuid)"
                >
                  <app-icon icon="delete" />
                  <span i18n>Delete support</span>
                </button>
              </div>
            </ng-template>
          </p-popover>
        </td>
      }
    </tr>
  </ng-template>
</p-table>
