.sticky-left,
.sticky-right {
  position: sticky;
  z-index: 1;
  background-color: var(--grey-white);
}

.sticky-left {
  left: 0;
}

.sticky-right {
  right: 0;
}

td {
  $_txtInputW: 9.7rem;

  >* {
    width: 9rem;
  }

  >[type=text] {
    width: $_txtInputW;
  }

  :has([type=text]) {
    width: $_txtInputW;
  }

  .p-inputicon {
    top: 40%;
  }
}