.sticky-left,
.sticky-right {
  position: sticky;
  z-index: 1;
  background-color: var(--grey-white);
}

.sticky-left {
  left: 0;
}

.sticky-right {
  right: 0;
}

.integer-column {
  width: 6rem;
  min-width: 6rem;
  max-width: 6rem;
}

.decimal-column {
  width: 9rem;
  min-width: 9rem;
  max-width: 9rem;
}

.text-column {
  width: 11rem;
  min-width: 11rem;
  max-width: 11rem;
}

.boolean-column {
  width: 8rem;
  min-width: 8rem;
  max-width: 8rem;
}

td {
  >* {
    width: 100%;
  }

  .p-inputicon {
    top: 40%;
  }
}