<p-table
  [value]="supports()"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 20]"
  [showCurrentPageReport]="true"
  class="mb-4"
  [paginatorDropdownAppendTo]="'body'"
  [currentPageReportTemplate]="'Support {first} to {last} of {totalRecords}'"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="sticky-left" id="support_number" i18n>Position</th>
      <th id="support_number" i18n>Number</th>
      <th id="support_name" i18n>Name</th>
      <th id="span_length" i18n>Span length (m)</th>
      <th id="span_angle" i18n>Span angle (Gr)</th>
      <th id="attachment_height" i18n>Attachment height (m)</th>
      <th id="cable_type" i18n>Cable (NGF)</th>
      <th id="arm_length" i18n>Arm length (m)</th>
      <th id="chain_name" i18n>Chain name</th>
      <th id="chain_length" i18n>Chain length (m)</th>
      <th id="chain_weight" i18n>Chain weight (kg)</th>
      <th id="chain_v" i18n>Chain V</th>
      <th class="sticky-right" id="actions" i18n>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-support let-index="index" let-rowIndex="rowIndex">
    <tr>
      <td class="sticky-left">
        {{ rowIndex + 1 }}
      </td>
      <td>
        <input
          pInputText
          type="number"
          [ngModel]="support.number"
          (ngModelChange)="onSupportFieldChange(support.uuid, 'number', $event)"
        />
      </td>
      <td>
        <input
          pInputText
          type="text"
          [ngModel]="support.name"
          (ngModelChange)="onSupportFieldChange(support.uuid, 'name', $event)"
        />
      </td>
      <td>
        <input
          pInputText
          type="number"
          step="0.01"
          [ngModel]="support.spanLength"
          (ngModelChange)="
            onSupportFieldChange(support.uuid, 'spanLength', $event)
          "
        />
      </td>
      <td>
        <input
          pInputText
          type="number"
          step="0.01"
          [ngModel]="support.spanAngle"
          (ngModelChange)="
            onSupportFieldChange(support.uuid, 'spanAngle', $event)
          "
        />
      </td>
      <td>
        <input
          pInputText
          type="number"
          step="0.01"
          [ngModel]="support.attachmentHeight"
          (ngModelChange)="
            onSupportFieldChange(support.uuid, 'attachmentHeight', $event)
          "
        />
      </td>
      <td>
        <input
          pInputText
          type="text"
          [ngModel]="support.cableType"
          (ngModelChange)="
            onSupportFieldChange(support.uuid, 'cableType', $event)
          "
        />
      </td>
      <td>
        <input
          pInputText
          type="number"
          step="0.01"
          [ngModel]="support.armLength"
          (ngModelChange)="
            onSupportFieldChange(support.uuid, 'armLength', $event)
          "
        />
      </td>
      <td>
        <input
          pInputText
          type="text"
          [ngModel]="support.chainName"
          (ngModelChange)="
            onSupportFieldChange(support.uuid, 'chainName', $event)
          "
        />
      </td>
      <td>
        <input
          pInputText
          type="number"
          step="0.01"
          [ngModel]="support.chainLength"
          (ngModelChange)="
            onSupportFieldChange(support.uuid, 'chainLength', $event)
          "
        />
      </td>
      <td>
        <input
          pInputText
          type="number"
          step="0.01"
          [ngModel]="support.chainWeight"
          (ngModelChange)="
            onSupportFieldChange(support.uuid, 'chainWeight', $event)
          "
        />
      </td>
      <td>
        <input
          pInputText
          type="text"
          [ngModel]="support.chainV"
          (ngModelChange)="onSupportFieldChange(support.uuid, 'chainV', $event)"
        />
      </td>
      <td class="sticky-right">
        <button
          app-btn
          btnSize="s"
          btnStyle="text"
          (click)="popover.toggle($event)"
        >
          <span class="pi pi-ellipsis-h"></span>
        </button>
        <p-popover #popover>
          <ng-template pTemplate="content">
            <div class="flex flex-col gap-2">
              <button
                app-btn
                btnSize="s"
                btnStyle="text"
                (click)="
                  addSupport.emit({ index: rowIndex, position: 'before' })
                "
              >
                <app-icon icon="add" />
                <span i18n>Add support before</span>
              </button>
              <button
                app-btn
                btnSize="s"
                btnStyle="text"
                (click)="
                  addSupport.emit({ index: rowIndex, position: 'after' })
                "
              >
                <app-icon icon="add" />
                <span i18n>Add support after</span>
              </button>
              <button
                app-btn
                btnSize="s"
                btnStyle="text"
                (click)="deleteSupport.emit(support.uuid)"
              >
                <app-icon icon="delete" />
                <span i18n>Delete support</span>
              </button>
            </div>
          </ng-template>
        </p-popover>
      </td>
    </tr>
  </ng-template>
</p-table>
