<p-dialog
  dismissableMask="true"
  [visible]="isOpen()"
  (visibleChange)="isOpenChange.emit(false)"
  [style]="{ width: '31rem' }"
  [modal]="true"
>
  <ng-template #header>
    <p class="text-l-600 mb-0 flex gap-2">
      <app-icon icon="add_circle" />
      <span i18n>Create a charge case</span>
    </p>
  </ng-template>

  <ng-template #content>
    <form class="flex flex-col gap-3">
      <h3 class="section-title" i18n>Generalities</h3>

      <div>
        <label for="chargeName" class="label">
          <ng-container i18n>Charge case name</ng-container>
          <sup class="mandatory">*</sup>
        </label>
        <input
          type="text"
          pInputText
          id="chargeName"
          name="chargeName"
          maxlength="100"
          i18n-placeholder
          [ngModel]="name()"
          (ngModelChange)="updateName($event)"
          [class.ng-invalid]="isNameDuplicate()"
          [attr.aria-invalid]="isNameDuplicate()"
          [attr.aria-errormessage]="isNameDuplicate() ? 'charge-name-error-message' : null"
          required
          fluid
          data-testid="charge-name-input"
        />
        @if (isNameDuplicate()) {
          <p-message
            id="charge-name-error-message"
            severity="error"
            size="small"
            variant="simple"
            i18n
            data-testid="name-error"
          >
            The charge case name must be unique.
          </p-message>
        }
      </div>

      <div class="personnel-presence">
        <label for="personnelPresence" class="label" i18n> Personnel presence </label>
        <p-toggleswitch
          inputId="personnelPresence"
          name="personnelPresence"
          [ngModel]="personnelPresence()"
          (onChange)="updatePersonnelPresence($event.checked)"
          data-testid="personnel-toggle"
        />
      </div>

      <div>
        <div class="label-container">
          <label i18n for="description" class="label">Description</label>
          <span class="input-length">{{ descriptionLength() }}/240</span>
        </div>
        <textarea
          id="description"
          name="description"
          i18n-placeholder
          placeholder="Add a description to the charge case"
          class="block"
          pTextarea
          [ngModel]="description()"
          (ngModelChange)="updateDescription($event)"
          maxlength="240"
          rows="3"
          cols="20"
          fluid
          data-testid="description-textarea"
        ></textarea>
      </div>
    </form>
  </ng-template>

  <ng-template #footer>
    <button app-btn type="button" btnSize="m" btnStyle="text" (click)="onClose()" data-testid="close-btn">
      <app-icon icon="close" />
      <ng-container i18n>Close</ng-container>
    </button>

    <button
      app-btn
      type="button"
      btnSize="m"
      (click)="onSubmit()"
      [disabled]="!isFormValid()"
      data-testid="validate-btn"
    >
      <app-icon icon="check" />
      <ng-container i18n>Validate</ng-container>
    </button>
  </ng-template>
</p-dialog>
