<ng-template #header>
  <p class="text-l-600 mb-0 flex gap-2 items-center">
    <app-icon icon="table_chart" aria-hidden="true" />
    <span i18n>Pose table</span>
  </p>
</ng-template>

<form [formGroup]="form" (ngSubmit)="calculate()">
  <dl>
    <dt i18n>Base parameter</dt>
    <dd>{{ baseParam() !== null ? baseParam() + ' m' : '-' }}</dd>

    <dt i18n>Base temperature</dt>
    <dd>{{ baseTemp() !== null ? baseTemp() + ' °C' : '-' }}</dd>

    <dt i18n>Equivalent span</dt>
    <dd>-</dd>
  </dl>

  <app-input-number
    formControlName="lowestTemp"
    label="Lowest temperature (°C)"
    i18n-label
    [min]="LOWEST_TEMP_MIN"
    [max]="LOWEST_TEMP_MAX"
    [step]="LOWEST_TEMP_STEP"
    [isReadonly]="false"
    [hasError]="form.controls.lowestTemp.invalid && form.controls.lowestTemp.touched"
    [errorMessage]="getLowestTempError()"
  />

  <app-input-number
    formControlName="computingStep"
    label="Computing step (°C)"
    i18n-label
    [min]="COMPUTING_STEP_MIN"
    [max]="COMPUTING_STEP_MAX"
    [isReadonly]="false"
    [hasError]="form.controls.computingStep.invalid && form.controls.computingStep.touched"
    [errorMessage]="getComputingStepError()"
  />

  <button type="submit" app-btn data-testid="calculate-btn" [disabled]="form.invalid">
    <app-icon icon="rocket_launch" aria-hidden="true" />
    <ng-container i18n>Calculate</ng-container>
  </button>
</form>

@if (results(); as res) {
  <div @expand>
    <hr />

    <h2 i18n>Results:</h2>

    <table>
      <tbody>
        <tr>
          <th scope="row" i18n>Temperature</th>
          @for (temp of res.temperatures; track $index) {
            <td>{{ temp }} °C</td>
          }
        </tr>

        <tr>
          <th scope="row" i18n>Pose parameter</th>
          @for (param of res.poseParams; track $index) {
            <td>{{ param | number: '1.0-2' }} m</td>
          }
        </tr>

        <tr>
          <th scope="row" i18n>Horizontal tension Th</th>
          @for (tension of res.horizontalTensions; track $index) {
            <td>{{ tension | number: '1.0-2' }} daN</td>
          }
        </tr>
      </tbody>
    </table>
  </div>
}

<ng-template #footer>
  <button
    app-btn
    btnStyle="outlined"
    type="button"
    data-testid="save-btn"
    [disabled]="!results() || form.invalid"
    (click)="save()"
  >
    <app-icon icon="save" aria-hidden="true" />
    <ng-container i18n>Save</ng-container>
  </button>

  <button app-btn type="button" data-testid="report-btn" [disabled]="!results() || form.invalid">
    <app-icon icon="description" aria-hidden="true" />
    <ng-container i18n>Report</ng-container>
  </button>
</ng-template>
