@use 'sass:map';
@use 'sass:math';
@use './vars' as app;

// ***************************
// **** breakpoint mixins ****
// ***************************
// min-width
@mixin min-bp($size) {
  @if map.has-key(app.$bp, $size) {
    @media (min-width: map.get(app.$bp, $size)) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint with min-bp mixin '#{$size}'. Available breakpoints are: #{map.keys(app.$bp)}";
  }
}
// max-width
@mixin max-bp($size) {
  @if map.has-key(app.$bp, $size) {
    @media (max-width: map.get(app.$bp, $size)) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint with max-bp mixin '#{$size}'. Available breakpoints are: #{map.keys(app.$bp)}";
  }
}

// ***************************
// **** texts placeholder ****
// ***************************
// headings texts
@each $name, $value in app.$txt-heading {
  %heading-#{$name} {
    font: map.get($value, font);
    letter-spacing: map.get($value, letter-spacing);
  }
}
// common texts
@each $name, $value in app.$text {
  %text-#{$name} {
    font: $value;
  }
}

%label-spacing {
  margin: 0.125rem 0.5rem;
}

%focus-state {
  @apply relative;
  outline: 0.0625rem solid var(--primary-900);
  outline-offset: 0.25rem;
  z-index: 1;
}

%vertical-separator {
  @apply h-full m-0 border-t-0;
  width: 0.0625rem;
  border-right: 0.0625rem solid var(--star-dust-300);
}

%tools-grid-layout {
  $_column-gap: 2rem;
  @apply grid items-end gap-y-3 mt-4 mb-3;
  column-gap: $_column-gap;
  grid-template-columns: repeat(
    5,
    calc(20% - math.div($_column-gap, 1.25))
  ); // force grids cell width to 5 cols minus a quarter of gaps (5 columns, 4 gaps)
}
