<app-export-dialog></app-export-dialog>
<p-confirmdialog key="positionDialog" [position]="'center'" />
<section>
  <app-new-study-modal [isOpen]="isNewStudyModalOpen()" (isOpenChange)="isNewStudyModalOpen.set($event)" />
  <div class="flex justify-between items-start">
    <h2>{{ 'shared.logged-layout.studies' | transloco }}</h2>
    <button app-btn type="submit" btnSize="m" (click)="isNewStudyModalOpen.set(true)" data-testid="create-study-btn">
      <app-icon icon="add" />
      <span>{{ 'home.create-study' | transloco }}</span>
    </button>
  </div>
</section>
<p-tabs value="myStudies">
  <p-tablist>
    <p-tab value="myStudies" data-testid="my-studies-tab">{{ 'studies.tabs.my-studies' | transloco }}</p-tab>
    @if (false) {
      <p-tab value="searchStudy" disabled="true" data-testid="search-study-tab">{{
        'studies.tabs.search-study' | transloco
      }}</p-tab>
    }
    <p-tab value="importStudy" data-testid="import-study-tab">{{ 'studies.tabs.import-study' | transloco }}</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="myStudies"
      ><app-studies-table
        [studies]="studies()"
        (deleteStudy)="deleteStudy($event)"
        (duplicateStudy)="duplicateStudy($event)"
      />
    </p-tabpanel>
    <p-tabpanel value="searchStudy"> </p-tabpanel>
    <p-tabpanel value="importStudy">
      <app-import-study />
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
