# Ignore artifacts:
build
coverage
dist
out
public
# styles
node_modules
.vscode
.angular
*.md
.venv
# Only ignore specific JSON/YAML files:
/tsconfig.json
/package.json
/package-lock.json
/.prettierrc.json
