<p id="mandatory-temperature" class="temperature-calculation__mandatory-msg">
  <app-icon icon="info" />
  <span i18n>All fields are mandatory</span>
</p>

<div class="temperature-calculation__form">
  <div class="conductor">
    <label for="cableName" i18n>Cable name</label>
    <p-select
      inputId="cableName"
      [options]="cableOptions()"
      [ngModel]="measureData().cableName"
      (ngModelChange)="updateField('cableName', $event)"
      optionLabel="label"
      optionValue="value"
      [fluid]="true"
      aria-describedby="mandatory-temperature"
      [required]="true"
    />
  </div>

  <dl class="ambientTemp">
    <dt id="ambientTemperature" i18n>Ambient temperature (°C)</dt>
    <dd class="text-sx-400 text-gray-500">
      {{ measureData().ambientTemperature }} °C
    </dd>
  </dl>
  <div class="transit">
    <label for="transit" i18n>Transit</label>
    <input
      id="transit"
      type="text"
      pInputText
      [ngModel]="measureData().transit"
      (ngModelChange)="updateField('transit', $event)"
      [fluid]="true"
      aria-describedby="mandatory-temperature"
      required
    />
  </div>

  <dl class="windSpeed">
    <dt for="windSpeed" class="windSpeed__label" i18n>Wind speed</dt>
    <dd>
      {{ measureData().windSpeed }}
      {{ measureData().windSpeedUnit === 'ms' ? 'm/s' : 'km/h' }}
    </dd>
  </dl>

  <dl class="windDirection">
    <dt id="windDirection" i18n>Wind direction (degrees)</dt>
    <dd>{{ measureData().windDirection }}</dd>
  </dl>

  <div class="windIncidence">
    <div class="flex flex-row gap-2 items-center">
      <label for="windIncidence" i18n>Wind incidence (degrees)</label>
      <p-selectbutton
        [options]="windIncidenceModeOptions"
        [ngModel]="measureData().windIncidenceMode"
        (onChange)="updateField('windIncidenceMode', $event.value)"
        optionLabel="label"
        optionValue="value"
        allowEmpty="false"
      />
    </div>
    @if (measureData().windIncidenceMode === 'auto') {
      <dl>
        <dd>
          {{ measureData().windIncidence }}
        </dd>
      </dl>
    } @else {
      <dl>
        <dd>90°</dd>
      </dl>
    }
  </div>

  <div class="solar">
    <div class="flex flex-row gap-4 items-center">
      <h3 class="solar__heading" i18n>Solar flux :</h3>
    </div>
  </div>

  <div class="skyCover">
    <label for="skyCover" i18n>Sky cover</label>
    <p-select
      inputId="skyCover"
      [options]="skyCoverOptions()"
      [ngModel]="measureData().skyCover"
      (ngModelChange)="updateField('skyCover', $event)"
      optionLabel="label"
      optionValue="value"
      appendTo="body"
      [fluid]="true"
      aria-describedby="mandatory-temperature"
      [required]="true"
    />
  </div>
  <dl class="diffusedSolarFlux">
    <dt id="diffusedSolarFlux" i18n>Diffused solar flux</dt>
    <dd>{{ measureData().diffusedSolarFlux }} W/m²</dd>
  </dl>
  <dl class="directSolarFlux">
    <dt id="directSolarFlux" i18n>Direct solar flux</dt>
    <dd>{{ measureData().directSolarFlux }} W/m²</dd>
  </dl>
  <dl class="diffusedPlusDirectSolarFlux">
    <dt id="diffusedPlusDirectSolarFlux" i18n>
      Diffused plus direct solar flux
    </dt>
    <dd>{{ measureData().diffusedPlusDirectSolarFlux }} W/m²</dd>
  </dl>
  <div class="measuredDiffusedPlusDirectSolarFlux relative">
    <label for="measuredDiffusedPlusDirectSolarFlux" i18n
      >Measured diffused plus direct solar flux (not required)</label
    >
    <p-inputgroup>
      <input
        id="measuredDiffusedPlusDirectSolarFlux"
        type="number"
        pInputText
        [ngModel]="measureData().measuredDiffusedPlusDirectSolarFlux"
        (ngModelChange)="
          updateField('measuredDiffusedPlusDirectSolarFlux', $event)
        "
        aria-describedby="mandatory-temperature"
        [min]="0"
        required
      />
      <p-inputgroup-addon>W/m²</p-inputgroup-addon>
    </p-inputgroup>
    <p class="text-sx-400 text-gray-500 absolute right-0" i18n>
      It won't be used in the calculation.
    </p>
  </div>
</div>

<div class="text-right mt-8">
  <button app-btn (click)="calculateTemperature()" [disabled]="!isFormValid()">
    <app-icon icon="rocket_launch" />
    <ng-container i18n>Calculate</ng-container>
  </button>
</div>

@if (temperatureResult()) {
  <div class="temperature-calculation__results" [@expandCollapse]>
    <h2 class="temperature-calculation__results__title" i18n>Results :</h2>

    <dl class="temperature-calculation__results__list">
      <dl class="cableTemperature">
        <dt i18n>Cable temperature</dt>
        <dd>{{ temperatureResult()?.cableTemperature }} °C</dd>
      </dl>
      <dl class="incertainCableTemperature">
        <dt i18n>Incertain cable temperature</dt>
        <dd>{{ temperatureResult()?.cableTemperatureUncertainty }} °C</dd>
      </dl>
      <dl class="solarFlux">
        <dt i18n>Solar flux on the cable</dt>
        <dd>{{ temperatureResult()?.cableSolarFlux }} W/m²</dd>
      </dl>
    </dl>
  </div>
}
