@use 'abstract.extracts' as app;

%_common-label-terms-context-spacing {
  margin: 0.125rem 0.25rem;
}

label,
dt {
  @extend %text-s-400, %_common-label-terms-context-spacing;
}

dt {
  color: var(--grey-800);
}

dd {
  @extend %text-m-400;
  color: var(--star-dust-950);
  padding: 0.375rem 0.5rem;
}

.temperature-calculation {
  &__mandatory-msg {
    @apply flex items-center gap-1 my-4;
    @extend %text-s-600;
    color: var(--star-dust-950);
  }

  &__form {
    @extend %tools-grid-layout;
    grid-template-areas:
      'conductor transit . . .'
      'ambientTemp windSpeed windDirection windIncidence windIncidence'
      'solar solar solar solar solar'
      'skyCover diffusedSolarFlux directSolarFlux diffusedPlusDirectSolarFlux measuredDiffusedPlusDirectSolarFlux'
      '. . . . measuredDiffusedPlusDirectSolarFluxInfo';

    .conductor {
      grid-area: conductor;
    }

    .ambientTemp {
      grid-area: ambientTemp;
    }

    .transit {
      grid-area: transit;
    }

    .windSpeed {
      grid-area: windSpeed;

      &__label {
        @apply flex items-end gap-1 justify-between;
      }
    }

    .windDirection {
      grid-area: windDirection;
    }

    .windIncidence {
      grid-area: windIncidence;

      dt {
        @apply flex flex-row gap-2 items-center;
      }
    }

    .solar {
      grid-area: solar;

      &__heading {
        @apply mb-0;
        @extend %heading-s;
        color: var(--star-dust-950);
      }
    }

    .skyCover {
      grid-area: skyCover;
    }

    .diffusedSolarFlux {
      grid-area: diffusedSolarFlux;
    }

    .directSolarFlux {
      grid-area: directSolarFlux;
    }

    .diffusedPlusDirectSolarFlux {
      grid-area: diffusedPlusDirectSolarFlux;
    }

    .measuredDiffusedPlusDirectSolarFlux {
      grid-area: measuredDiffusedPlusDirectSolarFlux;
    }

    .solar-fluxs-impact {
      grid-area: measuredDiffusedPlusDirectSolarFluxInfo;
      @extend %text-s-600, %_common-label-terms-context-spacing;
      color: var(--star-dust-900);
    }
  }

  &__results {
    @apply border-t mt-3;
    border-color: var(--star-dust-300);

    &__title {
      @apply mt-4 mb-0;
      @extend %heading-s;
      color: var(--star-dust-950);
    }

    &__list {
      @extend %tools-grid-layout;
      grid-template-areas:
        'cableTemperature incertainCableTemperature . . .'
        'solarFlux . . . .';

      .solarFlux {
        grid-area: solarFlux;
      }

      .cableTemperature {
        grid-area: cableTemperature;
      }

      .incertainCableTemperature {
        grid-area: incertainCableTemperature;
      }
    }
  }
}
