@use 'sass:map';
@use 'abstract.extracts' as app;

input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

// ***** native select customisation ******
.native-select-removable-value {
  position: relative;
  width: 100%;
}

.native-select {
  appearance: base-select;
  @extend %text-m-400;
  width: 100%;
  min-width: max-content;
  height: 2.125rem;
  padding: 0.375rem 1rem;
  border: 0.0625rem solid var(--grey-400);
  border-radius: 0.25rem;
  color: var(--grey-900);
  background: var(--grey-white);
  box-shadow: map.get(app.$elevation, neutral-inner);

  &:hover {
    border-color: var(--grey-600);

    &:not(:disabled),
    &:not(:read-only) {
      cursor: pointer;
    }
  }

  &:focus-visible {
    border-color: var(--primary-600);
    outline: 0.125rem solid var(--primary-600);
    outline-offset: -0.0625rem;
  }

  &:disabled {
    background: var(--grey-0);
    color: var(--grey-300);
  }

  &::picker-icon {
    color: rgb(255, 255, 255, 0);
    width: 0.5rem;
    height: 0.5rem;
    border-width: 0.125rem;
    border-style: solid;
    border-color: rgb(255, 255, 255, 0) var(--star-dust-950) var(--star-dust-950) rgb(255, 255, 255, 0);
    transform: rotate(45deg);
    border-radius: 0.125rem;
  }

  &::picker(select) {
    appearance: base-select;
    border-radius: 0.25rem;
    padding: 0 0.25rem 0.25rem;
    background: var(--grey-white);
    border: 0.0625rem solid var(--grey-150);
    box-shadow: map.get(app.$elevation, neutral-2);
  }

  &__clear {
    position: absolute;
    top: 50%;
    right: 2.25rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    color: var(--star-dust-950);
    background-color: var(--grey-white);
    border: 0;

    &:focus-visible {
      position: absolute;
      @extend %focus-state;
    }
  }

  option {
    @extend %text-m-400;
    padding: 0.5rem 0.75rem;
    color: var(--grey-850);

    &:hover {
      background: var(--primary-50);
      cursor: pointer;
    }

    &:checked {
      background: var(--secondary-50);
    }
  }

  &__filter {
    padding: 0.5rem 1rem 0.25rem 1rem;
    position: sticky;
    top: 0;
    background-color: var(--grey-white);

    input {
      @extend %text-m-400;
      width: 100%;
      padding: 0.25rem 0.5rem;
      border: 0.0625rem solid var(--grey-400);
      border-radius: 0.25rem;
      color: var(--grey-900);

      &:focus-visible {
        border-color: var(--primary-600);
        outline: 0.125rem solid var(--primary-600);
        outline-offset: -0.0625rem;
      }
    }
  }
}
// !**** native select customisation ******

.sticky-left,
.sticky-right {
  position: sticky;
  z-index: 1;
  background-color: var(--grey-white);
}

.sticky-left {
  left: 0;
}

.sticky-right {
  right: 0;
}

.integer-column {
  min-width: 6rem;
}

.decimal-column {
  min-width: 7rem;
}

.position-column {
  min-width: 3rem;
}

.text-column {
  min-width: 11rem;
}

.boolean-column {
  min-width: 5rem;
}

p-table:not(.support-table--view) {
  td {
    vertical-align: top;
  }
}

td {
  > *:not(button) {
    width: 100%;
  }

  .p-inputicon {
    top: 40%;
  }
}

p:has(> app-icon[icon='progress_activity']) {
  line-height: 0.5rem;
}

.one-line-text {
  @apply mb-0 whitespace-nowrap;
}

.calculation-loader {
  display: inline-block;
  font-size: 1rem;
  color: var(--grey-750);
  transform-origin: 50%;
  animation: calculation-localization-loader 0.5s linear infinite;
}

@keyframes calculation-localization-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
