<div class="h-full relative">
  @if (plotService.loading() && !plotInitialized()) {
    <div class="absolute inset-0 flex justify-center items-center">
      <p-progress-spinner ariaLabel="loading" />
    </div>
  } @else if (plotService.error()) {
    <div class="absolute inset-0 flex justify-center items-center">
      <img
        src="/img/rocket.png"
        alt="An error occurred"
        i18n-alt="@@studio.error.image.alt"
        class="max-w-sm opacity-80"
        data-testid="studio-error-image"
      />
    </div>
  } @else {
    <figure class="contents m-0">
      <app-section-plot class="h-full" [litData]="plotService.litData()"></app-section-plot>
      <figcaption i18n class="sr-only">Study's section graph view</figcaption>
    </figure>
  }
</div>
