<div class="h-full relative">
  @if (plotService.loading() && !plotInitialized()) {
    <div class="absolute inset-0 flex justify-center items-center">
      <p-progress-spinner ariaLabel="loading" />
    </div>
  } @else if (plotService.error()) {
    <div class="absolute inset-0 flex justify-center items-center">
      <img
        src="/img/rocket.webp"
        [alt]="'shared.studio.error-image-alt' | transloco"
        class="max-w-sm opacity-80"
        data-testid="studio-error-image"
      />
    </div>
  } @else {
    <figure class="contents m-0">
      <app-section-plot class="h-full" [litData]="plotService.litData()"></app-section-plot>
      <figcaption class="sr-only">{{ 'shared.studio.section-caption' | transloco }}</figcaption>
    </figure>
  }
</div>
