<ng-template #header>
  <p class="text-l-600 mb-0 flex gap-2 items-center">
    <app-icon icon="assignment_turned_in" />
    <span>{{ 'studio.topToolbar.loadsTableLabel' | transloco }}</span>
  </p>
</ng-template>

<section class="base-info">
  @if (mode() === 'view') {
    <dl class="contents">
      <dt class="load-name-label">{{ 'studio.loads-table.load-case-name-label' | transloco }}</dt>
      <dd class="load-name-value">{{ name() }}</dd>

      <dt class="load-desc-label">{{ 'shared.new-charge-modal.description-label' | transloco }}</dt>
      <dd class="load-desc-value">{{ description() || '-' }}</dd>
    </dl>
  } @else {
    <label for="loadName" class="load-name-label">{{ 'studio.loads-table.load-case-name-label' | transloco }}</label>
    <input
      type="text"
      class="load-name-value"
      pInputText
      id="loadName"
      maxlength="100"
      [ngModel]="name()"
      (ngModelChange)="updateName($event)"
      fluid
      data-testid="load-name-input"
    />

    <label for="description" class="load-desc-label">
      {{ 'studio.loads-table.description-length-label' | transloco: { count: descriptionLength() } }}
    </label>
    <textarea
      pTextarea
      class="load-desc-value"
      id="description"
      maxlength="240"
      [ngModel]="description()"
      (ngModelChange)="updateDescription($event)"
      fluid
      data-testid="load-description-input"
    ></textarea>
  }

  <label for="personnelPresence" class="load-person-label">{{
    'shared.new-charge-modal.personnel-presence' | transloco
  }}</label>
  <p-toggleswitch
    inputId="personnelPresence"
    name="personnelPresence"
    class="load-person-value"
    [ngModel]="personnelPresence()"
    (onChange)="updatePersonnelPresence($event.checked)"
    [readonly]="mode() === 'view'"
    data-testid="personnel-presence-toggle"
  />
</section>

@if (climateRows().length > 0) {
  <section>
    <h2 class="title underline-text">{{ 'studio.studioPage.climateConditionLabel' | transloco }}</h2>

    <p-table [value]="climateRows()" [tableStyle]="{ width: 'auto' }" data-testid="climate-table">
      <ng-template pTemplate="header">
        <tr>
          <th id="wind-pressure-col">{{ 'studio.conformity.windPressureLabel' | transloco }}</th>
          <th id="cable-temp-col">{{ 'studio.loads-table.cable-temp-label' | transloco }}</th>
          <th id="ice-indicator-col">{{ 'studio.loads-table.ice-indicator-label' | transloco }}</th>
          @if (climate()?.symmetryType === SymmetryType.SYMMETRIC) {
            <th id="ice-thickness-col">{{ 'loads.climate.ice-thickness-label' | transloco }}</th>
          }
          @if (climate()?.symmetryType === SymmetryType.DIS_SYMMETRIC) {
            <th id="frontier-support-col">{{ 'loads.climate.frontier-support-label' | transloco }}</th>
            <th id="ice-before-col">{{ 'studio.loads-table.ice-thickness-before-label' | transloco }}</th>
            <th id="ice-after-col">{{ 'studio.loads-table.ice-thickness-after-label' | transloco }}</th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{ row.windPressure }}&nbsp;Pa</td>
          <td>{{ row.cableTemperature }}&nbsp;°C</td>
          <td>{{ getSymmetryLabel(row.symmetryType) }}</td>
          @if (row.symmetryType === SymmetryType.SYMMETRIC) {
            <td>{{ row.iceThickness }}&nbsp;cm</td>
          }
          @if (row.symmetryType === SymmetryType.DIS_SYMMETRIC) {
            <td>{{ row.frontierSupportNumber }}</td>
            <td>{{ row.iceThicknessBefore }}&nbsp;cm</td>
            <td>{{ row.iceThicknessAfter }}&nbsp;cm</td>
          }
        </tr>
      </ng-template>
    </p-table>
  </section>
}

@if (spanLoadRows().length > 0) {
  <section>
    <h2 class="title underline-text">{{ 'studio.studioPage.loadMarkingLabel' | transloco }}</h2>

    <p-table [value]="spanLoadRows()" [tableStyle]="{ width: 'auto' }" data-testid="load-marking-table">
      <ng-template pTemplate="header">
        <tr>
          <th id="index-col">{{ 'studio.loads-table.index-label' | transloco }}</th>
          <th id="span-col">{{ 'studio.shared.spanLabel' | transloco }}</th>
          <th id="ref-support-col">{{ 'studio.loads-table.ref-support-label' | transloco }}</th>
          <th id="type-col">{{ 'loads.load-marking.load-type-label' | transloco }}</th>
          <th id="position-col">{{ 'studio.loads-table.distance-to-ref-support-label' | transloco }}</th>
          <th id="weight-col">{{ 'loads.load-marking.load-label' | transloco }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ row.spanLabel }}</td>
          <td>{{ row.referenceSupport }}</td>
          <td>{{ getLoadTypeLabel(row.type) }}</td>
          <td>{{ row.loadPosition }}&nbsp;m</td>
          @if (row.type === LoadType.MARKING) {
            <td>-</td>
          } @else {
            <td>{{ row.loadWeight }}&nbsp;daN</td>
          }
        </tr>
      </ng-template>
    </p-table>
  </section>
}

<ng-template #footer>
  @if (mode() === 'view') {
    <button app-btn disabled type="button" btnStyle="text" data-testid="report-btn">
      <app-icon icon="description" />
      <ng-container>{{ 'studio.obstaclesForm.reportBtn' | transloco }}</ng-container>
    </button>

    <button app-btn type="button" (click)="switchToEditMode()" data-testid="modify-btn">
      <app-icon icon="edit" />
      <ng-container>{{ 'studio.loads-table.modify-btn' | transloco }}</ng-container>
    </button>
  } @else {
    <button app-btn type="button" btnStyle="outlined" (click)="cancelEdit()" data-testid="cancel-edit-btn">
      <app-icon icon="close" />
      <ng-container>{{ 'common.export-dialog.cancel' | transloco }}</ng-container>
    </button>

    <button app-btn type="button" (click)="saveChanges()" [disabled]="!isFormValid()" data-testid="save-changes-btn">
      <app-icon icon="save" />
      <ng-container>{{ 'loads.shared.save-btn' | transloco }}</ng-container>
    </button>
  }
</ng-template>
