@use 'sass:map';
@use 'abstract.extracts' as app;

:host {
  display: inline-block;
  padding: 1rem;
  border-radius: 0.125rem;
  border: 0.0625rem solid var(--grey-100);
  background-color: var(--grey-white);
  box-shadow: map.get(app.$elevation, neutral-3);

  &[role='button'],
  &[role='link'] {
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--primary-100);
    }

    &:focus-visible {
      @extend %focus-state;
    }
  }
}
