<p-table
  data-testid="studies-table"
  [paginator]="true"
  [rows]="defaultRowsPerPage"
  [rowsPerPageOptions]="rowsPerPageOptions"
  (onSort)="onSort($event)"
  [value]="studies()"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="currentPageReportTemplate"
  [tableStyleClass]="'w-full mt-6'"
>
  <ng-template #header>
    <tr>
      <th id="checkbox">
        <p-checkbox [binary]="true" data-testid="select-all-checkbox" />
      </th>

      <th id="title" pSortableColumn="title">
        <div i18n class="flex items-center gap-2">
          Title
          <app-icon
            [icon]="
              $any(sortField() === 'title' ? (sortOrder() === 1 ? 'arrow_upward' : 'arrow_downward') : 'swap_vert')
            "
          />
        </div>
      </th>
      <th id="author_email" pSortableColumn="author_email">
        <div i18n class="flex items-center gap-2">
          Author
          <app-icon
            [icon]="
              $any(
                sortField() === 'author_email' ? (sortOrder() === 1 ? 'arrow_upward' : 'arrow_downward') : 'swap_vert'
              )
            "
          />
        </div>
      </th>
      <th id="updated_at_offline" pSortableColumn="updated_at_offline">
        <div i18n class="flex items-center gap-2">
          Modification date
          <app-icon
            [icon]="
              $any(
                sortField() === 'updated_at_offline'
                  ? sortOrder() === 1
                    ? 'arrow_upward'
                    : 'arrow_downward'
                  : 'swap_vert'
              )
            "
          />
        </div>
      </th>
      <th id="lit_code" pSortableColumn="lit_code">
        <div i18n class="flex items-center gap-2">
          LIT
          <app-icon
            [icon]="
              $any(sortField() === 'lit_code' ? (sortOrder() === 1 ? 'arrow_upward' : 'arrow_downward') : 'swap_vert')
            "
          />
        </div>
      </th>
      <th id="description" pSortableColumn="description">
        <div i18n class="flex items-center gap-2">Description/comment</div>
      </th>
      <th id="space"></th>
      <th id="actions">
        <div i18n class="flex items-center gap-2">Actions</div>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-study>
    <tr data-testid="study-row">
      <td>
        <p-checkbox [binary]="true" data-testid="study-checkbox" />
      </td>
      <td>{{ study.title }}</td>
      <td>{{ study.author_email }}</td>
      <td>{{ study.updated_at_offline | date: 'medium' }}</td>
      <td>{{ study.sections?.[0]?.lit_name }}</td>
      <td>
        <p class="line-clamp-3 text-ellipsis overflow-hidden">
          {{ study.description }}
        </p>
      </td>
      <td>
        <a [routerLink]="'/study/' + study.uuid" app-btn btnStyle="base" btnSize="s" i18n data-testid="open-study-btn">
          Open
        </a>
      </td>
      <td>
        <button
          (click)="popover.toggle($event)"
          app-btn
          btnSize="l"
          btnStyle="text"
          data-testid="study-actions-btn"
          aria-label="Study actions menu"
          i18n-aria-label
        >
          <app-icon icon="more_horiz" aria-hidden="true" />
        </button>
        <p-popover #popover>
          <ng-template pTemplate="content">
            <button
              app-btn
              btnSize="s"
              btnStyle="text"
              (click)="duplicateStudy.emit(study.uuid)"
              data-testid="duplicate-study-btn"
            >
              <app-icon icon="content_copy" />
              <span i18n>Duplicate</span>
            </button>
            <button
              app-btn
              btnSize="s"
              btnStyle="text"
              (click)="openExportDialog(study.uuid)"
              data-testid="export-study-btn"
            >
              <app-icon icon="download" />
              <ng-container i18n>Export</ng-container>
            </button>
            <button
              app-btn
              btnSize="s"
              btnStyle="text"
              class="erase-btn"
              (click)="deleteStudy.emit(study.uuid)"
              data-testid="delete-study-btn"
            >
              <app-icon icon="delete" />
              <span i18n>Delete</span>
            </button>
          </ng-template>
        </p-popover>
      </td>
    </tr>
  </ng-template>
</p-table>
