.no-section-text {
  font-weight: 400;
  font-size: 20px;
  color: #6F767B
}

.section-card-title {
  font-size: .875rem;
  color: #999FA1;
}

.section-card-value {
  font-size: 0.875rem;
  color: #11161a;
}

.sections-container {
  @apply flex flex-col gap-4 mt-4;
}

.card {
  @apply w-full rounded-none;
}

.section-container {
  @apply flex flex-row gap-4;
}

.section-field {
  @apply flex flex-col gap-2;
}

.section-value {
  @apply pt-1
}

.initial-condition-name {
  @apply w-24 max-w-24 whitespace-nowrap inline-block overflow-hidden overflow-ellipsis;
}

:host ::ng-deep {
  .p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
    background: unset;
    color: unset;
    cursor: auto;
  }
}