<app-new-section-modal
  [isOpen]="isNewSectionModalOpen()"
  (isOpenChange)="onModalOpenChange($event)"
  (outputSection)="createOrUpdateSection.emit($event)"
  [section]="currentSection()"
/>

<app-initial-condition-modal
  [isOpen]="isInitialConditionModalOpen()"
  (isOpenChange)="onInitialConditionModalOpenChange($event)"
  [section]="currentSection()"
  (addInitialCondition)="addInitialCondition.emit($event)"
/>

<div
  *ngIf="sections().length === 0"
  class="flex flex-col gap-4 items-center justify-center"
>
  <div class="mt-10 no-section-text" i18n>No existing section</div>
  <button
    i18n
    app-btn
    btnStyle="base"
    btnSize="l"
    (click)="openNewSectionModal()"
  >
    <app-icon icon="add" />
    Add a section
  </button>
</div>

<div class="sections-container">
  <div *ngFor="let section of sections()">
    <app-card class="card" role="div">
      <div class="flex flex-row gap-4">
        <div class="section-field w-1/4">
          <span i18n class="section-card-title">Section Name</span>
          <span class="section-value">{{ section.name }}</span>
        </div>
        <div class="section-field w-1/8">
          <span i18n class="section-card-title">Section type</span>
          <span class="section-value">{{ section.type }}</span>
        </div>
        <div class="section-field w-1/6">
          <span i18n class="section-card-title">LIT</span>
          <span class="section-value">{{ section.lit }}</span>
        </div>
        <div class="section-field w-1/6">
          <span i18n class="section-card-title">Last modified</span>
          <span class="section-value">{{
            section.updatedAt | date: 'dd/MM/yyyy HH:mm'
          }}</span>
        </div>
        <div class="section-field w-1/4">
          <span i18n class="section-card-title">Initial conditions</span>
          <span
            *ngIf="
              !section.initial_conditions ||
              section.initial_conditions.length === 0
            "
          >
            <button
              (click)="openInitialConditionModal(section)"
              app-btn
              btnSize="s"
              btnStyle="outlined"
            >
              <app-icon icon="add" />
              <span i18n>Add initial condition</span>
            </button>
          </span>
          <span
            *ngIf="
              section.initial_conditions &&
              section.initial_conditions.length > 0
            "
          >
            <p-select
              [options]="section.initial_conditions"
              placeholder="View initial conditions"
              class="w-full md:w-56"
            >
              <ng-template #selectedItem i18n>
                View initial conditions
              </ng-template>
              <ng-template let-initialCondition let-index="index" #item>
                <div
                  (click)="$event.stopPropagation(); $event.preventDefault()"
                  (keydown)="$event.stopPropagation(); $event.preventDefault()"
                  [tabindex]="index"
                  class="flex flex-row gap-2 items-center"
                >
                  <span class="initial-condition-name">{{
                    initialCondition.name
                  }}</span>
                  <p-divider layout="vertical" class="!m-0" />
                  <button
                    app-btn
                    btnSize="l"
                    btnStyle="text"
                    (click)="
                      openInitialConditionModal(section);
                      $event.stopPropagation();
                      $event.preventDefault()
                    "
                  >
                    <app-icon icon="eye_tracking" />
                  </button>
                  <p-divider layout="vertical" class="!m-0" />
                  <button app-btn btnSize="l" btnStyle="text">
                    <app-icon icon="edit" />
                  </button>
                  <p-divider layout="vertical" class="!m-0" />
                  <button app-btn btnSize="l" btnStyle="text">
                    <app-icon icon="content_copy" />
                  </button>
                  <p-divider layout="vertical" class="!m-0" />
                  <button
                    (click)="
                      deleteInitialCondition.emit({
                        section,
                        initialCondition: initialCondition
                      })
                    "
                    app-btn
                    btnSize="l"
                    btnStyle="text"
                  >
                    <app-icon icon="delete" />
                  </button>
                </div>
              </ng-template>
            </p-select>
          </span>
        </div>
        <div class="section-field ml-auto">
          <span i18n class="section-card-title">Actions</span>
          <button
            (click)="popover.toggle($event)"
            app-btn
            btnSize="s"
            btnStyle="text"
          >
            <span class="pi pi-ellipsis-h"></span>
          </button>
          <p-popover #popover>
            <ng-template pTemplate="content">
              <div class="section-field">
                <button
                  app-btn
                  btnSize="s"
                  btnStyle="text"
                  (click)="editSection(section)"
                >
                  <app-icon icon="edit" />
                  <span i18n>Edit</span>
                </button>
                <button
                  app-btn
                  btnSize="s"
                  btnStyle="text"
                  (click)="openInitialConditionModal(section)"
                >
                  <app-icon icon="add_circle" />
                  <span i18n>Add an initial condition</span>
                </button>
                <button
                  app-btn
                  btnSize="s"
                  btnStyle="text"
                  (click)="duplicateSection.emit(section)"
                >
                  <app-icon icon="content_copy" />
                  <span i18n>Duplicate</span>
                </button>
                <button
                  app-btn
                  btnSize="s"
                  btnStyle="text"
                  (click)="deleteSection.emit(section)"
                >
                  <app-icon icon="delete" />
                  <span i18n>Delete</span>
                </button>
              </div>
            </ng-template>
          </p-popover>
        </div>
      </div>
    </app-card>
  </div>
</div>
<div
  *ngIf="sections().length > 0"
  class="flex justify-end mt-4 sticky bottom-0"
>
  <button
    i18n
    app-btn
    btnStyle="outlined"
    btnSize="m"
    (click)="openNewSectionModal()"
  >
    <app-icon icon="add" />
    Add a section
  </button>
</div>
