<app-new-section-modal
  [isOpen]="isNewSectionModalOpen()"
  (isOpenChange)="onModalOpenChange($event)"
  (outputSection)="createOrUpdateSection.emit($event)"
  [section]="currentSection()"
  [mode]="newSectionModalMode()"
/>

<app-initial-condition-modal
  [isOpen]="isInitialConditionModalOpen()"
  (isOpenChange)="onInitialConditionModalOpenChange($event)"
  [section]="currentSection()"
  (addInitialCondition)="addInitialCondition.emit($event)"
  (updateInitialCondition)="updateInitialCondition.emit($event)"
  [mode]="initialConditionModalMode()"
  [initialConditionInput]="currentInitialCondition()"
/>

@if (sections().length <= 0) {
  <section class="text-center">
    <h1 class="no-section-text text-xl-400" i18n>No existing section</h1>
    <button
      i18n
      app-btn
      btnStyle="base"
      btnSize="l"
      (click)="openNewSectionModalCreate()"
    >
      <app-icon icon="add" />
      Add a section
    </button>
  </section>
}

@if (sections().length > 0) {
  <article class="sections-container">
    @for (section of sections(); track section.uuid) {
      <app-card class="section" role="article">
        <p-checkbox
          ariaLabel="select this study's section"
          i18n-ariaLabel
          class="section__selector"
          [binary]="true"
        />

        <dl>
          <dt i18n class="section__title-name">Section Name</dt>
          <dd class="section__text-name">{{ section.name }}</dd>
        </dl>

        <dl>
          <dt i18n class="section__title-type">Section type</dt>
          <dd class="section__text-type">{{ section.type }}</dd>
        </dl>

        <dl>
          <dt i18n class="section__title-lit">LIT</dt>
          <dd class="section__text-lit">{{ section.lit }}</dd>
        </dl>

        <dl>
          <dt i18n class="section__title-date">Last modified</dt>
          <dd class="section__text-date">
            {{ section.updated_at | date: 'dd MMMM yyyy HH:mm' }}
          </dd>
        </dl>

        <p i18n class="mb-0 section__title-init">Initial conditions</p>

        @if (
          !section.initial_conditions || section.initial_conditions.length === 0
        ) {
          <button
            (click)="
              openInitialConditionModal(
                section,
                createInitialCondition(section),
                'create'
              )
            "
            app-btn
            btnSize="s"
            btnStyle="outlined"
            class="section__content-init"
          >
            <app-icon icon="add" />
            <span i18n>Add initial condition</span>
          </button>
        } @else if (
          section.initial_conditions && section.initial_conditions.length > 0
        ) {
          <p-select
            #initialConditionSelect
            [options]="section.initial_conditions"
            placeholder="View initial conditions"
            i18n-placeholder
            appendTo="body"
            panelStyleClass="initial-condition-select"
            [panelStyle]="{ right: '0', left: 'unset' }"
            class="section__content-init"
            [(ngModel)]="selectedInitialCondition"
          >
            <ng-template #selectedItem let-selectedOption>
              @if (selectedOption) {
                {{ selectedOption.name }}
              }
            </ng-template>

            <ng-template let-initialCondition let-index="index" #item>
              <div class="select-dropdown">
                <button
                  app-btn
                  btnStyle="text"
                  (click)="selectItem(initialCondition, $event)"
                  class="select-dropdown__select"
                >
                  {{ initialCondition.name }}
                </button>

                <p-divider layout="vertical" />

                <button
                  app-btn
                  btnSize="l"
                  btnStyle="text"
                  (click)="
                    openInitialConditionModal(
                      section,
                      initialCondition,
                      'view'
                    );
                    $event.stopPropagation();
                    $event.preventDefault()
                  "
                >
                  <app-icon icon="eye_tracking" />
                </button>

                <p-divider layout="vertical" />

                <button
                  app-btn
                  btnSize="l"
                  btnStyle="text"
                  (click)="
                    openInitialConditionModal(
                      section,
                      initialCondition,
                      'edit'
                    );
                    $event.stopPropagation();
                    $event.preventDefault()
                  "
                >
                  <app-icon icon="edit" />
                </button>

                <p-divider layout="vertical" />

                <button
                  app-btn
                  btnSize="l"
                  btnStyle="text"
                  (click)="
                    duplicateInitialCondition.emit({
                      section,
                      initialCondition: initialCondition
                    });
                    $event.stopPropagation();
                    $event.preventDefault()
                  "
                >
                  <app-icon icon="content_copy" />
                </button>

                <p-divider layout="vertical" />

                <button
                  (click)="
                    deleteInitialCondition.emit({
                      section,
                      initialCondition: initialCondition
                    })
                  "
                  app-btn
                  btnSize="l"
                  btnStyle="text"
                  class="erase-btn"
                >
                  <app-icon icon="delete" />
                </button>
              </div>
            </ng-template>
          </p-select>
        }

        <p i18n class="mb-0 section__title-action">Actions</p>

        <button
          (click)="popover.toggle($event)"
          app-btn
          btnSize="l"
          btnStyle="text"
          class="section__content-action"
        >
          <app-icon icon="more_horiz" />
        </button>

        <p-popover #popover>
          <ng-template pTemplate="content">
            <button
              app-btn
              btnSize="s"
              btnStyle="text"
              (click)="viewSection(section)"
            >
              <app-icon icon="eye_tracking" />
              <span i18n>View</span>
            </button>
            <button
              app-btn
              btnSize="s"
              btnStyle="text"
              (click)="editSection(section)"
            >
              <app-icon icon="edit" />
              <span i18n>Edit</span>
            </button>

            <button
              app-btn
              btnSize="s"
              btnStyle="text"
              (click)="
                openInitialConditionModal(
                  section,
                  createInitialCondition(section),
                  'create'
                )
              "
            >
              <app-icon icon="add_circle" />
              <span i18n>Add an initial condition</span>
            </button>

            <button
              app-btn
              btnSize="s"
              btnStyle="text"
              (click)="duplicateSection.emit(section)"
            >
              <app-icon icon="content_copy" />
              <span i18n>Duplicate</span>
            </button>

            <button
              app-btn
              btnSize="s"
              btnStyle="text"
              class="erase-btn"
              (click)="deleteSection.emit(section)"
            >
              <app-icon icon="delete" />
              <span i18n>Delete</span>
            </button>
          </ng-template>
        </p-popover>
      </app-card>
    }
  </article>

  <div class="sticky-btn-wrapper">
    <button
      i18n
      app-btn
      btnStyle="outlined"
      btnSize="m"
      (click)="openNewSectionModalCreate()"
    >
      <app-icon icon="add" />
      Add a section
    </button>
  </div>
}
