<p-select
  #selectComponent
  [options]="options()"
  [optionLabel]="optionLabel()"
  [optionValue]="optionValue()"
  appendTo="body"
  [ariaLabel]="ariaLabel()"
  class="select-with-buttons"
  panelStyleClass="select-with-buttons-panel"
  model="selectedOptionValue()"
  [class.has-clear-btn]="selectedOptionValue() && showClear()"
>
  <ng-template #selectedItem let-selectedOptionStuff>
    @if (selectedOptionValue()) {
      {{ selectedOptionLabel() }}
    } @else {
      <span class="placeholder">{{ placeholder() }}</span>
    }
  </ng-template>

  <ng-template let-item let-index="index" #item>
    <div class="select-dropdown">
      <button
        app-btn
        btnStyle="text"
        class="select-dropdown__select"
        (click)="selectOption.emit(item); selectComponent.hide()"
      >
        {{ item[optionLabel()] }}
      </button>

      <p-divider layout="vertical" />

      <button
        app-btn
        btnSize="l"
        btnStyle="text"
        ariaLabel="view"
        i18n-ariaLabel
        (click)="
          $event.stopPropagation();
          $event.stopImmediatePropagation();
          viewOption.emit(item)
        "
      >
        <app-icon icon="eye_tracking" />
      </button>

      <p-divider layout="vertical" />

      <button
        app-btn
        btnSize="l"
        btnStyle="text"
        ariaLabel="edit"
        i18n-ariaLabel
        (click)="
          $event.stopPropagation();
          $event.stopImmediatePropagation();
          editOption.emit(item)
        "
      >
        <app-icon icon="edit" />
      </button>

      <p-divider layout="vertical" />

      <button
        app-btn
        btnSize="l"
        btnStyle="text"
        ariaLabel="duplicate"
        i18n-ariaLabel
        (click)="
          $event.stopPropagation();
          $event.stopImmediatePropagation();
          duplicateOption.emit(item)
        "
      >
        <app-icon icon="content_copy" />
      </button>

      <p-divider layout="vertical" />

      <button
        app-btn
        btnSize="l"
        btnStyle="text"
        class="erase-btn"
        ariaLabel="delete"
        i18n-ariaLabel
        (click)="
          $event.stopPropagation();
          $event.stopImmediatePropagation();
          deleteOption.emit(item)
        "
      >
        <app-icon icon="delete" />
      </button>
    </div>
  </ng-template>
</p-select>

@if (selectedOptionValue() && showClear()) {
  <button
    app-btn
    btnStyle="text"
    ariaLabel="clear selection"
    i18n-ariaLabel
    (click)="clearSelectedOptionValue()"
    class="clear-button"
  >
    <app-icon icon="close" />
  </button>
}
