<p-dialog
  [visible]="studiesService.exportDialogData()?.isOpen ?? false"
  [style]="{ width: '31rem' }"
  closable="false"
  modal="true"
  focusOnShow="false"
  draggable="false"
  data-testid="export-dialog"
>
  <ng-template #header>
    <div class="export-header">
      <app-icon icon="download" />
      <p class="heading-s">{{ 'common.export' | transloco }}</p>
    </div>
  </ng-template>
  <ng-template #content>
    <form [formGroup]="form" (ngSubmit)="exportStudy()" class="flex flex-col gap-4" data-testid="export-form">
      <div>
        <label for="filename">{{ 'common.export-dialog.filename-label' | transloco }}</label>
        <input
          type="text"
          pInputText
          name="filename"
          id="filename"
          formControlName="filename"
          required
          fluid
          data-testid="export-filename-input"
        />
      </div>
      <div>
        <label for="exportFormat">{{ 'common.export-dialog.format-label' | transloco }}</label>
        <p-select
          [options]="exportFormats()"
          formControlName="exportFormat"
          appendTo="body"
          inputId="exportFormat"
          fluid
          required
          data-testid="export-format-select"
        />
      </div>
    </form>
  </ng-template>

  <ng-template #footer>
    <button app-btn btnStyle="text" (click)="cancel()" data-testid="export-cancel-btn">
      <span>{{ 'common.cancel' | transloco }}</span>
    </button>
    <button app-btn type="submit" [disabled]="!form.valid" (click)="exportStudy()" data-testid="export-submit-btn">
      <app-icon icon="download" />
      <span>{{ 'common.export' | transloco }}</span>
    </button>
  </ng-template>
</p-dialog>
