app-home {
  .card-update {
    background-image: url('../../../../../public/img/home-update-card-bgi.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    transition: background-color 0.3s ease-in-out;

    &.card-warning {
      background-color: var(--rte-100);
    }
  }

  .card-server {
    $_foreground-timing-duration-fill: 0.6s ease-out forwards;
    $_middleground-timing-duration-fill: 1s ease-in forwards;
    $_background-timing-duration-fill: 1.5s ease-in-out forwards;

    .info-card__header,
    .info-card__main {
      position: relative;
      z-index: 1;
    }

    .info-card__header::after {
      display: block;
      width: 1.4375rem;
      height: 1.4375rem;
    }

    .foreground,
    .middleground,
    .background {
      transition: fill 0.5s ease-in;
      filter: drop-shadow(1px 1px 6px var(--grey-white));
    }

    .foreground {
      opacity: 0.8;
    }

    .middleground {
      opacity: 0.6;
    }

    .background {
      opacity: 0.4;
    }

    &.card-unknown {
      .info-card__header::after {
        content: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23" fill="none"%3E%3Cpath d="M10.3802 7.18457C10.3802 6.85246 10.2639 6.57017 10.0314 6.33769C9.79897 6.10522 9.51668 5.98898 9.18457 5.98898C8.85246 5.98898 8.57017 6.10522 8.33769 6.33769C8.10522 6.57017 7.98898 6.85246 7.98898 7.18457C7.98898 7.51668 8.10522 7.79897 8.33769 8.03145C8.57017 8.26392 8.85246 8.38016 9.18457 8.38016C9.51668 8.38016 9.79897 8.26392 10.0314 8.03145C10.2639 7.79897 10.3802 7.51668 10.3802 7.18457ZM13.3691 4.19559L13.3691 7.82478L12.2319 9L12.2319 11L13.3691 11.3359L13.3691 16.8266L13.3691 18.5427C13.3691 18.8814 13.2546 19.1654 13.0254 19.3946C12.7963 19.6237 12.5123 19.7383 12.1735 19.7383L6.19559 19.7383C5.85684 19.7383 5.57289 19.6237 5.34373 19.3945C5.11458 19.1654 5 18.8814 5 18.5427L5 4.19559C5 3.85684 5.11458 3.57289 5.34373 3.34373C5.57289 3.11458 5.85684 3 6.19559 3L12.1735 3C12.5123 3 12.7963 3.11458 13.0254 3.34373C13.2546 3.57289 13.3691 3.85684 13.3691 4.19559ZM11.5758 4.79339L6.79339 4.79339L6.79339 17.9449L11.5758 17.9449L11.5758 4.79339Z" fill="%236F767B"/%3E%3Cpath d="M14.4725 15.8C14.665 15.8 14.8277 15.7335 14.9606 15.6006C15.0935 15.4677 15.16 15.305 15.16 15.1125C15.16 14.92 15.0935 14.7573 14.9606 14.6244C14.8277 14.4915 14.665 14.425 14.4725 14.425C14.28 14.425 14.1173 14.4915 13.9844 14.6244C13.8515 14.7573 13.785 14.92 13.785 15.1125C13.785 15.305 13.8515 15.4677 13.9844 15.6006C14.1173 15.7335 14.28 15.8 14.4725 15.8ZM14.5 18C13.7392 18 13.0242 17.8556 12.355 17.5669C11.6858 17.2781 11.1037 16.8862 10.6087 16.3912C10.1137 15.8962 9.72187 15.3142 9.43312 14.645C9.14437 13.9758 9 13.2608 9 12.5C9 11.7392 9.14437 11.0242 9.43312 10.355C9.72187 9.68583 10.1137 9.10375 10.6087 8.60875C11.1037 8.11375 11.6858 7.72187 12.355 7.43312C13.0242 7.14437 13.7392 7 14.5 7C15.2608 7 15.9758 7.14437 16.645 7.43312C17.3142 7.72187 17.8962 8.11375 18.3912 8.60875C18.8862 9.10375 19.2781 9.68583 19.5669 10.355C19.8556 11.0242 20 11.7392 20 12.5C20 13.2608 19.8556 13.9758 19.5669 14.645C19.2781 15.3142 18.8862 15.8962 18.3912 16.3912C17.8962 16.8862 17.3142 17.2781 16.645 17.5669C15.9758 17.8556 15.2608 18 14.5 18ZM14.555 10.135C14.7842 10.135 14.9835 10.2083 15.1531 10.355C15.3227 10.5017 15.4075 10.685 15.4075 10.905C15.4075 11.1067 15.3456 11.2854 15.2219 11.4412C15.0981 11.5971 14.9583 11.7438 14.8025 11.8812C14.5917 12.0646 14.406 12.2663 14.2456 12.4862C14.0852 12.7062 14.005 12.9537 14.005 13.2287C14.005 13.3571 14.0531 13.4648 14.1494 13.5519C14.2456 13.639 14.3579 13.6825 14.4862 13.6825C14.6237 13.6825 14.7406 13.6367 14.8369 13.545C14.9331 13.4533 14.995 13.3387 15.0225 13.2013C15.0592 13.0087 15.1417 12.8369 15.27 12.6856C15.3983 12.5344 15.5358 12.39 15.6825 12.2525C15.8933 12.0508 16.0744 11.8308 16.2256 11.5925C16.3769 11.3542 16.4525 11.0883 16.4525 10.795C16.4525 10.3275 16.2623 9.94479 15.8819 9.64687C15.5015 9.34896 15.0592 9.2 14.555 9.2C14.2067 9.2 13.8744 9.27333 13.5581 9.42C13.2419 9.56667 13.0013 9.79125 12.8363 10.0938C12.7721 10.2037 12.7515 10.3206 12.7744 10.4444C12.7973 10.5681 12.8592 10.6621 12.96 10.7262C13.0883 10.7996 13.2213 10.8225 13.3587 10.795C13.4962 10.7675 13.6108 10.6896 13.7025 10.5612C13.8033 10.4237 13.9294 10.3183 14.0806 10.245C14.2319 10.1717 14.39 10.135 14.555 10.135Z" fill="%236F767B"/%3E%3C/svg%3E');
      }

      svg.server-status {
        .foreground,
        .middleground,
        .background {
          fill: var(--grey-350);
        }

        .foreground {
          animation: unknown-foreground #{$_foreground-timing-duration-fill};
        }
        .middleground {
          animation: unknown-middleground #{$_middleground-timing-duration-fill};
        }
        .background {
          animation: unknown-background #{$_background-timing-duration-fill};
        }
      }
    }

    &.card-warning {
      .info-card__header::after {
        content: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"%3E%3Cpath d="M10.8193 2.6084C11.1137 2.60849 11.3604 2.70811 11.5596 2.90723C11.7588 3.10649 11.8584 3.35387 11.8584 3.64844V16.124C11.8583 16.4184 11.7587 16.6651 11.5596 16.8643C11.3604 17.0634 11.1137 17.163 10.8193 17.1631H5.62109C5.32653 17.1631 5.07915 17.0635 4.87988 16.8643C4.68079 16.6651 4.58111 16.4184 4.58105 16.124V3.64844C4.58105 3.35387 4.68062 3.10649 4.87988 2.90723C5.07915 2.70796 5.32653 2.6084 5.62109 2.6084H10.8193ZM6.14062 15.6035H10.2988V4.16797H6.14062V15.6035ZM8.21973 5.20703C8.50848 5.20703 8.75392 5.30865 8.95605 5.51074C9.15819 5.71288 9.25975 5.95832 9.25977 6.24707C9.25977 6.53586 9.15821 6.78125 8.95605 6.9834C8.7539 7.18555 8.50852 7.28711 8.21973 7.28711C7.93097 7.28709 7.68553 7.18553 7.4834 6.9834C7.2813 6.78126 7.17969 6.53582 7.17969 6.24707C7.17971 5.95832 7.28127 5.71288 7.4834 5.51074C7.68553 5.30861 7.93097 5.20705 8.21973 5.20703Z" fill="%23108FAA"/%3E%3Cpath d="M12.6088 13.2608C12.7443 13.2608 12.8579 13.215 12.9495 13.1233C13.0412 13.0317 13.087 12.9181 13.087 12.7826C13.087 12.6471 13.0412 12.5335 12.9495 12.4418C12.8579 12.3501 12.7443 12.3043 12.6088 12.3043C12.4733 12.3043 12.3597 12.3501 12.268 12.4418C12.1764 12.5335 12.1305 12.6471 12.1305 12.7826C12.1305 12.9181 12.1764 13.0317 12.268 13.1233C12.3597 13.215 12.4733 13.2608 12.6088 13.2608ZM12.6088 11.3478C12.7443 11.3478 12.8579 11.3019 12.9495 11.2103C13.0412 11.1186 13.087 11.005 13.087 10.8695V8.95648C13.087 8.82097 13.0412 8.70739 12.9495 8.61572C12.8579 8.52405 12.7443 8.47822 12.6088 8.47822C12.4733 8.47822 12.3597 8.52405 12.268 8.61572C12.1764 8.70739 12.1305 8.82097 12.1305 8.95648V10.8695C12.1305 11.005 12.1764 11.1186 12.268 11.2103C12.3597 11.3019 12.4733 11.3478 12.6088 11.3478ZM12.6088 15.6521C11.9472 15.6521 11.3254 15.5266 10.7436 15.2755C10.1617 15.0244 9.65552 14.6837 9.22508 14.2532C8.79465 13.8228 8.45389 13.3166 8.2028 12.7347C7.95172 12.1529 7.82617 11.5311 7.82617 10.8695C7.82617 10.2079 7.95172 9.58619 8.2028 9.00431C8.45389 8.42242 8.79465 7.91626 9.22508 7.48583C9.65552 7.05539 10.1617 6.71463 10.7436 6.46354C11.3254 6.21246 11.9472 6.08691 12.6088 6.08691C13.2704 6.08691 13.8921 6.21246 14.474 6.46354C15.0559 6.71463 15.562 7.05539 15.9925 7.48583C16.4229 7.91626 16.7637 8.42242 17.0148 9.00431C17.2658 9.58619 17.3914 10.2079 17.3914 10.8695C17.3914 11.5311 17.2658 12.1529 17.0148 12.7347C16.7637 13.3166 16.4229 13.8228 15.9925 14.2532C15.562 14.6837 15.0559 15.0244 14.474 15.2755C13.8921 15.5266 13.2704 15.6521 12.6088 15.6521Z" fill="%23108FAA"/%3E%3C/svg%3E');
      }

      svg.server-status {
        .foreground,
        .middleground,
        .background {
          fill: var(--secondary-600);
        }

        .foreground {
          animation: warning-foreground #{$_foreground-timing-duration-fill};
        }
        .middleground {
          animation: warning-middleground #{$_middleground-timing-duration-fill};
        }
        .background {
          animation: warning-background #{$_background-timing-duration-fill};
        }
      }
    }

    &.card-error {
      .info-card__header::after {
        content: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23" fill="none"%3E%3Cpath d="M12.4414 4C12.78 4.00006 13.0639 4.11466 13.293 4.34375C13.5221 4.57284 13.6367 4.85668 13.6367 5.19531V11.8682L12.5215 10.7529L11.8438 11.4307V5.79297H7.06055V18.9453H11.8438V15.5713L12.5225 16.25L13.6367 15.1357V19.543C13.6367 19.8816 13.5221 20.1654 13.293 20.3945C13.0639 20.6236 12.78 20.7382 12.4414 20.7383H6.46289C6.12426 20.7382 5.84042 20.6236 5.61133 20.3945C5.38224 20.1654 5.26764 19.8816 5.26758 19.543V5.19531C5.26764 4.85668 5.38224 4.57284 5.61133 4.34375C5.84042 4.11466 6.12426 4.00006 6.46289 4H12.4414ZM13.6367 13.4102V13.5879L11.8438 15.3809V11.6172L13.6367 13.4102ZM9.45215 6.98926C9.78426 6.98926 10.0664 7.10541 10.2988 7.33789C10.5313 7.57037 10.6475 7.85246 10.6475 8.18457C10.6475 8.51668 10.5313 8.79877 10.2988 9.03125C10.0664 9.26373 9.78426 9.37988 9.45215 9.37988C9.12004 9.37988 8.83794 9.26373 8.60547 9.03125C8.37299 8.79877 8.25684 8.51668 8.25684 8.18457C8.25684 7.85246 8.37299 7.57037 8.60547 7.33789C8.83794 7.10541 9.12004 6.98926 9.45215 6.98926Z" fill="%23DE0236"/%3E%3Cpath d="M14.5 8C11.4585 8 9 10.4585 9 13.5C9 16.5415 11.4585 19 14.5 19C17.5415 19 20 16.5415 20 13.5C20 10.4585 17.5415 8 14.5 8ZM17.25 15.4745L16.4745 16.25L14.5 14.2755L12.5255 16.25L11.75 15.4745L13.7245 13.5L11.75 11.5255L12.5255 10.75L14.5 12.7245L16.4745 10.75L17.25 11.5255L15.2755 13.5L17.25 15.4745Z" fill="%23DE0236"/%3E%3C/svg%3E');
      }

      svg.server-status {
        .foreground,
        .middleground,
        .background {
          fill: var(--main-error);
        }

        .foreground {
          animation: error-foreground #{$_foreground-timing-duration-fill};
        }
        .middleground {
          animation: error-middleground #{$_middleground-timing-duration-fill};
        }
        .background {
          animation: error-background #{$_background-timing-duration-fill};
        }
      }
    }

    &.card-success {
      .info-card__header::after {
        content: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23" fill="none"%3E%3Cpath d="M12.4414 3C12.7802 3 13.0648 3.11459 13.2939 3.34375C13.5229 3.57285 13.6377 3.85672 13.6377 4.19531V13.2686L13.3945 13.5117L11.9385 12.0566L11.8438 12.1504V4.79297H7.06152V17.9443H11.8438V14.0781L13.167 15.4014L13.3604 15.207L13.498 15.3447L13.6377 15.2051V18.542C13.6377 18.8807 13.5231 19.1654 13.2939 19.3945C13.0648 19.6237 12.7802 19.7383 12.4414 19.7383H6.46387C6.12528 19.7383 5.8414 19.6235 5.6123 19.3945C5.38315 19.1654 5.26855 18.8807 5.26855 18.542V4.19531C5.26855 3.85656 5.38315 3.57291 5.6123 3.34375C5.84145 3.11462 6.12513 3 6.46387 3H12.4414ZM9.45312 5.98828C9.785 5.98837 10.0674 6.10463 10.2998 6.33691C10.5323 6.56939 10.6484 6.85246 10.6484 7.18457C10.6484 7.51653 10.5322 7.79885 10.2998 8.03125C10.0674 8.26364 9.78507 8.3798 9.45312 8.37988C9.12102 8.37988 8.83794 8.26373 8.60547 8.03125C8.37317 7.79887 8.25691 7.51648 8.25684 7.18457C8.25684 6.85246 8.37299 6.56939 8.60547 6.33691C8.83794 6.10446 9.12103 5.98828 9.45312 5.98828Z" fill="%230B8A4D"/%3E%3Cpath d="M14.5 7C11.464 7 9 9.464 9 12.5C9 15.536 11.464 18 14.5 18C17.536 18 20 15.536 20 12.5C20 9.464 17.536 7 14.5 7ZM13.4 15.25L10.65 12.5L11.4255 11.7245L13.4 13.6935L17.5745 9.519L18.35 10.3L13.4 15.25Z" fill="%230B8A4D"/%3E%3C/svg%3E');
      }

      svg.server-status {
        .foreground,
        .middleground,
        .background {
          fill: var(--main-success);
        }

        .foreground {
          animation: success-foreground #{$_foreground-timing-duration-fill};
        }
        .middleground {
          animation: success-middleground #{$_middleground-timing-duration-fill};
        }
        .background {
          animation: success-background #{$_background-timing-duration-fill};
        }
      }
    }

    svg.server-status {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}

@keyframes warning-foreground {
  to {
    d: path(
      'M204.6892579,89.7292023c-8.5183716-3.3296585-9.7962952-9.7309418-18.2276306-9.7309418-8.4313965,0-17.6917877,8.9620361-27.8540192,8.9620361-10.163269,0-12.7980957-4.0966034-20.7025452-4.0966034-7.9044037,0-10.4342499,8.1941223-20.2205276,8.1941223s-15.9148712-3.3286209-24.9482193-3.3286209c-9.0336533,0-21.0786819,6.1453323-31.2415276,6.1453323-10.1629639,0-12.0449104-4.6094818-21.831562-4.6094818-9.7864666,0-10.1628418,1.7927704-16.9381733,1.7927704-6.7752695,0-10.1629648-6.9142303-18.0674267-6.9142303C2.7349131,86.1435852,1.2062755,87.4410553.0000026,89.2663574v10.7336349h224.0000005v-12.3619385c-4.115921,2.4941788-12.231781,4.8576279-19.3107452,2.0911484Z'
    );
  }
}
@keyframes warning-middleground {
  to {
    d: path(
      'M224.0000031,78.8954163c-5.2501678,3.4006958-12.9644012,6.1863403-20.5026093,4.3524933-8.5534058-2.0807648-16.714798-17.2481308-25.1092224-17.2481308s-12.7420654,11.4987564-22.8613281,11.4987564c-10.1182861,0-17.2387543-5.7493744-25.1092224-5.7493744-7.8704071,0-16.1279144,15.4983215-26.2341385,15.4983215h-20.9865875c-7.8945923,0-13.4915848,4.9994583-23.610363,4.9994583-10.1187172,0-8.9944725-4.2495422-16.1150513-4.2495422s-13.8664341,2.2497559-20.6122265,2.2497559-9.743989-7.7491608-17.614151-7.7491608C2.923981,82.4979935,1.2292788,84.0862579-.0000031,86.4306107v13.5693893h224.0000062v-21.1045837Z'
    );
  }
}
@keyframes warning-background {
  to {
    d: path(
      'M202.1224854,85.8006134c-7.0115204,0-12.776123-4.6714935-22.9023438-4.6714935-10.1273193,0-12.3861389,4.6714935-22.9024048,4.6714935-10.5171814,0-13.5549927-11.5227356-22.9023438-11.5227356-9.3483276,0-12.776062,10.5888748-22.9033203,10.5888748-10.1262817,0-14.4109497-6.2293625-22.590416-6.2293625s-12.0743866,6.2293625-22.5908432,6.2293625-14.8008156-20.8667526-23.525589-20.8667526-13.9427223,14.5903931-21.9027214,13.0895844C12.7494538,75.7417679,10.7822487,71.403862.000005,70.5378036v29.4621964h223.9999981v-23.4720001c-7.7986298.7189789-15.1608887,9.2726135-21.8775177,9.2726135Z'
    );
  }
}

@keyframes error-foreground {
  to {
    d: path(
      'M204.6892579,85.8845139c-8.5183716-3.3296585-9.7962952-14.7096786-18.2276306-14.7096786-8.4313965,0-17.6917877,13.4193573-27.8540192,13.4193573-10.163269,0-12.7980957-6.838707-20.7025452-6.838707-7.9044037,0-10.4342499,12.3870926-20.2205276,12.3870926s-15.9148712-5.161293-24.9482193-5.161293c-9.0336533,0-21.0786819,9.161293-31.2415276,9.161293-10.1629639,0-12.0449104-7.3548355-21.831562-7.3548355-9.7864666,0-10.1628418,3.3548355-16.9381733,3.3548355-6.7752695,0-10.1629648-11.2258072-18.0674267-11.2258072C2.7349131,78.9167709,1.2062755,79.9301758.0000026,81.7554779v18.2445221h224.0000005v-19.0187149c-4.115921,2.4941788-12.231781,7.6697083-19.3107452,4.9032288Z'
    );
  }
}
@keyframes error-middleground {
  to {
    d: path(
      'M224.0000031,67.3038635c-5.2501678,3.4006958-12.9644012,9.3177185-20.5026093,7.4838715-8.5534058-2.0807648-16.714798-25.6774216-25.1092224-25.6774216s-12.7420654,17.161293-22.8613281,17.161293c-10.1182861,0-17.2387543-8.7741928-25.1092224-8.7741928-7.8704071,0-17.3732376,24.8450317-26.2341385,24.8450317s-13.8542099-1.5551605-20.9865875-1.5551605-13.4915848,7.2907715-23.610363,7.2907715c-10.1187172,0-8.9944725-6.3225784-16.1150513-6.3225784s-13.8664341,3.6128998-20.6122265,3.6128998-9.743989-11.6128998-17.614151-11.6128998C2.923981,73.7554779,1.2292788,73.8627396-.0000031,76.2070923v23.7929077h224.0000062v-32.6961365Z'
    );
  }
}
@keyframes error-background {
  to {
    d: path(
      'M202.1224854,62.6587067c-7.0115204,0-12.776123-8.1290321-22.9023438-8.1290321-10.1273193,0-12.3861389,24.9032249-22.9024048,24.9032249-10.5171814,0-13.5549927-6.838707-22.9023438-6.838707-9.3483276,0-12.776062,6.5806427-22.9033203,6.5806427-10.1262817,0-14.4109497-12.7741928-22.590416-12.7741928s-12.0743866,13.8064499-22.5908432,13.8064499-14.8008156-5.5483856-23.525589-5.5483856-12.8180161,5.0563965-20.778017,3.5555801C13.8741581,76.8664703,10.7822478,68.5570145.0000031,67.6909637v32.3090363h224V24.3361244c-7.7986298.718977-15.1608887,38.3225822-21.8775177,38.3225822Z'
    );
  }
}

@keyframes success-foreground {
  to {
    d: path(
      'M204.6892579,90.4036789c-8.5183716-3.3296585-9.7962952-6.9677429-18.2276306-6.9677429-8.4313965,0-17.6917877,8.2580643-27.8540192,8.2580643-10.163269,0-12.7980957-2.6451645-20.7025452-2.6451645-7.9044037,0-10.4342499,6.2580643-20.2205276,6.2580643s-15.9148712-3.6128998-24.9482193-3.6128998c-9.0336533,0-21.0786819,3.161293-31.2415276,3.161293-10.1629639,0-12.214859-3.7602005-22.0015068-3.7602005-9.7864666,0-9.9928951.7279434-16.7682266.7279434-6.7752695,0-10.1629648-4.1935501-18.0674267-4.1935501C2.734915,87.6294861,1.2062774,89.7396698.0000045,91.5649719v8.4350204h223.9999986v-11.9188919c-4.115921,2.4941788-12.231781,5.0890656-19.3107452,2.3225784Z'
    );
  }
}
@keyframes success-middleground {
  to {
    d: path(
      'M224.0000031,87.9520721c-5.2501678,3.4006958-14.3304291,3.1353607-21.8686371,1.3015137-8.5534058-2.0807648-15.3487701-9.2369919-23.7431946-9.2369919s-12.7420654,6.9032288-22.8613281,6.9032288c-10.1182861,0-17.2387543-3.4193573-25.1092224-3.4193573-7.8704071,0-17.8482361,8.838707-26.2341385,8.838707s-13.2647018,1.0967712-20.9865875,1.0967712-13.4915848.3871002-23.610363.3871002c-10.1187172,0-8.9944725-2.3225784-16.1150513-2.3225784s-13.8664341,2.5161285-20.6122265,2.5161285-9.743989-4.5806427-17.614151-4.5806427C2.923981,89.4359512,1.2292788,90.9625702-.0000031,93.3069153v6.6930847h224.0000062v-12.0479279Z'
    );
  }
}
@keyframes success-background {
  to {
    d: path(
      'M202.1224854,87.8230362c-7.0115204,0-12.776123-6.1935501-22.9023438-6.1935501-10.1273193,0-12.3861389,11.3548355-22.9024048,11.3548355-10.5171814,0-13.5549927-5.5483856-22.9023438-5.5483856-9.3483276,0-12.776062,4.7741928-22.9033203,4.7741928-10.1262817,0-14.4109497-6.5806427-22.590416-6.5806427s-12.0743866,9.0967712-22.5908432,9.0967712-14.8008156-3.0967712-23.525589-3.0967712-13.9427223.5975876-21.9027214-.9032288c-7.1530495-1.3478165-9.1202545,1.0596008-19.9024983.1935501v9.0801849h223.9999981v-17.7253418c-7.7986298.7189789-15.1608887,5.5483856-21.8775177,5.5483856Z'
    );
  }
}

@keyframes unknown-foreground {
  to {
    d: path(
      'M204.6892579,92H.0000026v7.9999924h224.0000005v-7.9999924h-19.3107452Z'
    );
  }
}
@keyframes unknown-middleground {
  to {
    d: path(
      'M224.0000031,92H83.1968949c-7.8945923,0-13.4915848.2469406-23.610363.2469406-10.1187172,0-8.9944725-.2469406-16.1150513-.2469406H-.0000031v8h224.0000062v-8Z'
    );
  }
}
@keyframes unknown-background {
  to {
    d: path(
      'M202.1224854,92H41.8052247c-8.7247734,0-13.9427223,1.5008087-21.9027214,0H.000005v8h223.9999981v-8c-7.7986298.7189789-15.1608887,0-21.8775177,0Z'
    );
  }
}
