<p-dialog
  dismissableMask="true"
  [visible]="isOpen()"
  (visibleChange)="onVisibleChange($event)"
  i18n-header
  [style]="{ width: '90vw', height: '95vh' }"
  [modal]="true"
>
  <ng-template #header>
    <p class="text-l-600 mb-0 flex gap-2">
      @if (mode() === 'create') {
        <app-icon icon="edit" />
        <span i18n>Create a section</span>
      } @else {
        <app-icon icon="description" />
        <span>{{ section().name }}</span>
      }
    </p>
  </ng-template>

  @if (mode() === 'create') {
    <div class="section-form-part">
      <h3 class="title-underline" i18n>Section source</h3>
      <div class="flex flex-wrap gap-6">
        <div class="flex items-center">
          <p-radiobutton
            name="source"
            value="manual"
            [(ngModel)]="source"
            inputId="manual"
          />
          <label for="manual" class="ml-2" i18n>Manual</label>
          <app-icon icon="info" />
        </div>
        <div class="flex items-center">
          <p-radiobutton
            name="source"
            value="referencial"
            [(ngModel)]="source"
            inputId="referencial"
          />
          <label for="referencial" class="ml-2" i18n>From referencial</label>
          <app-icon icon="info" />
        </div>
        <div class="flex items-center">
          <p-radiobutton
            name="source"
            value="distantReferencial"
            [(ngModel)]="source"
            inputId="distantReferencial"
          />
          <label for="distantReferencial" class="ml-2" i18n
            >From distant referencial</label
          >
          <app-icon icon="info" />
        </div>
        <div class="flex items-center">
          <p-radiobutton
            name="source"
            value="extraction"
            [(ngModel)]="source"
            inputId="extraction"
          />
          <label for="extraction" class="ml-2" i18n>From extraction</label>
          <app-icon icon="info" />
        </div>
      </div>
    </div>
  }
  <div>
    @if (source === 'manual' && isOpen()) {
      <app-manual-section
        [mode]="mode()"
        [section]="section()"
        (sectionChange)="onSectionChange($event)"
      />
    }
  </div>
  <ng-template #footer>
    <button
      app-btn
      type="button"
      btnSize="m"
      btnStyle="outlined"
      (click)="onVisibleChange(false)"
    >
      <app-icon icon="close" />
      <ng-container i18n>Cancel</ng-container>
    </button>
    @if (mode() !== 'view') {
      <button
        app-btn
        type="button"
        btnSize="m"
        (click)="onValidate()"
        [disabled]="!areAllRequiredFieldsFilled()"
      >
        <app-icon icon="save" />
        @if (mode() === 'create') {
          <ng-container i18n>Create section</ng-container>
        } @else {
          <ng-container i18n>Update section</ng-container>
        }
      </button>
    }
  </ng-template>
</p-dialog>
