<ng-template #header>
  <p class="text-l-600 mb-0 flex gap-2 items-center">
    <app-icon icon="build" />
    <span>{{ 'studio.top-toolbar.vtl-and-guying-tool' | transloco }}</span>
  </p>
</ng-template>

@if (!loading()) {
  <form [formGroup]="form" class="vtl-guying">
    <div class="vtl-guying__left">
      <div class="vtl-guying__fields-grid">
        <div class="vtl-guying__form-field">
          <label for="span-select">{{ 'studio.vtl-and-guying.guying-span-label' | transloco }}</label>
          <p-select
            id="span-select"
            [options]="this.spanService.getSpanOptionsWithIndex()"
            optionLabel="label"
            optionValue="value"
            formControlName="selectedSpan"
            appendTo="body"
            data-testid="guying-span-select"
          />
        </div>
        <div class="vtl-guying__form-field">
          <label for="support-select">{{ 'studio.shared.reference-support-label' | transloco }}</label>
          <p-select
            id="support-select"
            [options]="supportOptions()"
            optionLabel="label"
            optionValue="value"
            formControlName="selectedSupport"
            appendTo="body"
            data-testid="reference-support-select"
          />
        </div>
        <dl class="vtl-guying__support-type">
          <div class="flex items-center gap-2">
            <dt class="vtl-guying__support-type-label">{{ 'studio.vtl-and-guying.support-type-label' | transloco }}</dt>
            <app-icon icon="info" class="vtl-guying__support-type-info-icon" />
          </div>
          <dd class="vtl-guying__support-type-value">
            {{ supportType() ?? '-' }}
          </dd>
        </dl>
      </div>
      <hr class="my-3" />

      <section class="vtl-guying__vtl-section">
        <header class="vtl-guying__section-header">
          <h3 class="vtl-guying__section-title underline-text">
            {{ 'studio.vtl-and-guying.vtl-without-guying-title' | transloco }}
          </h3>
          <button
            app-btn
            btnSize="s"
            btnStyle="outlined"
            type="button"
            (click)="onExportVhl()"
            class="vtl-guying__export-btn"
            [disabled]="true"
            data-testid="export-vtl-btn"
          >
            <app-icon icon="download" />
            <span>{{ 'common.export' | transloco }}</span>
          </button>
        </header>
        <dl class="vtl-guying__vtl-fields">
          <div class="vtl-guying__vtl-field">
            <dt>{{ 'studio.vtl-and-guying.charge-v-label' | transloco }}</dt>
            <dd class="vtl-guying__vtl-value">{{ (vtlWithoutGuying()?.chargeV | number: '1.0-3') ?? '-' }}&nbsp;daN</dd>
          </div>
          <div class="vtl-guying__vtl-field">
            <dt>{{ 'studio.vtl-and-guying.charge-t-label' | transloco }}</dt>
            <dd class="vtl-guying__vtl-value">{{ (vtlWithoutGuying()?.chargeH | number: '1.0-3') ?? '-' }}&nbsp;daN</dd>
          </div>
          <div class="vtl-guying__vtl-field">
            <dt>{{ 'studio.vtl-and-guying.charge-l-label' | transloco }}</dt>
            <dd class="vtl-guying__vtl-value">{{ (vtlWithoutGuying()?.chargeL | number: '1.0-3') ?? '-' }}&nbsp;daN</dd>
          </div>
          <div class="vtl-guying__vtl-field">
            <dt>{{ 'studio.vtl-and-guying.resultant-label' | transloco }}</dt>
            <dd class="vtl-guying__vtl-value">
              {{ (vtlWithoutGuying()?.resultant | number: '1.0-3') ?? '-' }}&nbsp;daN
            </dd>
          </div>
        </dl>
      </section>

      <hr class="my-3" />

      <section class="vtl-guying__guying-section">
        <div>
          <h3 class="vtl-guying__section-title underline-text">
            {{ 'studio.vtl-and-guying.guying-title' | transloco }}
          </h3>
        </div>
        <div class="vtl-guying__fields-grid">
          <div class="vtl-guying__form-field">
            <label for="altitude-input">{{ 'field-measuring.header.altitude-label' | transloco }}</label>
            <p-inputgroup>
              <input
                id="altitude-input"
                type="number"
                pInputText
                formControlName="altitude"
                data-testid="altitude-input"
              />
              <p-inputgroup-addon>m</p-inputgroup-addon>
            </p-inputgroup>
          </div>
          <div class="vtl-guying__form-field">
            <label for="horizontal-distance-input">{{
              'studio.vtl-and-guying.horizontal-distance-label' | transloco
            }}</label>
            <p-inputgroup>
              <input
                pInputText
                type="number"
                id="horizontal-distance-input"
                formControlName="horizontalDistance"
                data-testid="horizontal-distance-input"
              />
              <p-inputgroup-addon>m</p-inputgroup-addon>
            </p-inputgroup>
          </div>
          <div class="vtl-guying__form-field vtl-guying__form-field--checkbox">
            <p-checkbox
              [binary]="true"
              formControlName="hasPulley"
              inputId="pulley-checkbox"
              data-testid="with-pulley-checkbox"
            />
            <label for="pulley-checkbox">{{ 'studio.vtl-and-guying.with-pulley-label' | transloco }}</label>
          </div>
        </div>
        <div class="vtl-guying__calculate-btn-container">
          <button
            app-btn
            btnSize="m"
            btnStyle="base"
            type="button"
            [disabled]="!isFormValid()"
            [btnLoading]="isCalculating()"
            (click)="onCalculate()"
            class="vtl-guying__calculate-btn"
            data-testid="calculate-btn"
          >
            <app-icon icon="rocket_launch" />
            <span>{{ 'common.calculate' | transloco }}</span>
          </button>
        </div>
      </section>

      <hr class="my-3" />

      @if (results()) {
        <section class="vtl-guying__results-section">
          <div>
            <h3 class="vtl-guying__section-title">{{ 'common.results' | transloco }}</h3>
          </div>
          <dl class="vtl-guying__results-fields">
            <div class="vtl-guying__result-field tensionInGuy">
              <dt>{{ 'studio.vtl-and-guying.tension-in-guy-line-label' | transloco }}</dt>
              <dd class="vtl-guying__result-value">
                {{ (results()?.tensionInGuy | number: '1.0-3') ?? '-' }}&nbsp;daN
              </dd>
            </div>
            <div class="vtl-guying__result-field guyAngle">
              <dt>{{ 'studio.vtl-and-guying.angle-guy-line-label' | transloco }}</dt>
              <dd class="vtl-guying__result-value">{{ (results()?.guyAngle | number: '1.0-3') ?? '-' }}&nbsp;°</dd>
            </div>
            <div class="vtl-guying__result-field chargeVUnderConsole">
              <dt>{{ 'studio.vtl-and-guying.charge-v-under-console-label' | transloco }}</dt>
              <dd class="vtl-guying__result-value">
                {{ (results()?.chargeVUnderConsole | number: '1.0-3') ?? '-' }}&nbsp;daN
              </dd>
            </div>
            <div class="vtl-guying__result-field chargeHUnderConsole">
              <dt>{{ 'studio.vtl-and-guying.charge-t-under-console-label' | transloco }}</dt>
              <dd class="vtl-guying__result-value">
                {{ (results()?.chargeHUnderConsole | number: '1.0-3') ?? '-' }}&nbsp;daN
              </dd>
            </div>
            <div class="vtl-guying__result-field chargeLIfPulley">
              <dt>{{ 'studio.vtl-and-guying.charge-l-if-pulley-label' | transloco }}</dt>
              <dd class="vtl-guying__result-value">
                {{ (results()?.chargeLIfPulley | number: '1.0-3') ?? '-' }}&nbsp;daN
              </dd>
            </div>
            <div class="vtl-guying__result-field comment">
              <label for="comment-textarea">{{ 'studio.vtl-and-guying.comment-label' | transloco }}</label>
              <textarea
                pTextarea
                id="comment-textarea"
                formControlName="comment"
                [rows]="3"
                [placeholder]="'studio.vtl-and-guying.comment-placeholder' | transloco"
                class="w-full h-full comment-textarea"
                data-testid="comment-textarea"
              ></textarea>
            </div>
          </dl>
          <div class="vtl-guying__info-text">
            <app-icon icon="info" class="vtl-guying__info-icon" />
            <p>
              {{ 'studio.vtl-and-guying.info-text' | transloco }}
            </p>
          </div>
        </section>
      }
    </div>

    <div class="vtl-guying__right">
      <app-card role="generic">
        <img
          src="img/VHL-Haubanage-Suspension-Droite.webp"
          alt="Diagram showing guying configuration with altitude (a) and horizontal distance (d) parameters"
        />
      </app-card>
    </div>
  </form>
} @else {
  <div class="vtl-guying__loading">
    <p-progressSpinner aria-label="Loading" />
    <span class="vtl-guying__loading-text">{{ 'studio.vtl-and-guying.loading-data-text' | transloco }}</span>
  </div>
}
<ng-template #footer>
  <div class="vtl-guying__dialog-footer">
    <button
      [disabled]="!results()"
      app-btn
      type="button"
      btnSize="m"
      (click)="onReport()"
      data-testid="report-dialog-btn"
    >
      <app-icon icon="picture_as_pdf" aria-hidden="true" />
      <ng-container>{{ 'common.report' | transloco }}</ng-container>
    </button>
    <button [disabled]="true" app-btn type="button" btnSize="m" (click)="onExport()" data-testid="export-dialog-btn">
      <app-icon icon="download" aria-hidden="true" />
      <span>{{ 'common.export' | transloco }}</span>
    </button>
    <button app-btn type="button" btnSize="m" (click)="onSave()" data-testid="save-results-btn">
      <app-icon icon="save" aria-hidden="true" />
      <span>{{ 'common.save' | transloco }}</span>
    </button>
  </div>
</ng-template>
