<p-confirmdialog />
<div class="flex flex-col gap-4">
  <p-card [header]="'admin.app-version' | transloco">
    @if (onlineService.online$ | async) {<button
      app-btn
      [btnLoading]="updateService.updateLoading()"
      (click)="updateService.checkAppVersion()"
      [disabled]="updateService.updateLoading()"
    >
      {{ 'admin.check-app-version' | transloco }}
    </button>
    }
    <table class="my-2 w-full">
      <thead>
        <tr>
          <th></th>
          <th>{{ 'admin.current-version' | transloco }}</th>
          <th>{{ 'admin.latest-version' | transloco }}</th>
        </tr>
      </thead>
      <tr>
        <td>{{ 'admin.build-hash' | transloco }}</td>
        <td>{{ updateService.currentVersion().git_hash }}</td>
        <td>{{ updateService.latestVersion()?.git_hash }}</td>
      </tr>
      <tr>
        <td>{{ 'admin.build-datetime' | transloco }}</td>
        <td>{{ updateService.currentVersion().build_datetime_utc | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ updateService.latestVersion()?.build_datetime_utc | date: 'dd/MM/yyyy HH:mm' }}</td>
      </tr>
      <tr>
        <td>{{ 'admin.build-version' | transloco }}</td>
        <td>{{ updateService.currentVersion().version }}</td>
        <td>{{ updateService.latestVersion()?.version }}</td>
      </tr>
    </table>
    @if (updateService.pendingAction() === 'update-available') {
    <button
      app-btn
      [btnLoading]="updateService.updateLoading()"
      (click)="updateService.update()"
      [disabled]="updateService.updateLoading()"
    >
      {{ 'admin.update-to-latest' | transloco }}
    </button>
    }
  </p-card>
  <p-card>
    <div class="flex flex-row gap-2 items-center">
      <label for="activateDebugLogs">{{ 'admin.activate-python-logs' | transloco }}</label>
      <p-toggleSwitch
        inputId="activateDebugLogs"
        [ngModel]="activateDebugLogs()"
        (ngModelChange)="activateDebugLogs.set($event)"
        (onChange)="onChangeActivateDebugLogs(activateDebugLogs())"
      />
    </div>
  </p-card>
  <p-card [header]="'admin.danger-zone' | transloco">
    <div class="flex flex-row gap-2">
      <button app-btn btnStyle="danger" (click)="deleteAllStudies()">
        {{ 'admin.delete-all-studies' | transloco }}
      </button>
      <button app-btn btnStyle="danger" (click)="resetDatabase()">{{ 'admin.reset-database' | transloco }}</button>
      <button app-btn btnStyle="danger" (click)="resetApp()">{{ 'admin.reset-app-without-db' | transloco }}</button>
    </div>
  </p-card>
</div>
