<p-dialog
  data-testid="new-study-modal"
  dismissableMask="true"
  [visible]="isOpen()"
  (visibleChange)="isOpenChange.emit(false)"
  [style]="{ width: '496px' }"
  [modal]="true"
>
  <ng-template #header>
    <p class="text-l-600 mb-0 flex gap-2">
      <app-icon icon="edit" />
      @if (mode() === 'new') {
        <span>{{ 'shared.new-study-modal.create-title' | transloco }}</span>
      } @else {
        <span>{{ 'shared.new-study-modal.edit-title' | transloco }}</span>
      }
    </p>
  </ng-template>

  <ng-template #content>
    <form class="flex flex-col gap-6">
      <div>
        <div class="label-container">
          <label for="title" class="label">
            {{ 'shared.new-study-modal.study-name-label' | transloco }}
            <sup class="mandatory">*</sup>
          </label>
          <span class="input-length">{{ titleLength() }}/100</span>
        </div>
        <input
          type="text"
          pInputText
          id="title"
          name="title"
          maxlength="100"
          [placeholder]="'shared.new-study-modal.study-name-label' | transloco"
          [ngModel]="title()"
          (ngModelChange)="updateTitle($event)"
          required
          aria-describedby="title-description"
          fluid
          data-testid="study-title-input"
        />
        <small id="title-description" class="text-s-600 ml-1">{{
          'shared.new-study-modal.study-name-hint' | transloco
        }}</small>
      </div>
      <div>
        <div class="label-container">
          <label for="description" class="label">{{ 'shared.new-study-modal.description-label' | transloco }}</label>
          <span class="input-length">{{ descriptionLength() }}/240</span>
        </div>
        <textarea
          id="description"
          name="description"
          [placeholder]="'shared.new-study-modal.description-placeholder' | transloco"
          aria-describedby="description-description"
          class="block"
          pTextarea
          [ngModel]="description()"
          (ngModelChange)="updateDescription($event)"
          maxlength="240"
          rows="3"
          cols="20"
          fluid
          data-testid="study-description-input"
        ></textarea>
      </div>
    </form>
  </ng-template>

  <ng-template #footer>
    <button
      app-btn
      type="submit"
      btnSize="m"
      btnStyle="text"
      (click)="isOpenChange.emit(false)"
      data-testid="cancel-btn"
    >
      <app-icon icon="close" />
      <span>{{ 'common.cancel' | transloco }}</span>
    </button>
    <button
      app-btn
      type="button"
      btnSize="m"
      (click)="onSubmit()"
      [disabled]="titleLength() === 0"
      data-testid="validate-btn"
    >
      <app-icon icon="check" />
      <span>{{ 'common.validate' | transloco }}</span>
    </button>
  </ng-template>
</p-dialog>
