@use 'abstract.extracts' as app;

.form {
  @apply flex-row;

  &,
  &__col {
    @apply flex gap-4;
  }

  &__col {
    @apply flex-col;
    flex-grow: 1;

    &--right {
      flex: 0 0 43%;
    }
  }

  label,
  dt {
    @extend %text-s-400;
    color: var(--grey-700);

    &.extreme-historical-conditions {
      @extend %text-s-600;
      color: var(--star-dust-950);
    }
  }

  dt {
    @extend %label-spacing;
  }

  input {
    @apply block w-full;
  }
}