@use 'abstract.extracts' as app;

:host dt {
  @extend %label-style;
  color: var(--grey-800);
}

:host dd {
  @extend %text-m-400;
  color: var(--star-dust-950);
  padding: 0.375rem 0.5rem;
}

.temperature-calculation {
  &__mandatory-msg {
    @apply flex items-center gap-1 my-4;
    @extend %text-s-600;
    color: var(--star-dust-950);
  }

  &__form {
    @extend %tools-grid-layout;
    grid-template-areas:
      'conductor__label transit__label . . .'
      'conductor__value transit__value . . .'
      'ambient-temp__label wind-speed__label wind-direction__label wind-incidence__label wind-incidence__label'
      'ambient-temp__value wind-speed__value wind-direction__value wind-incidence__value wind-incidence__value'
      'solar solar solar solar solar'
      'sky-cover__label diffused-solar-flux__label direct-solar-flux__label diffused-plus-direct-solar-flux__label measured-diffused-plus-direct-solar-flux__label'
      'sky-cover__value diffused-solar-flux__value direct-solar-flux__value diffused-plus-direct-solar-flux__value measured-diffused-plus-direct-solar-flux__value'
      '. . . . measuredDiffusedPlusDirectSolarFluxInfo';
    row-gap: 0rem;

    .with-mt-labels dt {
      @apply mt-3;
    }

    [class*='__label'] {
      align-self: end;
    }

    [class*='__value'] {
      align-self: start;
    }

    .conductor__label {
      grid-area: conductor__label;
    }

    .conductor__value {
      grid-area: conductor__value;
    }

    .ambient-temp__label {
      grid-area: ambient-temp__label;
    }

    .ambient-temp__value {
      grid-area: ambient-temp__value;
    }

    .transit__label {
      grid-area: transit__label;
    }

    .transit__value {
      grid-area: transit__value;
    }

    .wind-speed__label {
      grid-area: wind-speed__label;
    }

    .wind-speed__value {
      grid-area: wind-speed__value;
    }

    .wind-direction__label {
      grid-area: wind-direction__label;
    }

    .wind-direction__value {
      grid-area: wind-direction__value;
    }

    .wind-incidence__label {
      grid-area: wind-incidence__label;
      @apply flex flex-row gap-2 items-center;
    }

    .wind-incidence__value {
      grid-area: wind-incidence__value;
    }

    .solar {
      grid-area: solar;
      @apply mb-3;
      @extend %heading-xs;
      color: var(--star-dust-950);
    }

    .sky-cover__label {
      grid-area: sky-cover__label;
    }

    .sky-cover__value {
      grid-area: sky-cover__value;
    }

    .diffused-solar-flux__label {
      grid-area: diffused-solar-flux__label;
    }

    .diffused-solar-flux__value {
      grid-area: diffused-solar-flux__value;
    }

    .direct-solar-flux__label {
      grid-area: direct-solar-flux__label;
    }

    .direct-solar-flux__value {
      grid-area: direct-solar-flux__value;
    }

    .diffused-plus-direct-solar-flux__label {
      grid-area: diffused-plus-direct-solar-flux__label;
    }

    .diffused-plus-direct-solar-flux__value {
      grid-area: diffused-plus-direct-solar-flux__value;
    }

    .measured-diffused-plus-direct-solar-flux__label {
      grid-area: measured-diffused-plus-direct-solar-flux__label;
    }

    .measured-diffused-plus-direct-solar-flux__value {
      grid-area: measured-diffused-plus-direct-solar-flux__value;
    }

    .solar-fluxs-impact {
      @apply self-start;
      grid-area: measuredDiffusedPlusDirectSolarFluxInfo;
      @extend %text-s-600, %label-spacing;
      color: var(--star-dust-900);
    }
  }

  &__results {
    @apply border-t mt-3;
    border-color: var(--star-dust-300);

    &__title {
      @apply mt-3 mb-0;
      @extend %heading-s;
      color: var(--star-dust-950);
    }

    &__list {
      @extend %tools-grid-layout;
      @apply mt-3;
      grid-template-areas:
        'cable-temperature uncertainty-cable-temperature . . .'
        'solar-flux . . . .';

      .solar-flux {
        grid-area: solar-flux;
      }

      .cable-temperature {
        grid-area: cable-temperature;
      }

      .uncertainty-cable-temperature {
        grid-area: uncertainty-cable-temperature;
      }
    }
  }

  &__error {
    color: var(--error-700);
  }
}
