<p-select
  [ariaLabel]="'studio.studio-page.select-obstacle-aria-label' | transloco"
  styleClass="quick-measures__select"
  [options]="filteredObstaclesOptions()"
  [ngModel]="obstaclesService.selectedMeasureUuid()"
  (ngModelChange)="onObstacleSelect($event)"
  [disabled]="!filteredObstaclesOptions().length"
  data-testid="quick-measures-select-obstacle"
/>

@if (obstaclePointOptions().length > 1) {
  <p-select
    @pointSelect
    [ariaLabel]="'studio.studio-page.select-obstacle-point-aria-label' | transloco"
    styleClass="quick-measures__select"
    [options]="obstaclePointOptions()"
    [ngModel]="obstaclesService.activePointIndex()"
    (ngModelChange)="onPointSelect($event)"
    data-testid="quick-measures-select-obstacle-point"
  />
}

<dl class="quick-measures__list">
  @if (isFloorSelected()) {
    <div @measureRow>
      <dt class="quick-measures__list__title quick-measures__list__title--floor">
        {{ 'studio.shared.vertical' | transloco }}
      </dt>
      <dd class="quick-measures__list__value" data-testid="floor-distance-vertical-value">
        @if (floorVerticalDistance() !== null) {
          {{ floorVerticalDistance() | number: '1.0-2' }} m
        } @else {
          -
        }
      </dd>
    </div>

    <div @measureRow>
      <dt class="quick-measures__list__title quick-measures__list__title--floor">
        {{ 'studio.floor.cable-altitude-label' | transloco }}
      </dt>
      <dd class="quick-measures__list__value" data-testid="floor-alt-cable-value">
        @if (floorCableAltitude() !== null) {
          {{ floorCableAltitude() | number: '1.0-2' }} m
        } @else {
          -
        }
      </dd>
    </div>
  } @else {
    <div @measureRow>
      <dt class="quick-measures__list__title">
        <label for="oblique-distance">{{ 'studio.shared.oblique' | transloco }}</label>
        <p-radiobutton
          name="distanceType"
          value="oblique"
          inputId="oblique-distance"
          [(ngModel)]="obstacleStateService.distanceType"
          [disabled]="!obstaclesService.selectedMeasureUuid()"
          data-testid="oblique-distance-radio"
        />
      </dt>
      <dd class="quick-measures__list__value" data-testid="distance-oblique-value">
        @if (obstacleFormService.results().oblique !== null) {
          {{ obstacleFormService.results().oblique | number: '1.0-2' }} m
        } @else {
          -
        }
      </dd>
    </div>

    <div @measureRow>
      <dt class="quick-measures__list__title">
        <label for="vertical-distance">{{ 'studio.shared.vertical' | transloco }}</label>
        <p-radiobutton
          name="distanceType"
          value="vertical"
          inputId="vertical-distance"
          [(ngModel)]="obstacleStateService.distanceType"
          [disabled]="!obstaclesService.selectedMeasureUuid()"
          data-testid="vertical-distance-radio"
        />
      </dt>
      <dd class="quick-measures__list__value" data-testid="distance-vertical-value">
        @if (obstacleFormService.results().vertical !== null) {
          {{ obstacleFormService.results().vertical | number: '1.0-2' }} m
        } @else {
          -
        }
      </dd>
    </div>

    <div @measureRow>
      <dt class="quick-measures__list__title">
        <label for="horizontal-distance">{{ 'studio.shared.horizontal' | transloco }}</label>
        <p-radiobutton
          name="distanceType"
          value="horizontal"
          inputId="horizontal-distance"
          [(ngModel)]="obstacleStateService.distanceType"
          [disabled]="!obstaclesService.selectedMeasureUuid()"
          data-testid="horizontal-distance-radio"
        />
      </dt>
      <dd class="quick-measures__list__value" data-testid="distance-horizontal-value">
        @if (obstacleFormService.results().horizontal !== null) {
          {{ obstacleFormService.results().horizontal | number: '1.0-2' }} m
        } @else {
          -
        }
      </dd>
    </div>
  }
</dl>
