.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.info-cards {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: stretch;
  grid-gap: 1rem;
  min-height: 9rem;
  margin: 1.5rem 0;
}

.study-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem 0;
}
