@use 'abstract.extracts' as app;

%_base-text {
  @apply mb-1;
  @extend %text-m-400;
}

.section-plot-card {
  @apply rounded-lg p-2;
  background-color: var(--star-dust-50);

  &__header {
    @apply flex justify-between items-center mb-1;
  }

  &__infos {
    @apply flex gap-2 items-center;
  }
}

.title {
  @extend %_base-text;
  color: var(--star-dust-950);

  &:first-of-type {
    @apply mb-0;
  }

  &:not(:first-of-type) {
    @apply mt-1;
  }
}

.details {
  @extend %_base-text;
  @apply flex gap-1;
  color: var(--star-dust-900);
}

.icon-wrapper {
  @apply rounded-full flex items-center justify-center w-4 aspect-square;

  color: var(--grey-white);

  &--support {
    background-color: var(--rte-600);
  }

  &--line {
    background-color: var(--warning-500);
  }

  .app-icon {
    font-size: 0.625rem;
  }
}

.arrow {
  color: var(--star-dust-950);
  font-size: 1rem;
}
