.menubar {
  @apply flex items-center gap-2 px-6 py-2 h-10 max-h-10;
  background-color: var(--star-dust-100);

  &,
  &__back-arrow {
    color: var(--star-dust-950);
  }

  &__separator {
    @apply h-full m-0 border-t-0;
    width: 0.0625rem;
    border-right: 0.0625rem solid var(--star-dust-300);
  }
}
