.menu-bar-container {
    @apply flex flex-row gap-2 border bg-[#F3F4F4] px-[1.5rem] py-[.5rem] items-center;
    border-color: var(--primary-300);
}

.vertical-divider {
    @apply self-stretch bg-[#D2D4D5] w-[1px];
}