@use 'abstract.extracts' as app;

%_label-margin {
  margin: 0.125rem 0.25rem;
}

.field-datas {
  &__mandatory-msg {
    @apply flex items-center gap-1 my-4;
    @extend %text-s-600;
    color: var(--star-dust-950);
  }

  &__grid {
    @extend %tools-grid-layout;
    grid-template-areas:
      'name name date time .'
      'temperature wind direction sky .';

    .name {
      grid-area: name;
    }

    .date {
      grid-area: date;
    }

    .time {
      grid-area: time;
    }

    .temperature {
      grid-area: temperature;
    }

    .wind {
      grid-area: wind;
    }

    .direction {
      grid-area: direction;
    }

    .sky {
      grid-area: sky;
    }

    .time,
    .wind {
      &__label {
        @apply flex items-end justify-between gap-1;
        @extend %_label-margin;

        label {
          margin: 0rem;
        }
      }
    }

    label {
      @extend %text-s-400;
      @extend %_label-margin;
    }
  }
}
