<div class="toolbar" role="menubar">
  <p-selectbutton
    [options]="threeDOptions()"
    [(ngModel)]="plotService.plotOptions().view"
    (onChange)="plotService.plotOptionsChange('view', $event.value)"
    optionLabel="label"
    optionValue="value"
    allowEmpty="false"
    ariaLabel="switch graph view"
    i18n-ariaLabel
  />

  <hr class="toolbar__separator" />

  <div class="flex items-center gap-2">
    <p id="side" class="text-l-600 m-0" i18n>Side:</p>
    <p-selectbutton
      [options]="sideOptions()"
      [(ngModel)]="plotService.plotOptions().side"
      (onChange)="plotService.plotOptionsChange('side', $event.value)"
      optionLabel="label"
      optionValue="value"
      ariaLabelledBy="side"
      allowEmpty="false"
      [disabled]="plotService.plotOptions().view === '3d'"
    />
  </div>

  <hr class="toolbar__separator" />

  <div class="flex flex-col items-start">
    <label for="invert" class="text-m-600 m-0" i18n>Invert:</label>
    <p-toggleswitch
      inputId="invert"
      [(ngModel)]="plotService.plotOptions().invert"
      (onChange)="plotService.plotOptionsChange('invert', $event.checked)"
    />
  </div>

  <hr class="toolbar__separator" />

  <p-multiselect
    appendTo="body"
    i18n-placeholder
    placeholder="Display"
    [filter]="false"
    [showToggleAll]="false"
    [options]="displayOptions()"
    optionLabel="label"
    class="toolbar-multiselect"
    [class.toolbar-multiselect--active]="displayOptionsStatus()"
    panelStyleClass="toolbar-multiselect-overlay"
    (onPanelShow)="displayOptionsStatus.set(true)"
    (onPanelHide)="displayOptionsStatus.set(false)"
  >
    <ng-template #selecteditems let-value>
      @if (value?.length) {
        Display
      }
    </ng-template>

    <ng-template #dropdownicon>
      <app-icon icon="visibility" />
    </ng-template>

    <ng-template #header>
      <div class="toolbar-multiselect__dropdown__header">
        <app-icon icon="info" />
        <p class="mb-0" i18n>Select which elements to display on the studio.</p>
      </div>
    </ng-template>
  </p-multiselect>

  <hr class="toolbar__separator" />

  <p-speedDial
    direction="down"
    icon="pi pi-plus"
    class="toolbar-speed-dial"
    [model]="items()"
  >
    <ng-template #button let-toggleCallback="toggleCallback">
      <button i18n (click)="toggleCallback($event)">Tools</button>
    </ng-template>

    <ng-template #item let-item let-toggleCallback="toggleCallback">
      <button (click)="toggleCallback($event, item)">{{ item.label }}</button>
    </ng-template>
  </p-speedDial>

  <hr class="toolbar__separator" />
</div>
