@use 'abstract.extracts' as app;

.toolbar {
  @apply flex gap-4 items-center border-b px-6 py-1 h-14 max-h-14 overflow-hidden;
  border-color: var(--primary-200);
  background-color: var(--primary-50);
  color: var(--star-dust-950);

  &__separator {
    @extend %vertical-separator;
  }
}
