@use 'abstract.extracts' as app;

.toolbar {
  @apply flex gap-4 items-center flex-wrap border-b px-6 py-1 h-14 max-h-14;
  border-color: var(--primary-200);
  background-color: var(--primary-50);
  color: var(--star-dust-950);

  &__separator {
    @extend %vertical-separator;
  }
}

.toolbar-multiselect {
  &#{&} {
    &--active {
      --p-multiselect-border-color: var(--primary-900);
      --p-multiselect-background: var(--primary-800);
      --p-multiselect-color: var(--grey-white);
      --p-multiselect-placeholder-color: var(--p-multiselect-color);
      --p-multiselect-dropdown-color: var(--p-multiselect-color);

      &:hover {
        background-color: var(--primary-700);
      }
    }
  }

  &__dropdown {
    &__header {
      @apply flex items-center gap-2 border-b mb-2 max-w-52;
      padding: 0.375rem 0.625rem 0.625rem;
      border-color: var(--star-dust-300);
    }
  }
}
