<!-- <app-canvas-container /> -->
<nav>
  <ul>
    <li>
      <a app-button routerLink="/threejs-test" routerLinkActive="active" ariaCurrentWhenActive="page"
        [btnLabel]="'test three JS'" [btnIcon]="'🥽'"></a>
    </li>
    <li>
      <a app-button routerLink="/plotly-test" routerLinkActive="active" ariaCurrentWhenActive="page"
        [btnLabel]="'test Plotly'" [btnIcon]="'📈'"></a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!-- <div>
    <button app-button [btnLabel]="'label de bouton'" [btnIcon]="'▷'"></button>
</div> -->
