<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<main class="main">
  <div [hidden]="pyodideLoadTime" class="content">Mechaphlowers loading...</div>
  <div [hidden]="!pyodideLoadTime" class="content">
    Mechaphlowers loaded in {{ pyodideLoadTime / 1000 }}s
  </div>
  <div [hidden]="importTime" class="content">Mechaphlowers importing...</div>
  <div [hidden]="!importTime" class="content">
    Mechaphlowers importing in {{ importTime / 1000 }}s
  </div>
  <button (click)="run()">Run</button>
  <div [hidden]="!runTime" class="content">
    Mechaphlowers ran in {{ runTime / 1000 }}s
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
