<app-topbar></app-topbar>

<app-sidebar
  [logoIconExpanded]="'stellar-logo-expanded.svg'"
  [logoIconShrank]="'stellar-logo-shrank.svg'"
  [logoText]="'Stellar'"
  [mainLinks]="sideBarNav().main"
  [footerLinks]="sideBarNav().footer"
/>

<main>
  <router-outlet></router-outlet>
</main>

<p-toast position="top-center"></p-toast>

<p-dialog
  [(visible)]="userDialog"
  [style]="{ width: '450px' }"
  i18n-header
  header="Set your user info"
  [closable]="false"
  [modal]="true"
>
  <ng-template #content>
    <label i18n for="description" class="block font-bold mb-3">Email</label>
    <input
      type="text"
      pInputText
      type="email"
      #email="ngModel"
      email
      name="email"
      ngModel
      id="email"
      [(ngModel)]="user.email"
      required
      fluid
    />
    <!-- <div *ngIf="email.invalid && email.errors" class="alert">{{ console.log(email) }}</div> -->
    <small i18n class="text-red-500" *ngIf="submitted && !email.valid">
      Email is not valid.
    </small>
  </ng-template>
  <ng-template #footer>
    <p-button
      i18n-label
      label="Save"
      icon="pi pi-check"
      type="submit"
      (click)="saveUser()"
    />
  </ng-template>
</p-dialog>
