nav {
  ul {
    display: flex;
    justify-content: center;
  }

  .btn-class {
    border-radius: 0;
    padding: 12px 24px 18px;
    transition: background-color .3s ease-in-out, padding .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 #8c8c8c;
    border-radius: 0  0 8px 8px;

    &.active {
      padding: 14px 24px 20px;
      box-shadow: inset 0 0 8px 2px #062944;
    }
  }
}
