<!-- Dialog Init -->
<p-dialog
  dismissableMask="false"
  [visible]="toolsDialogService.isInitOpen()"
  (visibleChange)="toolsDialogService.isInitOpen.set($event)"
  [modal]="true"
  [style]="toolsDialogService.getInitDialogStyle()"
  closeAriaLabel="Close"
  i18n-closeAriaLabel
  (onHide)="onInitDialogHide()"
>
  @if (toolsDialogService.templates().header) {
    <ng-template #header>
      <ng-container
        *ngTemplateOutlet="toolsDialogService.templates().header!"
      />
    </ng-template>
  }

  <ng-container
    *ngComponentOutlet="
      toolsDialogService.getInitComponent();
      injector: injector
    "
  />
</p-dialog>

<!-- Dialog Main -->
<p-dialog
  dismissableMask="false"
  [visible]="toolsDialogService.isMainOpen()"
  (visibleChange)="toolsDialogService.isMainOpen.set($event)"
  [modal]="true"
  [style]="
    toolsDialogService.getMainDialogStyle() || {
      'min-width': '60vw',
      'max-width': '75rem'
    }
  "
  closeAriaLabel="Close"
  i18n-closeAriaLabel
  (onHide)="toolsDialogService.closeTool()"
>
  @if (toolsDialogService.templates().header) {
    <ng-template #header>
      <ng-container
        *ngTemplateOutlet="toolsDialogService.templates().header!"
      />
    </ng-template>
  }

  <ng-container
    *ngComponentOutlet="
      toolsDialogService.getMainComponent();
      injector: injector
    "
  />

  @if (toolsDialogService.templates().footer) {
    <ng-template #footer>
      <ng-container
        *ngTemplateOutlet="toolsDialogService.templates().footer!"
      />
    </ng-template>
  }
</p-dialog>
