<p-dialog
  data-testid="ic-modal"
  dismissableMask="true"
  [style]="{ width: '48rem' }"
  [visible]="isOpen()"
  (visibleChange)="onVisibleChange($event)"
>
  <ng-template #header>
    <p class="text-l-600 mb-0 flex gap-2">
      @if (mode() === 'create') {
        <app-icon icon="add_circle" />
        <span>{{ 'shared.initial-condition-modal.create-title' | transloco }}</span>
      } @else if (mode() === 'edit') {
        <app-icon icon="edit" />
        <span>{{ initialCondition().name }}</span>
      } @else if (mode() === 'view') {
        <app-icon icon="visibility" />
        <span>{{ initialCondition().name }}</span>
      }
    </p>
  </ng-template>
  <ng-template #content>
    <div class="form">
      <dl class="form__col">
        <div>
          <dt>{{ 'shared.initial-condition-modal.section-name' | transloco }}</dt>
          <dd class="read-only-info test">{{ section().name }}</dd>
        </div>

        <div>
          <dt>{{ 'shared.initial-condition-modal.cable-name' | transloco }}</dt>
          <dd class="read-only-info test">{{ section().cable_name }}</dd>
        </div>

        <div>
          <dt>{{ 'shared.initial-condition-modal.cables-amount' | transloco }}</dt>
          <dd class="read-only-info test">{{ section().cables_amount }}</dd>
        </div>
      </dl>

      <p-divider layout="vertical" />

      @if (mode() === 'create' || mode() === 'edit') {
        <div class="form__col form__col--right" [formGroup]="form">
          <div>
            <label for="initial-condition-name">
              <ng-container>{{ 'shared.initial-condition-modal.ic-name-label' | transloco }}</ng-container>
              <sup class="mandatory">*</sup>
            </label>
            <input
              name="initial-condition-name"
              type="text"
              required
              id="initial-condition-name"
              [attr.aria-invalid]="form.controls.name.invalid || !isNameUnique()"
              [attr.aria-errormessage]="getNameErrorIds()"
              pInputText
              formControlName="name"
              data-testid="ic-name-input"
            />
            @if (form.controls.name.errors?.['required']) {
              <p-message id="initial-condition-name-error-required" severity="error" size="small" variant="simple">
                {{ 'common.required' | transloco }}
              </p-message>
            }
            @if (!isNameUnique()) {
              <p-message id="initial-condition-name-error-message" severity="error" size="small" variant="simple">
                {{ 'shared.initial-condition-modal.ic-name-unique-error' | transloco }}
              </p-message>
            }
          </div>
          <div>
            <label for="initial-condition-base-parameter">
              <ng-container>{{ 'shared.initial-condition-modal.base-parameter' | transloco }}</ng-container>
              <sup class="mandatory">*</sup>
            </label>
            <input
              name="initial-condition-base-parameter"
              step="0.01"
              required
              [pKeyFilter]="onlyPositiveNumbers"
              type="number"
              id="initial-condition-base-parameter"
              pInputText
              formControlName="base_parameters"
              data-testid="base-parameter-input"
              [attr.aria-invalid]="form.controls.base_parameters.invalid || null"
              [attr.aria-errormessage]="getErrorIds('base_parameters', ['min', 'max', 'maxDecimals'])"
            />
            @if (form.controls.base_parameters.errors?.['min']; as minError) {
              <p-message id="base_parameters-error-min" severity="error" size="small" variant="simple">
                {{ 'common.min-value-error' | transloco: { min: minError.min } }}
              </p-message>
            } @else if (form.controls.base_parameters.errors?.['max']; as maxError) {
              <p-message id="base_parameters-error-max" severity="error" size="small" variant="simple">
                {{ 'common.max-value-error' | transloco: { max: maxError.max } }}
              </p-message>
            } @else if (form.controls.base_parameters.errors?.['maxDecimals']; as maxDecimals) {
              <p-message id="base_parameters-error-maxDecimals" severity="error" size="small" variant="simple">
                {{ 'common.max-decimals-error' | transloco: { maxDecimals: maxDecimals.maxDecimals } }}
              </p-message>
            }
          </div>
          <div>
            <label for="initial-condition-base-temperature">
              <ng-container>{{ 'shared.initial-condition-modal.base-temperature' | transloco }}</ng-container>
              <sup class="mandatory">*</sup>
            </label>
            <p-inputgroup>
              <input
                name="initial-condition-base-temperature"
                required
                type="number"
                id="initial-condition-base-temperature"
                pInputText
                formControlName="base_temperature"
                data-testid="base-temperature-input"
                [attr.aria-invalid]="form.controls.base_temperature.invalid || null"
                [attr.aria-errormessage]="getErrorIds('base_temperature', ['min', 'max', 'maxDecimals'])"
              />
              <p-inputgroup-addon>°C</p-inputgroup-addon>
            </p-inputgroup>
            @if (form.controls.base_temperature.errors?.['min']; as minError) {
              <p-message id="base_temperature-error-min" severity="error" size="small" variant="simple">
                {{ 'common.min-value-error' | transloco: { min: minError.min } }}
              </p-message>
            } @else if (form.controls.base_temperature.errors?.['max']; as maxError) {
              <p-message id="base_temperature-error-max" severity="error" size="small" variant="simple">
                {{ 'common.max-value-error' | transloco: { max: maxError.max } }}
              </p-message>
            } @else if (form.controls.base_temperature.errors?.['maxDecimals']; as maxDecimals) {
              <p-message id="base_temperature-error-maxDecimals" severity="error" size="small" variant="simple">
                {{ 'common.max-decimals-error' | transloco: { maxDecimals: maxDecimals.maxDecimals } }}
              </p-message>
            }
          </div>
          @if (isCableNarcisse()) {
            <div>
              <label for="initial-condition-cable-pretension">{{
                'shared.initial-condition-modal.cable-pretension' | transloco
              }}</label>
              <p-inputgroup>
                <input
                  name="initial-condition-cable-pretension"
                  type="number"
                  id="initial-condition-cable-pretension"
                  pInputText
                  formControlName="cable_pretension"
                  data-testid="cable-pretension-input"
                  [attr.aria-invalid]="form.controls.cable_pretension.invalid || null"
                  [attr.aria-errormessage]="getErrorIds('cable_pretension', ['min', 'max', 'maxDecimals'])"
                />
                <p-inputgroup-addon>%CRA</p-inputgroup-addon>
              </p-inputgroup>
              @if (form.controls.cable_pretension.errors?.['min']; as minError) {
                <p-message id="cable_pretension-error-min" severity="error" size="small" variant="simple">
                  {{ 'common.min-value-error' | transloco: { min: minError.min } }}
                </p-message>
              } @else if (form.controls.cable_pretension.errors?.['max']; as maxError) {
                <p-message id="cable_pretension-error-max" severity="error" size="small" variant="simple">
                  {{ 'common.max-value-error' | transloco: { max: maxError.max } }}
                </p-message>
              } @else if (form.controls.cable_pretension.errors?.['maxDecimals']; as maxDecimals) {
                <p-message id="cable_pretension-error-maxDecimals" severity="error" size="small" variant="simple">
                  {{ 'common.max-decimals-error' | transloco: { maxDecimals: maxDecimals.maxDecimals } }}
                </p-message>
              }
            </div>
            <div>
              <p class="font-bold mb-0">{{ 'shared.initial-condition-modal.extreme-historical' | transloco }}</p>
            </div>
            <div>
              <label for="initial-condition-min-temperature">{{
                'shared.initial-condition-modal.min-temperature' | transloco
              }}</label>
              <p-inputgroup>
                <input
                  name="initial-condition-min-temperature"
                  type="number"
                  id="initial-condition-min-temperature"
                  pInputText
                  formControlName="min_temperature"
                  [attr.aria-invalid]="form.controls.min_temperature.invalid || null"
                  [attr.aria-errormessage]="getErrorIds('min_temperature', ['min', 'max', 'maxDecimals'])"
                />
                <p-inputgroup-addon>°C</p-inputgroup-addon>
              </p-inputgroup>
              @if (form.controls.min_temperature.errors?.['min']; as minError) {
                <p-message id="min_temperature-error-min" severity="error" size="small" variant="simple">
                  {{ 'common.min-value-error' | transloco: { min: minError.min } }}
                </p-message>
              } @else if (form.controls.min_temperature.errors?.['max']; as maxError) {
                <p-message id="min_temperature-error-max" severity="error" size="small" variant="simple">
                  {{ 'common.max-value-error' | transloco: { max: maxError.max } }}
                </p-message>
              } @else if (form.controls.min_temperature.errors?.['maxDecimals']; as maxDecimals) {
                <p-message id="min_temperature-error-maxDecimals" severity="error" size="small" variant="simple">
                  {{ 'common.max-decimals-error' | transloco: { maxDecimals: maxDecimals.maxDecimals } }}
                </p-message>
              }
            </div>
            <div>
              <label for="initial-condition-max-wind-pressure">{{
                'shared.initial-condition-modal.max-wind-pressure' | transloco
              }}</label>
              <p-inputgroup>
                <input
                  name="initial-condition-max-wind-pressure"
                  type="number"
                  id="initial-condition-max-wind-pressure"
                  pInputText
                  formControlName="max_wind_pressure"
                  [attr.aria-invalid]="form.controls.max_wind_pressure.invalid || null"
                  [attr.aria-errormessage]="getErrorIds('max_wind_pressure', ['min', 'max', 'maxDecimals'])"
                />
                <p-inputgroup-addon>Pa</p-inputgroup-addon>
              </p-inputgroup>
              @if (form.controls.max_wind_pressure.errors?.['min']; as minError) {
                <p-message id="max_wind_pressure-error-min" severity="error" size="small" variant="simple">
                  {{ 'common.min-value-error' | transloco: { min: minError.min } }}
                </p-message>
              } @else if (form.controls.max_wind_pressure.errors?.['max']; as maxError) {
                <p-message id="max_wind_pressure-error-max" severity="error" size="small" variant="simple">
                  {{ 'common.max-value-error' | transloco: { max: maxError.max } }}
                </p-message>
              } @else if (form.controls.max_wind_pressure.errors?.['maxDecimals']; as maxDecimals) {
                <p-message id="max_wind_pressure-error-maxDecimals" severity="error" size="small" variant="simple">
                  {{ 'common.max-decimals-error' | transloco: { maxDecimals: maxDecimals.maxDecimals } }}
                </p-message>
              }
            </div>
            <div>
              <label for="initial-condition-max-frost-width">{{
                'shared.initial-condition-modal.max-frost-width' | transloco
              }}</label>
              <p-inputgroup>
                <input
                  name="initial-condition-max-frost-width"
                  type="number"
                  id="initial-condition-max-frost-width"
                  pInputText
                  formControlName="max_frost_width"
                  [attr.aria-invalid]="form.controls.max_frost_width.invalid || null"
                  [attr.aria-errormessage]="getErrorIds('max_frost_width', ['min', 'max', 'maxDecimals'])"
                />
                <p-inputgroup-addon>cm</p-inputgroup-addon>
              </p-inputgroup>
              @if (form.controls.max_frost_width.errors?.['min']; as minError) {
                <p-message id="max_frost_width-error-min" severity="error" size="small" variant="simple">
                  {{ 'common.min-value-error' | transloco: { min: minError.min } }}
                </p-message>
              } @else if (form.controls.max_frost_width.errors?.['max']; as maxError) {
                <p-message id="max_frost_width-error-max" severity="error" size="small" variant="simple">
                  {{ 'common.max-value-error' | transloco: { max: maxError.max } }}
                </p-message>
              } @else if (form.controls.max_frost_width.errors?.['maxDecimals']; as maxDecimals) {
                <p-message id="max_frost_width-error-maxDecimals" severity="error" size="small" variant="simple">
                  {{ 'common.max-decimals-error' | transloco: { maxDecimals: maxDecimals.maxDecimals } }}
                </p-message>
              }
            </div>
          }
        </div>
      } @else if (mode() === 'view') {
        <dl class="form__col form__col--right">
          <div>
            <dt>{{ 'shared.initial-condition-modal.ic-name-view' | transloco }}</dt>
            <dd class="read-only-info test">{{ initialCondition().name }}</dd>
          </div>

          <div>
            <dt>{{ 'shared.initial-condition-modal.base-parameter' | transloco }}</dt>
            <dd class="read-only-info test">
              {{ initialCondition().base_parameters }}
            </dd>
          </div>

          <div>
            <dt>{{ 'shared.initial-condition-modal.base-temperature-unit' | transloco }}</dt>
            <dd class="read-only-info test">
              {{ initialCondition().base_temperature }}
              @if (isNumber(initialCondition().base_temperature)) {
                <ng-container>°C</ng-container>
              }
            </dd>
          </div>
          @if (isCableNarcisse()) {
            <div>
              <dt>{{ 'shared.initial-condition-modal.cable-pretension' | transloco }}</dt>
              <dd class="read-only-info test">
                {{ initialCondition().cable_pretension }}
                @if (isNumber(initialCondition().cable_pretension)) {
                  <ng-container>%CRA</ng-container>
                }
              </dd>
            </div>
            <div>
              <dt class="extreme-historical-conditions">
                {{ 'shared.initial-condition-modal.extreme-historical' | transloco }}
              </dt>
            </div>
            <div>
              <dt>{{ 'shared.initial-condition-modal.min-temperature' | transloco }}</dt>
              <dd class="read-only-info test">
                {{ initialCondition().min_temperature }}
                @if (isNumber(initialCondition().min_temperature)) {
                  <ng-container>°C</ng-container>
                }
              </dd>
            </div>
            <div>
              <dt>{{ 'shared.initial-condition-modal.max-wind-pressure' | transloco }}</dt>
              <dd class="read-only-info test">
                {{ initialCondition().max_wind_pressure }}
                @if (isNumber(initialCondition().max_wind_pressure)) {
                  <ng-container>Pa</ng-container>
                }
              </dd>
            </div>
            <div>
              <dt>{{ 'shared.initial-condition-modal.max-frost-width' | transloco }}</dt>
              <dd class="read-only-info test">
                {{ initialCondition().max_frost_width }}
                @if (isNumber(initialCondition().max_frost_width)) {
                  <ng-container>cm</ng-container>
                }
              </dd>
            </div>
          }
        </dl>
      }
    </div>
  </ng-template>

  <ng-template #footer>
    @if (mode() === 'view') {
      <button app-btn type="button" btnSize="m" btnStyle="danger" (click)="onDelete()" data-testid="delete-btn">
        <app-icon icon="delete" />
        <span>{{ 'common.delete' | transloco }}</span>
      </button>
      <button app-btn type="button" btnSize="m" btnStyle="outlined" (click)="onDuplicate()">
        <app-icon icon="content_copy" />
        <span>{{ 'common.duplicate' | transloco }}</span>
      </button>
      <button app-btn type="button" btnSize="m" btnStyle="outlined" (click)="onModify()">
        <app-icon icon="edit" />
        <span>{{ 'common.edit' | transloco }}</span>
      </button>
    } @else {
      <button
        app-btn
        type="submit"
        btnSize="m"
        btnStyle="outlined"
        (click)="isOpenChange.emit(false)"
        data-testid="cancel-btn"
      >
        <app-icon icon="close" />
        <span>{{ 'common.cancel' | transloco }}</span>
      </button>
      @if (!isInsideToolsDialog()) {
        <button
          app-btn
          type="button"
          [disabled]="!isFormValid()"
          btnSize="m"
          (click)="onSubmit(false)"
          data-testid="validate-btn"
        >
          <app-icon icon="check" />
          <span>{{ 'common.validate' | transloco }}</span>
        </button>
      } @else {
        <button
          app-btn
          type="button"
          [disabled]="form.invalid || !isNameUnique()"
          btnSize="m"
          (click)="onSubmit(true)"
          btnStyle="outlined"
        >
          <app-icon icon="play_circle" />
          <span>{{ 'shared.initial-condition-modal.create-ic-and-state' | transloco }}</span>
        </button>
        <button
          app-btn
          type="button"
          [disabled]="form.invalid || !isNameUnique()"
          btnSize="m"
          (click)="onSubmit(false)"
        >
          <app-icon icon="check" />
          <span>{{ 'shared.initial-condition-modal.create-ic' | transloco }}</span>
        </button>
      }
    }
  </ng-template>
</p-dialog>
