<p-dialog
  dismissableMask="false"
  [visible]="toolbarDialogService.isOpen()"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [style]="toolbarDialogService.getDialogStyle()"
  [closeAriaLabel]="'common.close' | transloco"
  (onHide)="onDialogHide()"
  data-testid="toolbar-dialog"
>
  @if (toolbarDialogService.templates().header) {
    <ng-template #header>
      <ng-container *ngTemplateOutlet="toolbarDialogService.templates().header!" />
    </ng-template>
  }

  @if (toolbarDialogService.isOpen()) {
    <ng-container *ngComponentOutlet="toolbarDialogService.getComponent(); injector: injector" />
  }

  @if (toolbarDialogService.phase() === 'main' && toolbarDialogService.templates().footer) {
    <ng-template #footer>
      <ng-container *ngTemplateOutlet="toolbarDialogService.templates().footer!" />
    </ng-template>
  }
</p-dialog>
