<p id="distance-measuring-hint" class="distance-measuring__hint">
  {{ 'studio.distance-measuring.never-saved-hint' | transloco }}
</p>
<p class="distance-measuring__hint">{{ 'studio.distance-measuring.reference-hint' | transloco }}</p>

<div class="distance-measuring__span-cols">
  <label for="distanceSpan" class="span-label">{{ 'studio.studio-page.span-option' | transloco }}</label>
  <p-select
    inputId="distanceSpan"
    [options]="service.spanOptions()"
    [ngModel]="service.selectedSupportUuid()"
    (ngModelChange)="service.selectedSupportUuid.set($event)"
    optionLabel="label"
    optionValue="value"
    required="true"
    class="span-input"
    aria-describedby="distance-measuring-hint"
    data-testid="span-select"
  />

  <button
    app-btn
    type="button"
    btnStyle="outlined"
    btnSize="m"
    [disabled]="!service.selectedSupportUuid()"
    (click)="service.zoomToSpan()"
    data-testid="zoom-to-span"
    class="span-zoom"
  >
    <app-icon icon="filter_center_focus" aria-hidden="true" />
    <ng-container>{{ 'shared.studio.zoom' | transloco }}</ng-container>
  </button>
</div>

<div class="distance-measuring__free-positioning">
  <p-toggleswitch
    inputId="distanceFreePositioning"
    name="distanceFreePositioning"
    [disabled]="true"
    [ngModel]="false"
    [ngModelOptions]="{ standalone: true }"
    aria-describedby="distance-measuring-hint"
    data-testid="free-positioning-toggle"
  />
  <label for="distanceFreePositioning">{{ 'studio.distance-measuring.free-positioning-label' | transloco }}</label>
</div>

<ul class="distance-measuring__points" data-testid="points-list">
  @for (point of service.form.controls; track $index) {
    <li
      [class.distance-item--active]="service.activePointIndex() === $index"
      [attr.aria-selected]="service.activePointIndex() === $index ? 'true' : 'false'"
      class="distance-item"
      data-testid="point-item"
    >
      <button
        type="button"
        class="distance-item__select"
        (click)="service.setActivePoint($index)"
        data-testid="select-point"
      >
        <span class="sr-only"
          >{{ 'studio.distance-measuring.select-point-label' | transloco }}&nbsp;{{ $index + 1 }}</span
        >
      </button>

      <div class="distance-item__header">
        <p class="distance-item__title">{{ 'studio.distance-measuring.point-label' | transloco }} {{ $index + 1 }}</p>
      </div>

      <div class="distance-item__form">
        <label [for]="'altitudePoint' + $index" class="distance-item__label alt-point-label">{{
          'studio.distance-measuring.point-alt-label' | transloco
        }}</label>
        <p-inputgroup class="distance-item__input">
          <input
            pInputText
            type="number"
            [id]="'altitudePoint' + $index"
            [formControl]="point.controls.z"
            (focus)="service.setActivePoint($index)"
            class="alt-point-input"
            step="0.01"
            aria-describedby="distance-measuring-hint"
            data-testid="point-altitude"
            [attr.required]="$index !== 2 ? 'true' : null"
          />
          <p-inputgroup-addon>{{ 'common.meter' | transloco }}</p-inputgroup-addon>
        </p-inputgroup>

        <label [for]="'distanceToRefSupport' + $index" class="distance-item__label dist-ref-label">{{
          'studio.distance-measuring.ref-support-dist-label' | transloco
        }}</label>
        <p-inputgroup class="distance-item__input">
          <input
            pInputText
            type="number"
            [id]="'distanceToRefSupport' + $index"
            [formControl]="point.controls.x"
            (focus)="service.setActivePoint($index)"
            class="dist-ref-input"
            step="0.01"
            aria-describedby="distance-measuring-hint"
            data-testid="point-ref-distance"
            [attr.required]="$index !== 2 ? 'true' : null"
          />
          <p-inputgroup-addon>{{ 'common.meter' | transloco }}</p-inputgroup-addon>
        </p-inputgroup>

        <label [for]="'distanceToLineAxis' + $index" class="distance-item__label dist-axis-label">{{
          'studio.distance-measuring.line-axis-dist-label' | transloco
        }}</label>
        <p-inputgroup class="distance-item__input">
          <input
            pInputText
            type="number"
            [id]="'distanceToLineAxis' + $index"
            [formControl]="point.controls.y"
            (focus)="service.setActivePoint($index)"
            class="dist-axis-input"
            step="0.01"
            aria-describedby="distance-measuring-hint"
            data-testid="point-axis-distance"
            [attr.required]="$index !== 2 ? 'true' : null"
          />
          <p-inputgroup-addon>{{ 'common.meter' | transloco }}</p-inputgroup-addon>
        </p-inputgroup>
      </div>
    </li>
  }
</ul>

<div class="distance-measuring__sticky">
  <div class="distance-measuring__sticky__btns">
    <button
      app-btn
      btnStyle="danger"
      type="button"
      (click)="service.reset()"
      [attr.aria-label]="'studio.distance-measuring.delete-points-aria-label' | transloco"
      data-testid="delete-points"
    >
      <app-icon icon="delete" aria-hidden="true" />
    </button>

    <button
      app-btn
      type="button"
      (click)="service.calculate()"
      [disabled]="!service.canCalculate() || service.isCalculating()"
      [btnLoading]="service.isCalculating()"
      data-testid="calculate"
    >
      <app-icon icon="rocket_launch" aria-hidden="true" />
      <ng-container>{{ 'common.calculate' | transloco }}</ng-container>
    </button>
  </div>

  @if (service.results(); as results) {
    <div class="distance-measuring__sticky__results" [@expandHeight] data-testid="results">
      <hr class="distance-measuring__sticky__divider" />
      <h2 class="distance-measuring__sticky__results__title">
        {{ 'common.results' | transloco }}
      </h2>
      <dl class="distance-measuring__sticky__results__grid">
        <div class="distance-measuring__sticky__results__grid__item">
          <dt class="distance-measuring__sticky__results__grid__item__term">
            {{ 'studio.distance-measuring.distance-12-label' | transloco }}
          </dt>
          <dd class="distance-measuring__sticky__results__grid__item__def" data-testid="result-distance-12">
            {{ results.distance12 | number: '1.0-2' }} m
          </dd>
        </div>

        <div class="distance-measuring__sticky__results__grid__item">
          <dt class="distance-measuring__sticky__results__grid__item__term">
            {{ 'studio.distance-measuring.distance-23-label' | transloco }}
          </dt>
          <dd class="distance-measuring__sticky__results__grid__item__def" data-testid="result-distance-23">
            @if (results.distance23 !== null) {
              {{ results.distance23 | number: '1.0-2' }} m
            } @else {
              -
            }
          </dd>
        </div>

        <div class="distance-measuring__sticky__results__grid__item">
          <dt class="distance-measuring__sticky__results__grid__item__term">
            {{ 'studio.distance-measuring.angle-123-label' | transloco }}
          </dt>
          <dd class="distance-measuring__sticky__results__grid__item__def" data-testid="result-angle-123">
            @if (results.angle123 !== null) {
              {{ results.angle123 | number: '1.0-2' }}°
            } @else {
              -
            }
          </dd>
        </div>
      </dl>
    </div>
  }
</div>
