<router-outlet></router-outlet>

<p-toast position="top-center"></p-toast>

<p-dialog
  [(visible)]="userDialog"
  [style]="{ width: '496px' }"
  closable="false"
  modal="true"
  focusOnShow="false"
  draggable="false"
>
  <ng-template #header>
    <div class="login-header">
      <app-icon icon="person" />
      <p class="heading-s" i18n>Log in</p>
    </div>
  </ng-template>
  <ng-template #content>
    <form [formGroup]="form" (ngSubmit)="saveUser()">
      <label i18n for="email">Email</label>
      <input
        type="text"
        pInputText
        type="email"
        name="email"
        id="email"
        formControlName="email"
        required
        fluid
      />
    </form>
  </ng-template>

  <ng-template #footer>
    <button app-btn type="submit" [disabled]="!form.valid" (click)="saveUser()">
      <app-icon icon="login" />
      <span i18n>Save</span>
    </button>
  </ng-template>
</p-dialog>
