<router-outlet></router-outlet>

<p-toast position="top-center"></p-toast>

<p-dialog
  [(visible)]="userDialog"
  [style]="{ width: '496px' }"
  closable="false"
  modal="true"
  focusOnShow="false"
  draggable="false"
>
  <ng-template #header>
    <div class="login-header">
      <app-icon icon="person" />
      <p class="heading-s">Log in</p>
    </div>
  </ng-template>

  <ng-template #content>
    <label i18n for="email">Email</label>
    <input
      type="text"
      pInputText
      type="email"
      #email="ngModel"
      email
      name="email"
      ngModel
      id="email"
      [(ngModel)]="user.email"
      required
      fluid
      [attr.aria-invalid]="submitted && !email.valid ? 'true' : null"
      [attr.aria-errormessage]="submitted && !email.valid ? 'emailError' : null"
    />
    <small
      i18n
      class="input-error-message"
      *ngIf="submitted && !email.valid"
      id="emailError"
    >
      Email is not valid.
    </small>
  </ng-template>

  <ng-template #footer>
    <button app-btn type="submit" (click)="saveUser()">
      <app-icon icon="login" />
      <span i18n>Save</span>
    </button>
  </ng-template>
</p-dialog>
