@use 'abstract.extracts' as app;

.climate {
  @apply flex flex-col gap-3 items-stretch;

  &__reset {
    align-self: flex-end;
  }

  &__form-item {
    @apply flex flex-col items-stretch;
  }

  &__divided-line {
    @apply grid grid-cols-2;
    grid-template-areas:
      'windLabel tempLabel'
      'windInput tampInput'
      'windError tempError';
    column-gap: 0.625rem;
  }

  %_align-top {
    align-self: start;
  }

  %_align-center {
    align-self: center;
  }

  %_align-end {
    align-self: end;
  }

  %_error-layout {
    @apply flex flex-col gap-1 pt-1;
  }

  .wind-label {
    grid-area: windLabel;
    @extend %_align-end;
  }

  .wind-input {
    grid-area: windInput;
    @extend %_align-center;
  }

  .wind-error {
    grid-area: windError;
    @extend %_align-top, %_error-layout;
  }

  .temp-label {
    grid-area: tempLabel;
    @extend %_align-end;
  }

  .temp-input {
    grid-area: tampInput;
    @extend %_align-center;
  }

  .temp-error {
    grid-area: tempError;
    @extend %_align-top, %_error-layout;
  }

  &__btn-wrapper {
    @apply flex justify-end items-center gap-4 pt-5 pr-3;
  }

  & input {
    @apply w-full;
  }
}
