<div class="menubar">
  <a
    [routerLink]="'/study/' + study()?.uuid"
    app-btn
    [attr.aria-label]="'studio.menu-bar.back-to-study-aria-label' | transloco"
    btnStyle="text"
    btnSize="s"
    data-testid="back-to-study-btn"
  >
    <app-icon class="menubar__back-arrow" icon="arrow_back" />
  </a>

  <p class="menubar__title">
    <span class="text-s-600 pr-1">{{ 'studio.menu-bar.section-label' | transloco }}</span>
    <span class="text-m-600 menubar__title__content" data-testid="section-name">
      {{ section()?.name }}
    </span>
  </p>

  <hr class="menubar__separator" />

  <p class="mb-0">
    <span class="text-s-600 pr-1">{{ 'studio.menu-bar.ic-label' | transloco }}</span>
    <span class="text-m-400" data-testid="ic-name">{{ initialCondition()?.name }}</span>
  </p>

  <hr class="menubar__separator" />

  @if (charges().length > 0) {
    <div class="flex items-center gap-1">
      <p class="mb-0 text-s-600 whitespace-nowrap">{{ 'studio.menu-bar.cc-label' | transloco }}</p>
      <app-select-with-buttons
        [options]="charges()"
        [selectedOption]="selectedChargeCaseUuid()"
        (selectOption)="selectChargeCase($event)"
        (deleteOption)="deleteChargeCase($event)"
        (duplicateOption)="duplicateChargeCase($event)"
        (viewOption)="viewOrEditChargeCase($event, 'view')"
        (editOption)="viewOrEditChargeCase($event, 'edit')"
        optionLabel="label"
        optionValue="value"
        [placeholder]="'studio.menu-bar.charge-case-select-label' | transloco"
        [ariaLabel]="'studio.menu-bar.charge-case-select-label' | transloco"
        class="menubar__select"
        [showClear]="false"
        data-testid="charge-case-select"
      />
    </div>

    <button
      [attr.aria-label]="'studio.menu-bar.add-charge-aria-label' | transloco"
      app-btn
      btnStyle="outlined"
      btnSize="s"
      (click)="openNewChargeModal.emit()"
      data-testid="add-charge-btn"
    >
      <app-icon icon="add_circle" />
    </button>
  } @else {
    <button (click)="openNewChargeModal.emit()" app-btn btnSize="s" btnStyle="outlined" class="section__content-init">
      <app-icon icon="add" />
      <span>{{ 'studio.menu-bar.add-load-case' | transloco }}</span>
    </button>
  }

  @if (staffIsPresent() !== undefined) {
    <p class="text-s-600 flex items-center gap-2 mb-0">
      <app-icon [class]="staffIsPresent() ? 'icon-present' : 'icon-absent'" icon="engineering" [fill]="true" />
      @if (staffIsPresent() === true) {
        <ng-container>{{ 'studio.menu-bar.staff-present' | transloco }}</ng-container>
      } @else if (staffIsPresent() === false) {
        <ng-container>{{ 'studio.menu-bar.staff-absent' | transloco }}</ng-container>
      }
    </p>
  }

  <hr class="menubar__separator" />

  <button app-btn btnSize="s" btnStyle="outlined" disabled>
    <app-icon icon="save" />
    <ng-container>{{ 'studio.menu-bar.save-state' | transloco }}</ng-container>
  </button>
</div>
