<p-confirmdialog />
<div class="flex flex-col gap-4">
  <p-card i18n-header header="App version">
    @if (onlineService.online$ | async) {<button
      app-btn
      i18n
      [btnLoading]="updateService.updateLoading()"
      (click)="updateService.checkAppVersion()"
      [disabled]="updateService.updateLoading()"
    >
      Check app version
    </button>
    }
    <table class="my-2 w-full">
      <thead>
        <tr>
          <th></th>
          <th i18n>Current version</th>
          <th i18n>Latest version</th>
        </tr>
      </thead>
      <tr>
        <td i18n>Build Hash</td>
        <td>{{ updateService.currentVersion()?.git_hash }}</td>
        <td>{{ updateService.latestVersion()?.git_hash }}</td>
      </tr>
      <tr>
        <td i18n>Build datetime</td>
        <td>
          {{ updateService.currentVersion()?.build_datetime_utc | date:
          'dd/MM/yyyy HH:mm' }}
        </td>
        <td>
          {{ updateService.latestVersion()?.build_datetime_utc | date:
          'dd/MM/yyyy HH:mm' }}
        </td>
      </tr>
      <tr>
        <td i18n>Build version</td>
        <td>{{ updateService.currentVersion()?.version }}</td>
        <td>{{ updateService.latestVersion()?.version }}</td>
      </tr>
    </table>
    @if (updateService.needUpdate$ | async) {
    <button
      app-btn
      [btnLoading]="updateService.updateLoading()"
      i18n
      (click)="updateService.update()"
      [disabled]="updateService.updateLoading()"
    >
      Update to latest version
    </button>
    }
  </p-card>
  <p-card i18n-header header="Danger zone">
    <div class="flex flex-row gap-2">
      <button app-btn i18n btnStyle="danger" (click)="deleteAllStudies()">
        Delete all studies
      </button>
      <button app-btn i18n btnStyle="danger" (click)="resetDatabase()">
        Reset database
      </button>
      <button app-btn i18n btnStyle="danger" (click)="resetApp()">
        Reset the app without resetting the database
      </button>
    </div>
  </p-card>
</div>
