<dl class="header-info">
  <div class="header-info__item">
    <dt i18n>Line</dt>
    <dd>{{ measureData().line }}</dd>
  </div>
  <div class="header-info__item">
    <dt i18n>Voltage</dt>
    <dd i18n>{{ measureData().voltage }} kV</dd>
  </div>
  <div class="header-info__item">
    <dt i18n>Span type</dt>
    <dd>{{ measureData().spanType }}</dd>
  </div>
  <div class="header-info__item">
    <dt i18n>Phase number</dt>
    <dd>{{ measureData().phaseNumber }}</dd>
  </div>
  <div class="header-info__item">
    <dt i18n>Number of conductors</dt>
    <dd>{{ measureData().numberOfConductors }}</dd>
  </div>
</dl>
