<form [formGroup]="obstacleFormService.form" class="obstacles-form">
  <div class="obstacles-form__buttons">
    <button
      app-btn
      type="button"
      btnStyle="outlined"
      [disabled]="!supportUuidValue()"
      (click)="obstacleFormService.returnToSpan()"
      btnSize="s"
    >
      <ng-container i18n>Return to span</ng-container>
    </button>

    <button
      app-btn
      type="button"
      btnStyle="outlined"
      btnSize="s"
      (click)="obstacleFormService.resetFormForNewObstacle(null)"
    >
      <app-icon icon="add_circle" />
      <ng-container i18n>Create new obstacle</ng-container>
    </button>
  </div>

  <div class="obstacles-form__grid-2-cols">
    <label for="span" class="span-label" i18n>Span</label>

    <p-select
      inputId="span"
      [options]="spansOptions()"
      formControlName="supportUuid"
      optionLabel="label"
      optionValue="value"
      class="span-input"
    />

    <label for="obstacleType" class="type-label" i18n>Obstacle type</label>

    <p-select
      inputId="obstacleType"
      [options]="obstacleTypeOptions"
      formControlName="type"
      optionLabel="label"
      optionValue="value"
      class="type-input"
    />
  </div>

  <div class="obstacles-form__grid-2-cols">
    <label for="obstacleName" class="name-label" i18n>Obstacle name</label>

    <input
      pInputText
      type="text"
      id="obstacleName"
      formControlName="name"
      class="name-input"
      [attr.aria-invalid]="
        obstacleFormService.form.controls.name.invalid || null
      "
    />

    <label for="referenceSupport" class="ref-label" i18n
      >Reference support</label
    >

    <p-select
      inputId="referenceSupport"
      [options]="obstacleFormService.supportsOptions()"
      formControlName="referenceSupport"
      optionLabel="label"
      optionValue="value"
      class="ref-input"
    />
  </div>

  <div class="obstacles-form__grid-2-cols">
    <label for="altitudeType" class="alt-label" i18n
      >Obstacle altitude type</label
    >

    <p-select
      inputId="altitudeType"
      [options]="altitudeTypeOptions"
      formControlName="altitudeType"
      optionLabel="label"
      optionValue="value"
      class="alt-input"
    />

    <label for="lateralDistanceType" class="lat-label" i18n
      >Lateral distance type</label
    >

    <p-select
      inputId="lateralDistanceType"
      [options]="lateralDistanceTypeOptions"
      formControlName="lateralDistanceType"
      optionLabel="label"
      optionValue="value"
      class="lat-input"
    />
  </div>

  <div class="obstacles-form__field">
    <div class="obstacles-form__field__toggle">
      <p-toggleswitch [disabled]="true" />
      <label for="freePositioning" i18n>Free positioning</label>
    </div>

    <button
      [disabled]="
        obstacleFormService.form.get('supportUuid')?.value === null ||
        !obstacleFormService.form.get('name')?.value
      "
      app-btn
      type="button"
      btnStyle="outlined"
      (click)="obstacleFormService.addPosition()"
    >
      <app-icon icon="add_circle" />
      <ng-container i18n>Add point</ng-container>
    </button>
  </div>

  <ul class="obstacles-form__points">
    @for (obstacle of obstacleFormService.positions.controls; track $index) {
      <li
        [class.obstacles-form__points__point--active]="
          obstaclesService.currentPointIndex() === $index
        "
        [ariaSelected]="
          obstaclesService.currentPointIndex() === $index ? 'true' : 'false'
        "
        class="obstacles-form__points__point"
      >
        <button
          type="button"
          class="obstacles-form__points__point__select"
          (click)="setCurrentObstaclePoint($index)"
        >
          <span class="sr-only"
            ><ng-container i18n>Select point</ng-container>&nbsp;{{
              $index + 1
            }}</span
          >
        </button>

        <div class="obstacles-form__points__point__header">
          <p class="obstacles-form__points__point__header__label">
            Point {{ $index + 1 }}
          </p>
          <button
            app-btn
            btnStyle="danger"
            btnSize="s"
            type="button"
            class="obstacles-form__points__point__header__btn"
            (click)="
              obstacleFormService.deletePoint($index); $event.stopPropagation()
            "
            aria-label="delete point"
            i18n-aria-label
          >
            <app-icon icon="delete" />
          </button>
        </div>

        <div class="obstacles-form__points__point__form">
          <label
            [for]="'altitudePoint' + $index"
            class="obstacles-form__points__point__form__label alt-point-label"
            i18n
          >
            Alt. point
          </label>

          <p-inputgroup class="obstacles-form__points__point__form__input">
            <input
              (input)="onPositionInput($event, 'z')"
              pInputText
              [disabled]="!obstacleFormService.form.get('name')?.value"
              type="number"
              [id]="'altitudePoint' + $index"
              [value]="obstacle.value.z"
              class="alt-point-input"
              step="0.01"
              (focus)="setCurrentObstaclePoint($index)"
            />
            <p-inputgroup-addon i18n>m</p-inputgroup-addon>
          </p-inputgroup>

          <label
            [for]="'distanceToRefSupport' + $index"
            class="obstacles-form__points__point__form__label dist-ref-label"
            i18n
          >
            Ref. supp. dist.
          </label>

          <p-inputgroup class="obstacles-form__points__point__form__input">
            <input
              pInputText
              (input)="onPositionInput($event, 'x')"
              [disabled]="!obstacleFormService.form.get('name')?.value"
              type="number"
              [id]="'distanceToRefSupport' + $index"
              [value]="obstacle.value.x"
              class="dist-ref-input"
              step="0.01"
              (focus)="setCurrentObstaclePoint($index)"
            />
            <p-inputgroup-addon i18n>m</p-inputgroup-addon>
          </p-inputgroup>

          <label
            [for]="'distanceToLineAxis' + $index"
            class="obstacles-form__points__point__form__label dist-axis-label"
            i18n
          >
            Line axe dist.
          </label>

          <p-inputgroup class="obstacles-form__points__point__form__input">
            <input
              pInputText
              (input)="onPositionInput($event, 'y')"
              [disabled]="!obstacleFormService.form.get('name')?.value"
              type="number"
              [id]="'distanceToLineAxis' + $index"
              [value]="obstacle.value.y"
              class="dist-axis-input"
              step="0.01"
              (focus)="setCurrentObstaclePoint($index)"
            />
            <p-inputgroup-addon i18n>m</p-inputgroup-addon>
          </p-inputgroup>
        </div>
      </li>
    }
  </ul>

  <div class="obstacles-form__sticky">
    <div class="obstacles-form__sticky__btns">
      <button
        app-btn
        btnStyle="danger"
        type="button"
        [disabled]="!obstacleFormService.form.get('uuid')?.value"
        (click)="obstacleFormService.deleteObstacle()"
        aria-label="delete obstacle"
        i18n-aria-label
      >
        <app-icon icon="delete" />
      </button>

      <button
        app-btn
        btnStyle="outlined"
        type="button"
        class="p-0"
        (click)="obstacleFormService.saveObstacle()"
        [disabled]="true"
      >
        <ng-container i18n>AT-CCGLA</ng-container>
      </button>

      <button
        app-btn
        type="button"
        (click)="obstacleFormService.calculateAndSave()"
        [disabled]="!obstacleFormService.canCalculateAndSave()"
      >
        <app-icon icon="rocket_launch" />
        <ng-container i18n>Calculate and save</ng-container>
      </button>
    </div>

    <hr class="obstacles-form__sticky__divider" />

    <div class="obstacles-form__sticky__results">
      <h2 class="obstacles-form__sticky__results__title" i18n>Results:</h2>

      <dl class="obstacles-form__sticky__results__grid">
        <div class="obstacles-form__sticky__results__grid__item">
          <dt class="obstacles-form__sticky__results__grid__item__term" i18n>
            Oblique
          </dt>
          <dd class="obstacles-form__sticky__results__grid__item__def">
            {{ obstacleFormService.results().oblique ?? 'N/A' }}
            <ng-container i18n>m</ng-container>
          </dd>
        </div>

        <div class="obstacles-form__sticky__results__grid__item">
          <dt class="obstacles-form__sticky__results__grid__item__term" i18n>
            Vertical
          </dt>
          <dd class="obstacles-form__sticky__results__grid__item__def">
            {{ obstacleFormService.results().verticale ?? 'N/A' }}
            <ng-container i18n>m</ng-container>
          </dd>
        </div>

        <div class="obstacles-form__sticky__results__grid__item">
          <dt class="obstacles-form__sticky__results__grid__item__term" i18n>
            Horizontal
          </dt>
          <dd class="obstacles-form__sticky__results__grid__item__def">
            {{ obstacleFormService.results().horizontale ?? 'N/A' }}
            <ng-container i18n>m</ng-container>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</form>
