$_sidebar-size--default-noJs: 12.5rem;
$_sidebar-size--expanded: 13rem;
$_sidebar-size--shrank: 3rem;
$_animation-type-timing: 0.35s cubic-bezier(1, 0.19, 0.23, 0.84);

body.has-sidebar {
  padding-left: $_sidebar-size--default-noJs;
  transition: padding-left $_animation-type-timing;
  width: 100%;

  &--expanded {
    padding-left: $_sidebar-size--expanded;
  }

  &--shrank {
    padding-left: $_sidebar-size--shrank;
  }
}

.stellar-sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000; // TODO: remove this garbage and manage z-indexes through a sass map!
  width: $_sidebar-size--default-noJs;
  height: 100%;
  padding: 1rem;
  background-color: var(--primary-950);
  color: var(--grey-white);
  transition: width $_animation-type-timing;

  &--expanded {
    width: $_sidebar-size--expanded;
  }

  &--shrank {
    width: $_sidebar-size--shrank;
  }
}

.stelBar-header {
}
