@use 'abstract.extracts' as app;

.span {
  &__form {
    @apply grid grid-cols-2;
    gap: 0.625rem;
    align-items: end;
  }

  &__reset {
    @apply text-right col-span-2;
  }

  &__btns {
    @apply col-span-2 flex items-center justify-end gap-4 pt-3 pr-3;
  }

  label {
    @extend %text-s-400;
    margin-top: 0;
  }
}