<form [formGroup]="form" class="span__form">
  <div class="span__reset">
    <button app-btn type="button" btnStyle="outlined" btnSize="s" (click)="resetForm()">
      <app-icon icon="refresh" />
      <ng-container i18n>Reset</ng-container>
    </button>
  </div>

  <div>
    <label for="spanSelect" i18n>Span</label>
    <p-select
      inputId="spanSelect"
      [options]="spansOptions()"
      fluid
      formControlName="spanSelect"
      optionLabel="label"
      optionValue="value"
    />
  </div>

  <div>
    <label for="referenceSupport" i18n>Reference support</label>
    <p-select
      inputId="referenceSupport"
      [options]="supportsOptions()"
      fluid
      formControlName="referenceSupport"
      optionLabel="label"
      optionValue="value"
    />
  </div>

  <div class="col-span-2">
    <label for="type" i18n>Load type</label>
    <p-select
      inputId="type"
      fluid
      [options]="loadTypeOptions"
      formControlName="type"
      optionLabel="label"
      optionValue="value"
    />
  </div>
  <div class="col-span-2 flex items-center">
    <p-toggleswitch disabled inputId="freePositioning" name="freePositioning" />
    <label for="freePositioning" i18n> Free positioning </label>
  </div>

  <div>
    <label for="loadPosition" i18n>Dist. to ref. support</label>
    <p-inputgroup>
      <input pInputText type="number" id="loadPosition" fluid formControlName="loadPosition" />
      <p-inputgroup-addon i18n>m</p-inputgroup-addon>
    </p-inputgroup>
  </div>
  @if (form.get('type')?.value === 'punctual') {
    <div>
      <label for="loadWeight" i18n>Load</label>
      <p-inputgroup>
        <input pInputText type="number" id="loadWeight" fluid formControlName="loadWeight" />
        <p-inputgroup-addon i18n>daN</p-inputgroup-addon>
      </p-inputgroup>
    </div>
  }

  <div class="span__btns">
    <button
      app-btn
      btnStyle="danger"
      type="button"
      aria-label="erase load case"
      i18n-aria-label
      (click)="deleteCharge()"
    >
      <app-icon icon="delete" />
    </button>

    <button app-btn type="submit" btnStyle="outlined" (click)="saveLoadCase()" [disabled]="isFormInvalid()">
      <app-icon icon="save" />
      <ng-container i18n>Save</ng-container>
    </button>

    <button app-btn [disabled]="isFormInvalid()" type="button" (click)="calculateLoadCase()">
      <app-icon icon="rocket_launch" />
      <ng-container i18n>Calculate</ng-container>
    </button>
  </div>
</form>
