<app-new-charge-modal [isOpen]="isNewChargeModalOpen()" (isOpenChange)="isNewChargeModalOpen.set($event)" />

<app-studio-menu-bar
  (openNewChargeModal)="openNewChargeModal()"
  [section]="plotService.section()"
  [study]="plotService.study()"
></app-studio-menu-bar>

<app-studio-top-toolbar />

<div class="graph-tools">
  <div class="graph-tools__left">
    @if (plotService.isFreePositioningMode()) {
      <app-free-positioning class="plot-view" />
    } @else {
      <app-studio class="plot-view" [isPreview]="false" />
    }

    <section class="graph-tools-cards">
      <div class="graph-tools-cards__item global-params">
        <p-selectbutton
          [options]="globalStateOptions"
          optionLabel="label"
          optionValue="value"
          [ngModel]="globalState()"
          (ngModelChange)="globalState.set($event)"
          class="global-params__select-button"
        />

        <dl class="global-params__list">
          <div class="global-params__list__item">
            <dt class="global-params__list__title" i18n>Parameter</dt>
            <dd class="global-params__list__value">{{ globalParameter() !== null ? globalParameter() : '-' }} m</dd>
          </div>

          <hr class="global-params__separator" />

          <div class="global-params__list__item">
            <dt class="global-params__list__title" i18n>Working load</dt>
            <dd class="global-params__list__value global-params__list__value--items-center">
              @let stressRate = globalStressRate();
              {{ stressRate !== null ? stressRate : '-' }}&nbsp;%
              @if (stressRate !== null && stressRate <= 75) {
                <app-icon
                  icon="check"
                  class="global-params__list__load-status global-params__list__load-status--success"
                  ariaLabel="working load is fine"
                  i18n-ariaLabel
                />
              } @else if (stressRate !== null && stressRate > 75 && stressRate <= 100) {
                <app-icon
                  icon="priority_high"
                  class="global-params__list__load-status global-params__list__load-status--warning"
                  ariaLabel="working load is at risk"
                  i18n-ariaLabel
                />
              } @else if (stressRate !== null && stressRate > 100) {
                <app-icon
                  icon="close_small"
                  class="global-params__list__load-status global-params__list__load-status--error"
                  ariaLabel="working load is too high"
                  i18n-ariaLabel
                />
              } @else {
                <app-icon
                  icon="close_small"
                  class="global-params__list__load-status global-params__list__load-status--unknown"
                  ariaLabel="working load is unknown"
                  i18n-ariaLabel
                />
              }

              <app-icon
                icon="content_cut"
                class="global-params__list__cut-status"
                [class]="
                  isGlobalCutStrand()
                    ? 'global-params__list__cut-status--cut'
                    : 'global-params__list__cut-status--uncut'
                "
              />
            </dd>
          </div>
        </dl>
      </div>

      <div class="graph-tools-cards__item quick-measures">
        <p-select
          ariaLabel="select an obstacle"
          i18n-ariaLabel
          styleClass="quick-measures__select"
          [options]="filteredObstaclesOptions()"
          [ngModel]="obstaclesService.selectedObstacleUuid()"
          (ngModelChange)="onObstacleSelect($event)"
          [disabled]="!filteredObstaclesOptions().length"
          data-testid="quick-measures-select-obstacle"
        />

        @if (obstaclePointOptions().length > 1) {
          <p-select
            @pointSelect
            ariaLabel="select an obstacle's point"
            i18n-ariaLabel
            styleClass="quick-measures__select"
            [options]="obstaclePointOptions()"
            [ngModel]="obstaclesService.activePointIndex()"
            (ngModelChange)="obstaclesService.activePointIndex.set($event)"
            data-testid="quick-measures-select-obstacle-point"
          />
        }

        <dl class="quick-measures__list">
          <div>
            <dt class="quick-measures__list__title">
              <label for="oblique-distance" i18n>Oblique</label>
              <p-radiobutton
                name="distanceType"
                value="oblique"
                inputId="oblique-distance"
                [(ngModel)]="plotService.distanceType"
                [disabled]="!filteredObstaclesOptions().length"
                data-testid="oblique-distance-radio"
              />
            </dt>
            <dd class="quick-measures__list__value" data-testid="distance-oblique-value">
              @if (obstacleFormService.results().oblique !== null) {
                {{ obstacleFormService.results().oblique | number: '1.0-2' }} m
              } @else {
                -
              }
            </dd>
          </div>

          <div>
            <dt class="quick-measures__list__title">
              <label for="vertical-distance" i18n>Vertical</label>
              <p-radiobutton
                name="distanceType"
                value="vertical"
                inputId="vertical-distance"
                [(ngModel)]="plotService.distanceType"
                [disabled]="!filteredObstaclesOptions().length"
                data-testid="vertical-distance-radio"
              />
            </dt>
            <dd class="quick-measures__list__value" data-testid="distance-vertical-value">
              @if (obstacleFormService.results().vertical !== null) {
                {{ obstacleFormService.results().vertical | number: '1.0-2' }} m
              } @else {
                -
              }
            </dd>
          </div>

          <div>
            <dt class="quick-measures__list__title">
              <label for="horizontal-distance" i18n>Horizontal</label>
              <p-radiobutton
                name="distanceType"
                value="horizontal"
                inputId="horizontal-distance"
                [(ngModel)]="plotService.distanceType"
                [disabled]="!filteredObstaclesOptions().length"
                data-testid="horizontal-distance-radio"
              />
            </dt>
            <dd class="quick-measures__list__value" data-testid="distance-horizontal-value">
              @if (obstacleFormService.results().horizontal !== null) {
                {{ obstacleFormService.results().horizontal | number: '1.0-2' }} m
              } @else {
                -
              }
            </dd>
          </div>
        </dl>
      </div>
    </section>

    <hr />

    <div class="flex gap-6 items-start pl-4">
      <div class="supports-select">
        <button
          [disabled]="isPreviousDisabled()"
          (click)="onSupportButtonClick('left')"
          class="supports-select__buttons supports-select__buttons--left"
          aria-label="Previous support"
          i18n-aria-label
          data-testid="prev-support-btn"
        >
          <app-icon icon="chevron_left" class="supports-select__buttons__icon" aria-hidden="true" />
        </button>

        <p-select
          inputId="supports"
          appendTo="body"
          class="supports-select__p-select"
          data-testid="support-select"
          [disabled]="plotService.loading() || plotService.isFreePositioningMode()"
          [options]="spanAmountChoiceOptions()"
          [ngModel]="plotService.spanAmountChoice()"
          (onChange)="onSelectSpanAmount($event.value)"
        />

        <button
          [disabled]="isNextDisabled()"
          (click)="onSupportButtonClick('right')"
          class="supports-select__buttons supports-select__buttons--right"
          aria-label="Next support"
          i18n-aria-label
          data-testid="next-support-btn"
        >
          <app-icon icon="chevron_right" class="supports-select__buttons__icon" aria-hidden="true" />
        </button>
      </div>

      <div class="slider-plot-cards">
        @if (this.plotService.section()) {
          <ngx-slider
            [class.inverted]="plotService.plotOptions().invert"
            [value]="plotService.plotOptions().startSupport"
            [highValue]="plotService.plotOptions().endSupport"
            (userChangeEnd)="updateSliderOptions($event)"
            [options]="sliderOptions()"
            class="block"
          >
          </ngx-slider>
        }

        <app-section-plot-cards />
      </div>
    </div>
  </div>

  <app-side-tabs>
    <app-side-tab label="Charges">
      <ng-template>
        <p-tabs
          [value]="loadFormsService.activeLoadTab()"
          (valueChange)="loadFormsService.activeLoadTab.set($event.toString())"
          class="load-tabs"
          data-testid="load-tabs"
        >
          <p-tablist>
            <p-tab value="0" [disabled]="!plotService.section()?.selected_charge_uuid" class="climate" i18n>
              Climate condition
            </p-tab>
            <p-tab value="1" [disabled]="!plotService.section()?.selected_charge_uuid" class="load-marking" i18n>
              Load / Marking
            </p-tab>
            <p-tab value="2" [disabled]="!plotService.section()?.selected_charge_uuid" class="cable-length" i18n>
              Cable length change
            </p-tab>
            <p-tab value="3" [disabled]="true" class="cable-support" i18n>Cable manip. at support</p-tab>
            <p-tab value="4" [disabled]="!plotService.section()?.selected_charge_uuid" class="cable-span" i18n>
              Cable manip. at span
            </p-tab>
          </p-tablist>

          @if (!plotService.section()?.charges?.length) {
            <div class="flex items-center justify-center gap-1 my-4">
              <app-icon icon="info" />
              <p i18n>In order to add charges, you need to create a charge case.</p>
            </div>
            <div class="flex justify-center">
              <button
                app-btn
                btnStyle="outlined"
                btnSize="s"
                (click)="openNewChargeModal()"
                data-testid="add-charge-case-btn"
              >
                <app-icon icon="add_circle" />
                <ng-container i18n>Add a charge case</ng-container>
              </button>
            </div>
          }

          @if (plotService.section()?.selected_charge_uuid) {
            <p-tabpanels>
              <p-tabpanel value="0">
                <app-climate [chargeUuid]="plotService.section()?.selected_charge_uuid ?? ''" />
              </p-tabpanel>

              <p-tabpanel value="1">
                <app-load-marking />
              </p-tabpanel>

              <p-tabpanel value="2">
                <app-cable-length-change />
              </p-tabpanel>

              <p-tabpanel value="3">
                <p class="m-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, praesentium eveniet quisquam numquam
                  maiores cum vel perferendis minus explicabo? Laudantium voluptas facere nobis tenetur ipsum quis et in
                  quibusdam ea.
                </p>
              </p-tabpanel>

              <p-tabpanel value="4">
                <app-cable-span-manip />
              </p-tabpanel>
            </p-tabpanels>
          }
        </p-tabs>
      </ng-template>
    </app-side-tab>

    <app-side-tab label="Obstacles">
      <ng-template><app-obstacles-form /></ng-template>
    </app-side-tab>
  </app-side-tabs>
</div>

<app-toolbar-dialog />
