<app-new-charge-modal [isOpen]="isNewChargeModalOpen()" (isOpenChange)="isNewChargeModalOpen.set($event)" />

<app-studio-menu-bar
  (openNewChargeModal)="openNewChargeModal()"
  (generateReport)="onGenerateReport()"
  [section]="spanService.section()"
  [study]="plotService.study()"
></app-studio-menu-bar>

<app-studio-top-toolbar />

<div class="graph-tools">
  <div class="graph-tools__left">
    @if (plotOptionsService.isFreePositioningMode()) {
      @if (plotOptionsService.freePositioningSource() === 'floor') {
        <app-floor-free-positioning class="plot-view" />
      } @else {
        <app-free-positioning class="plot-view" />
      }
    } @else {
      <app-studio class="plot-view" [isPreview]="false" />
    }

    <section class="graph-tools-cards">
      <div class="graph-tools-cards__item global-params">
        <p-selectbutton
          [options]="globalStateOptions"
          optionLabel="label"
          optionValue="value"
          [ngModel]="globalState()"
          (ngModelChange)="globalState.set($event)"
          class="global-params__select-button"
          data-testid="global-state-select"
        />

        <dl class="global-params__list">
          <div class="global-params__list__item">
            <dt class="global-params__list__title">{{ 'studio.studio-page.parameter-label' | transloco }}</dt>
            <dd class="global-params__list__value">{{ globalParameter() !== null ? globalParameter() : '-' }} m</dd>
          </div>

          <hr class="global-params__separator" />

          <div class="global-params__list__item">
            <dt class="global-params__list__title">{{ 'studio.studio-page.working-load-label' | transloco }}</dt>
            <dd class="global-params__list__value global-params__list__value--items-center">
              @let stressRate = globalStressRate();
              {{ stressRate !== null ? (stressRate | number: '1.0-1') : '-' }}&nbsp;%
              @if (stressRate !== null && stressRate <= 75) {
                <app-icon
                  icon="check"
                  class="global-params__list__load-status global-params__list__load-status--success"
                  [ariaLabel]="'studio.studio-page.working-load-fine-aria-label' | transloco"
                />
              } @else if (stressRate !== null && stressRate > 75 && stressRate <= 100) {
                <app-icon
                  icon="priority_high"
                  class="global-params__list__load-status global-params__list__load-status--warning"
                  [ariaLabel]="'studio.studio-page.working-load-at-risk-aria-label' | transloco"
                />
              } @else if (stressRate !== null && stressRate > 100) {
                <app-icon
                  icon="close_small"
                  class="global-params__list__load-status global-params__list__load-status--error"
                  [ariaLabel]="'studio.studio-page.working-load-too-high-aria-label' | transloco"
                />
              } @else {
                <app-icon
                  icon="close_small"
                  class="global-params__list__load-status global-params__list__load-status--unknown"
                  [ariaLabel]="'studio.studio-page.working-load-unknown-aria-label' | transloco"
                />
              }

              @if (isGlobalCutStrand()) {
                <app-icon
                  icon="content_cut"
                  class="global-params__list__cut-status global-params__list__cut-status--cut"
                  [ariaLabel]="'studio.studio-page.strand-cut-aria-label' | transloco"
                />
              } @else {
                <app-icon
                  icon="content_cut"
                  class="global-params__list__cut-status global-params__list__cut-status--uncut"
                  [ariaLabel]="'studio.studio-page.strand-not-cut-aria-label' | transloco"
                />
              }
            </dd>
          </div>
        </dl>
      </div>

      <app-quick-measures class="graph-tools-cards__item" />
    </section>

    <hr />

    <div class="flex gap-6 items-start pl-4">
      <div class="supports-select">
        <button
          [disabled]="isPreviousDisabled()"
          (click)="onSupportButtonClick('left')"
          class="supports-select__buttons supports-select__buttons--left"
          [attr.aria-label]="'studio.studio-page.previous-support-aria-label' | transloco"
          data-testid="prev-support-btn"
        >
          <app-icon icon="chevron_left" class="supports-select__buttons__icon" aria-hidden="true" />
        </button>

        <p-select
          inputId="supports"
          appendTo="body"
          class="supports-select__p-select"
          data-testid="support-select"
          [disabled]="plotService.loading() || plotOptionsService.isFreePositioningMode()"
          [options]="spanAmountChoiceOptions()"
          [ngModel]="spanService.spanAmountChoice()"
          (onChange)="onSelectSpanAmount($event.value)"
        />

        <button
          [disabled]="isNextDisabled()"
          (click)="onSupportButtonClick('right')"
          class="supports-select__buttons supports-select__buttons--right"
          [attr.aria-label]="'studio.studio-page.next-support-aria-label' | transloco"
          data-testid="next-support-btn"
        >
          <app-icon icon="chevron_right" class="supports-select__buttons__icon" aria-hidden="true" />
        </button>
      </div>

      <div class="slider-plot-cards">
        @if (this.spanService.section()) {
          <ngx-slider
            [class.inverted]="plotOptionsService.plotOptions().invert"
            [value]="plotOptionsService.plotOptions().startSupport"
            [highValue]="plotOptionsService.plotOptions().endSupport"
            (userChangeEnd)="updateSliderOptions($event)"
            [options]="sliderOptions()"
            class="block"
          >
          </ngx-slider>
        }

        <app-section-plot-cards />
      </div>
    </div>
  </div>

  <app-side-tabs>
    <app-side-tab label="Charges">
      <ng-template>
        <p-tabs
          [value]="loadFormsService.activeLoadTab()"
          (valueChange)="loadFormsService.activeLoadTab.set($event?.toString() ?? '0')"
          class="load-tabs"
          data-testid="load-tabs"
        >
          <p-tablist>
            <p-tab
              value="0"
              [disabled]="!spanService.section()?.selected_charge_uuid"
              class="climate"
              [pTooltip]="'studio.studio-page.climate-condition-label' | transloco"
              tooltipPosition="bottom"
              data-testid="load-tab-climate"
            >
              <i class="fa-solid fa-cloud-sun" aria-hidden="true"></i>
              <span class="sr-only">{{ 'studio.studio-page.climate-condition-label' | transloco }}</span>
            </p-tab>
            <p-tab
              value="1"
              [disabled]="!spanService.section()?.selected_charge_uuid"
              class="load-marking"
              [pTooltip]="'studio.studio-page.load-marking-label' | transloco"
              tooltipPosition="bottom"
              data-testid="load-tab-load-marking"
            >
              <i class="fa-solid fa-weight-hanging" aria-hidden="true"></i>
              <span class="sr-only">{{ 'studio.studio-page.load-marking-label' | transloco }}</span>
            </p-tab>
            <p-tab
              value="2"
              [disabled]="!spanService.section()?.selected_charge_uuid"
              class="cable-length"
              [pTooltip]="'studio.studio-page.cable-length-change-label' | transloco"
              tooltipPosition="bottom"
              data-testid="load-tab-cable-length"
            >
              <i class="fa-solid fa-arrows-left-right-to-line" aria-hidden="true"></i>
              <span class="sr-only">{{ 'studio.studio-page.cable-length-change-label' | transloco }}</span>
            </p-tab>
            <p-tab
              value="3"
              [disabled]="!spanService.section()?.selected_charge_uuid"
              class="cable-support"
              [pTooltip]="'studio.studio-page.cable-manip-support-label' | transloco"
              tooltipPosition="bottom"
              data-testid="load-tab-cable-support"
            >
              <i class="fa-solid fa-arrows-up-down-left-right" aria-hidden="true"></i>
              <span class="sr-only">{{ 'studio.studio-page.cable-manip-support-label' | transloco }}</span>
            </p-tab>
            <p-tab
              value="4"
              [disabled]="!spanService.section()?.selected_charge_uuid"
              class="cable-span"
              [pTooltip]="'studio.studio-page.cable-manip-span-label' | transloco"
              tooltipPosition="bottom"
              data-testid="load-tab-cable-span"
            >
              <i class="fa-solid fa-hand-back-fist" aria-hidden="true"></i>
              <span class="sr-only">{{ 'studio.studio-page.cable-manip-span-label' | transloco }}</span>
            </p-tab>
          </p-tablist>

          @if (spanService.section()?.selected_charge_uuid) {
            <p-tabpanels>
              <p-tabpanel value="0">
                <app-climate [chargeUuid]="spanService.section()?.selected_charge_uuid ?? ''" />
              </p-tabpanel>

              <p-tabpanel value="1">
                <app-load-marking [chargeUuid]="spanService.section()?.selected_charge_uuid ?? ''" />
              </p-tabpanel>

              <p-tabpanel value="2">
                <app-cable-length-change />
              </p-tabpanel>

              <p-tabpanel value="3">
                <app-cable-support-manip />
              </p-tabpanel>

              <p-tabpanel value="4">
                <app-cable-span-manip />
              </p-tabpanel>
            </p-tabpanels>
          } @else {
            <div class="flex items-center justify-center gap-1 my-4">
              <app-icon icon="info" />
              <p>{{ 'studio.studio-page.no-charge-case-message' | transloco }}</p>
            </div>
            <div class="flex justify-center">
              <button
                app-btn
                btnStyle="outlined"
                btnSize="s"
                (click)="openNewChargeModal()"
                data-testid="add-charge-case-btn"
              >
                <app-icon icon="add_circle" />
                <ng-container>{{ 'studio.studio-page.add-charge-case-label' | transloco }}</ng-container>
              </button>
            </div>
          }
        </p-tabs>
      </ng-template>
    </app-side-tab>

    <app-side-tab label="Obstacles">
      <ng-template><app-obstacles-form /></ng-template>
    </app-side-tab>

    <app-side-tab [label]="'studio.studio-page.floor-sidetab-label' | transloco">
      <ng-template><app-floor /></ng-template>
    </app-side-tab>

    <app-side-tab [label]="'studio.studio-page.distances-label' | transloco">
      <ng-template><app-distance-measuring /></ng-template>
    </app-side-tab>
  </app-side-tabs>
</div>

<app-toolbar-dialog />
