<form [formGroup]="form" class="span__form" data-testid="span-form">
  <div class="header-btns">
    <button
      class="flex items-center m-0"
      app-btn
      type="button"
      btnStyle="outlined"
      btnSize="s"
      [disabled]="!spanSelectValue()"
      (click)="zoomToSpan()"
      data-testid="span-zoom"
    >
      <app-icon icon="filter_center_focus" aria-hidden="true" />
      <ng-container>{{ 'shared.studio.zoom' | transloco }}</ng-container>
    </button>

    <button app-btn type="button" btnStyle="outlined" btnSize="s" (click)="resetForm()" data-testid="span-reset">
      <app-icon icon="refresh" aria-hidden="true" />
      <ng-container>{{ 'common.reset' | transloco }}</ng-container>
    </button>
  </div>

  <div>
    <label for="spanSelect" class="mb-0">{{ 'loads.shared.span-label' | transloco }}</label>
    <p-select
      inputId="spanSelect"
      [options]="spansOptions()"
      fluid
      formControlName="spanSelect"
      optionLabel="label"
      optionValue="value"
      data-testid="span-select"
    />
  </div>

  <div>
    <label for="referenceSupport">{{ 'loads.shared.reference-support-label' | transloco }}</label>
    <p-select
      inputId="referenceSupport"
      [options]="supportsOptions()"
      fluid
      formControlName="referenceSupport"
      optionLabel="label"
      optionValue="value"
      data-testid="reference-support"
    />
  </div>

  <div class="col-span-2">
    <label for="type">{{ 'loads.load-marking.load-type-label' | transloco }}</label>
    <p-select
      inputId="type"
      fluid
      [options]="loadTypeOptions"
      formControlName="type"
      optionLabel="label"
      optionValue="value"
      data-testid="load-type"
    />
  </div>
  <div class="col-span-2 flex items-center">
    <p-toggleswitch disabled inputId="freePositioning" name="freePositioning" data-testid="free-positioning" />
    <label for="freePositioning">{{ 'loads.load-marking.free-positioning-label' | transloco }}</label>
  </div>

  <div>
    <label for="loadPosition">{{ 'loads.cable-length-change.dist-to-ref-support-label' | transloco }}</label>
    <p-inputgroup>
      <input
        pInputText
        type="number"
        id="loadPosition"
        fluid
        formControlName="loadPosition"
        data-testid="load-position"
      />
      <p-inputgroup-addon>m</p-inputgroup-addon>
    </p-inputgroup>
  </div>
  @if (form.get('type')?.value === 'punctual') {
    <div>
      <label for="loadWeight">{{ 'loads.load-marking.load-label' | transloco }}</label>
      <p-inputgroup>
        <input pInputText type="number" id="loadWeight" fluid formControlName="loadWeight" data-testid="load-weight" />
        <p-inputgroup-addon>daN</p-inputgroup-addon>
      </p-inputgroup>
    </div>
  }

  <div class="span__btns">
    <button
      app-btn
      btnStyle="danger"
      type="button"
      [attr.aria-label]="'loads.shared.erase-load-case-aria-label' | transloco"
      (click)="deleteCharge()"
      data-testid="delete-load"
    >
      <app-icon icon="delete" aria-hidden="true" />
    </button>

    <button
      app-btn
      type="submit"
      btnStyle="outlined"
      (click)="saveLoadCase()"
      [disabled]="isFormInvalid() || isSaving()"
      [btnLoading]="isSaving()"
      data-testid="save-load"
    >
      <app-icon icon="save" aria-hidden="true" />
      <ng-container>{{ 'common.save' | transloco }}</ng-container>
    </button>

    <button
      app-btn
      [disabled]="isFormInvalid() || isCalculatingLoad()"
      [btnLoading]="isCalculatingLoad()"
      type="button"
      (click)="calculateLoadCase()"
      data-testid="calculate-load"
    >
      <app-icon icon="rocket_launch" aria-hidden="true" />
      <ng-container>{{ 'common.calculate' | transloco }}</ng-container>
    </button>
  </div>
</form>
