@use 'abstract.extracts' as app;

:host {
  flex-grow: 1;
}

.section-form-part {
  @apply mt-4;
}

.section-form-part-grid {
  @apply grid grid-cols-4 gap-x-8 gap-y-4;
  align-items: flex-end;
  padding-right: 20%;

  &.lines-form-grid {
    grid-template-areas:
      'a . . .'
      'b c c .'
      'd e e f';
  }

  &--infos {
    grid-template-areas:
      'a b c .'
      'd e . .';
  }

  &__cell--a {
    grid-area: a;
  }

  &__cell--b {
    grid-area: b;
  }

  &__cell--c {
    grid-area: c;
  }

  &__cell--d {
    grid-area: d;
  }

  &__cell--e {
    grid-area: e;
  }

  &__cell--f {
    grid-area: f;
  }
}

dt {
  @extend %label-style;
}

.vertical-separator {
  border-width: 0 0.0625rem 0 0;
  border-color: var(--star-dust-300);
  width: 0rem;
  height: auto;
  align-self: stretch;
  margin: 0;
}
