<div class="toolbar" role="menubar">
  <p-selectbutton
    [options]="threeDOptions()"
    [disabled]="plotService.loading() || plotOptionsService.isFreePositioningMode()"
    [ngModel]="plotOptionsService.plotOptions().view"
    (onChange)="plotService.plotOptionsChange({ view: $event.value })"
    optionLabel="label"
    optionValue="value"
    allowEmpty="false"
    data-testid="view-mode-selector"
  />

  <hr class="toolbar__separator" />

  <div class="flex items-center gap-2">
    <p-selectbutton
      [options]="sideOptions()"
      [disabled]="plotOptionsService.isFreePositioningMode()"
      [ngModel]="plotOptionsService.plotOptions().side"
      (onChange)="plotService.plotOptionsChange({ side: $event.value })"
      optionLabel="label"
      optionValue="value"
      allowEmpty="false"
      [disabled]="plotOptionsService.plotOptions().view === '3d'"
      data-testid="side-view-selector"
    />
  </div>

  <hr class="toolbar__separator" />

  <div class="flex flex-col items-start">
    <label for="invert" class="text-m-600 m-0">{{ 'studio.top-toolbar.invert-label' | transloco }}</label>
    <p-toggleswitch
      inputId="invert"
      data-testid="invert-toggle"
      [disabled]="plotOptionsService.isFreePositioningMode()"
      [(ngModel)]="plotOptionsService.plotOptions().invert"
      (onChange)="plotService.plotOptionsChange({ invert: $event.checked })"
    />
  </div>

  <hr class="toolbar__separator" />

  <app-scale-view></app-scale-view>

  <hr class="toolbar__separator" />

  <p-multiselect
    data-testid="display-multiselect"
    appendTo="body"
    [placeholder]="'studio.top-toolbar.display-label' | transloco"
    [filter]="false"
    [showToggleAll]="false"
    [options]="selectedDisplayOptions()"
    [ngModel]="selectedDisplayValues()"
    (ngModelChange)="setSelectedDisplayOptions($event)"
    optionLabel="label"
    optionValue="value"
    class="toolbar-multiselect"
    [class.toolbar-multiselect--active]="displayOptionsStatus()"
    panelStyleClass="toolbar-multiselect-overlay"
    (onPanelShow)="displayOptionsStatus.set(true)"
    (onPanelHide)="displayOptionsStatus.set(false)"
  >
    <ng-template #selecteditems let-value>
      @if (value?.length) {
        <ng-container>{{ 'studio.top-toolbar.display-label' | transloco }}</ng-container>
      }
    </ng-template>

    <ng-template #dropdownicon>
      <app-icon icon="visibility" />
    </ng-template>

    <ng-template #header>
      <div class="toolbar-multiselect__dropdown__header">
        <app-icon icon="info" />
        <p class="mb-0">{{ 'studio.top-toolbar.display-info-text' | transloco }}</p>
      </div>
    </ng-template>
  </p-multiselect>

  <hr class="toolbar__separator" />

  <p-speedDial direction="down" class="toolbar-speed-dial" [model]="tablesDropdown()" data-testid="tables-dropdown">
    <ng-template #button let-toggleCallback="toggleCallback">
      <button (click)="toggleCallback($event)">
        <app-icon icon="table_chart" />
        <ng-container>{{ 'studio.top-toolbar.tables-label' | transloco }}</ng-container>
      </button>
    </ng-template>

    <ng-template #item let-item let-toggleCallback="toggleCallback">
      <button (click)="toggleCallback($event, item)" [disabled]="item.disabled">
        {{ item.label }}
      </button>
    </ng-template>
  </p-speedDial>

  <hr class="toolbar__separator" />

  <p-speedDial direction="down" class="toolbar-speed-dial" [model]="toolsDropdown()" data-testid="tools-dropdown">
    <ng-template #button let-toggleCallback="toggleCallback">
      <button (click)="toggleCallback($event)">
        <app-icon icon="build" />
        <ng-container>{{ 'studio.top-toolbar.tools-label' | transloco }}</ng-container>
      </button>
    </ng-template>

    <ng-template #item let-item let-toggleCallback="toggleCallback">
      <button (click)="toggleCallback($event, item)" [disabled]="item.disabled">
        {{ item.label }}
      </button>
    </ng-template>
  </p-speedDial>

  <hr class="toolbar__separator" />

  <div class="toolbar__shortcuts">
    @for (item of toolsItems(); track $index) {
      @if (item.checked) {
        <button
          class="toolbar__specifbtn"
          [disabled]="item.disabled"
          (click)="item.action()"
          [attr.aria-label]="item.label"
        >
          {{ item.label }}
        </button>
      }
    }
  </div>

  <button
    class="toolbar__specifbtn toolbar__specifbtn--icon"
    [attr.aria-label]="'studio.top-toolbar.edit-shortcuts-aria-label' | transloco"
    (click)="shortcutsModal.set(true)"
    data-testid="shortcuts-btn"
  >
    <app-icon icon="edit" />
  </button>
</div>

<p-dialog [(visible)]="shortcutsModal" [modal]="true" [dismissableMask]="true" [style]="{ width: '27.5rem' }">
  <ng-template #header>
    <p class="modal__header">
      <app-icon icon="build" />
      <ng-container>{{ 'studio.top-toolbar.inset-title' | transloco }}</ng-container>
    </p>
  </ng-template>

  <div class="modal__content">
    <p>{{ 'studio.top-toolbar.organize-tools-info-text' | transloco }}</p>

    <ul>
      @for (item of toolsItems(); track $index) {
        <li class="modal__checkboxs">
          <p-checkbox
            [(ngModel)]="item.checked"
            [binary]="true"
            [disabled]="!item.checked && checkedCount() >= 5"
            [inputId]="'item-' + item.id"
            (onChange)="updateCheckedCount()"
          >
          </p-checkbox>
          <label [for]="'item-' + item.id">
            {{ item.label }}
          </label>
        </li>
      }
    </ul>
  </div>

  <ng-template #footer>
    <button app-btn (click)="shortcutsModal.set(false)">
      <app-icon icon="check" />
      <ng-container>{{ 'common.validate' | transloco }}</ng-container>
    </button>
  </ng-template>
</p-dialog>
