@use 'abstract.extracts' as app;

.papoto {

  &__error {
    @apply flex items-center gap-1 my-4;
    @extend %text-s-600;
    color: var(--main-error);
  }

  &__btns {
    @apply flex items-center gap-8;
  }

  &__mandatory-msg {
    @apply flex items-center gap-1 my-4;
    @extend %text-s-600;
    color: var(--star-dust-950);
  }

  &__form {
    @extend %tools-grid-layout;
    grid-template-areas:
      'line1 line1 line1 . .'
      'HL H1 H2 H3 HR'
      'VL V1 V2 V3 VR';

    &__line1 {
      grid-area: line1;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-areas:
        'supportLabel lengthLabel elevationLabel'
        'supportInput lengthInput elevationInput'
        '. lengthDesc elevationDesc';
    }

    .leftSupport {
      &__label {
        grid-area: supportLabel;
        align-self: end;
      }

      &__input {
        grid-area: supportInput;
      }
    }

    .spanLength {
      &__label {
        grid-area: lengthLabel;
        align-self: end;
      }

      &__input {
        grid-area: lengthInput;
      }

      &__desc {
        @apply mb-0 font-semibold;
        grid-area: lengthDesc;
        color: var(--star-dust-900);
      }
    }

    .MED {
      &__label {
        grid-area: elevationLabel;
        align-self: end;
      }

      &__input {
        grid-area: elevationInput;
      }

      &__desc {
        @apply mb-0 font-semibold;
        grid-area: elevationDesc;
        color: var(--star-dust-900);
      }
    }

    .HL {
      grid-area: HL;
    }

    .H1 {
      grid-area: H1;
    }

    .H2 {
      grid-area: H2;
    }

    .H3 {
      grid-area: H3;
    }

    .HR {
      grid-area: HR;
    }

    .VL {
      grid-area: VL;
    }

    .V1 {
      grid-area: V1;
    }

    .V2 {
      grid-area: V2;
    }

    .V3 {
      grid-area: V3;
    }

    .VR {
      grid-area: VR;
    }
  }

  &__results {
    @apply border-t mt-3;
    border-color: var(--star-dust-300);

    &__title {
      @apply mt-4 mb-0;
      @extend %heading-s;
      color: var(--star-dust-950);
    }

    &__list {
      @extend %tools-grid-layout;
      grid-template-areas:
        'param incertainParam . . .'
        'param12 param23 param13 crit .';

      .param {
        grid-area: param;
      }

      .incertainParam {
        grid-area: incertainParam;
      }

      .param12 {
        grid-area: param12;
      }

      .param23 {
        grid-area: param23;
      }

      .param13 {
        grid-area: param13;
      }

      .crit {
        grid-area: crit;

        &__result {
          @apply flex items-center gap-4 py-1;

          .app-icon {
            color: var(--grey-white);
            font-size: 1.25rem;
            border-radius: 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            text-align: center;

            &.criterion-ok {
              background-color: var(--main-success);
            }

            &.criterion-ko {
              background-color: var(--main-error);
            }
          }
        }
      }

      dt {
        @apply px-1;
        color: var(--star-dust-900);
      }

      dd {
        @apply px-1 py-2;
        @extend %text-m-400;
        color: var(--star-dust-950);
      }
    }
  }
}

.help-papoto-header {
  @apply mb-0 flex gap-2 flex-grow cursor-grab;
  @extend %text-l-600;

  &:active {
    @apply cursor-grabbing;
  }
}