@use 'abstract.extracts' as app;

.papoto {
  &__mandatory-msg {
    @apply flex items-center gap-1 my-4;
    @extend %text-s-600;
    color: var(--star-dust-950);
  }

  &__form {
    @extend %tools-grid-layout;
    grid-template-areas:
      'line1 line1 line1 . .'
      'HG H1 H2 H3 HD'
      'VG V1 V2 V3 VD';

    &__line1 {
      grid-area: line1;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-areas:
        'supportLabel lengthLabel elevationLabel'
        'supportInput lengthInput elevationInput'
        '. lengthDesc elevationDesc';
    }

    .leftSupport {
      &__label {
        grid-area: supportLabel;
        align-self: end;
      }
      &__input {
        grid-area: supportInput;
      }
    }

    .spanLength {
      &__label {
        grid-area: lengthLabel;
        align-self: end;
      }
      &__input {
        grid-area: lengthInput;
      }
      &__desc {
        @apply mb-0 font-semibold;
        grid-area: lengthDesc;
        color: var(--star-dust-900);
      }
    }

    .MED {
      &__label {
        grid-area: elevationLabel;
        align-self: end;
      }
      &__input {
        grid-area: elevationInput;
      }
      &__desc {
        @apply mb-0 font-semibold;
        grid-area: elevationDesc;
        color: var(--star-dust-900);
      }
    }
    .HG {
      grid-area: HG;
    }
    .H1 {
      grid-area: H1;
    }
    .H2 {
      grid-area: H2;
    }
    .H3 {
      grid-area: H3;
    }
    .HD {
      grid-area: HD;
    }
    .VG {
      grid-area: VG;
    }
    .V1 {
      grid-area: V1;
    }
    .V2 {
      grid-area: V2;
    }
    .V3 {
      grid-area: V3;
    }
    .VD {
      grid-area: VD;
    }
  }
}
