<p-dialog
  dismissableMask="true"
  [visible]="isOpen()"
  (visibleChange)="onVisibleChange()"
  keepInViewport="false"
  [style]="{
    width: '44rem',
    height: '31.25rem',
    maxWidth: '100%',
    maxHeight: '100%'
  }"
  [modal]="true"
>
  <ng-template #header>
    <p class="mb-0" i18n>Attachment set</p>
  </ng-template>
  <ng-template #content>
    <div class="flex flex-row gap-4 h-full">
      <div class="flex flex-col gap-2">
        <p i18n class="mb-0">
          Choose the attachment set in the list or on the graph to find the
          right arm length.
        </p>
        <div class="flex flex-col gap-1">
          <label for="supportName" i18n>Support name</label>
          <p-select
            inputId="supportName"
            [options]="supportsFilterTable()"
            appendTo="body"
            [(ngModel)]="supportName"
            [filter]="true"
            virtualScroll="true"
            virtualScrollItemSize="10"
            [showClear]="true"
            (onChange)="onAttachnementSelect($event, 'support_name')"
          />
        </div>
        <div class="flex flex-col gap-1">
          <label for="attachmentSet" i18n>Attachment set</label>
          <p-select
            [showClear]="true"
            inputId="attachmentSet"
            [disabled]="!supportName()"
            [options]="attachmentsFilterTable() | unique: 'attachment_set'"
            optionLabel="attachment_set"
            optionValue="attachment_set"
            appendTo="body"
            [(ngModel)]="attachmentSet"
            (onChange)="onAttachnementSelect($event, 'attachment_set')"
          />
        </div>
        <p-divider class="!my-2" />
        <div class="flex flex-row gap-8">
          <div>
            <p class="label mb-0" i18n>Arm length</p>
            <span class="ml-2"
              >{{ armLength() ?? '-' }}
              <ng-container i18n>m</ng-container></span
            >
          </div>
          <div>
            <p class="label mb-0" i18n>Height below console</p>
            <span class="ml-2"
              >{{ heightBelowConsole() || '-' }}
              <ng-container i18n>m</ng-container></span
            >
          </div>
        </div>
        <div>
          <p class="text-sm flex items-start gap-1 text-black mt-2">
            <app-icon icon="info" />
            <ng-container i18n>
              The attachment set and the arm length (m) will be automatically
              filled in the table.
            </ng-container>
          </p>
        </div>
      </div>
      <div
        class="min-w-[22rem] support-plot-container border flex flex-col items-center justify-center"
      >
        <app-support-plot
          [coordinates]="coordinates()"
          [attachmentSetNumbers]="attachmentSetNumbers()"
        ></app-support-plot>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <button
      app-btn
      type="button"
      btnSize="m"
      btnStyle="outlined"
      (click)="onVisibleChange()"
    >
      <app-icon icon="close" />
      <ng-container i18n>Close</ng-container>
    </button>
    <button
      app-btn
      type="button"
      btnSize="m"
      btnStyle="base"
      [disabled]="!supportName() || !attachmentSet()"
      (click)="validate()"
    >
      <app-icon icon="check" />
      <ng-container i18n>Validate</ng-container>
    </button>
  </ng-template>
</p-dialog>
