<p-dialog
  dismissableMask="true"
  [visible]="isOpen()"
  (visibleChange)="onVisibleChange($event)"
  keepInViewport="false"
  [style]="{
    width: '37.5rem',
    height: '31.25rem',
    maxWidth: '100%',
    maxHeight: '100%'
  }"
  [modal]="true"
>
  <ng-template #header>
    <p class="mb-0" i18n>Attachment set</p>
  </ng-template>
  <ng-template #content>
    <div class="flex flex-row gap-2 h-full">
      <div class="w-[18.75rem] flex flex-col gap-2">
        <p i18n class="mb-0">
          The attachment set number and the arm length value will be
          automatically filled in the table.
        </p>
        <div class="flex flex-col gap-1">
          <label for="supportName" i18n>Support name</label>
          <p-select
            inputId="supportName"
            [options]="attachmentFilterTable() | unique: 'support_name'"
            optionLabel="support_name"
            optionValue="support_name"
            [(ngModel)]="supportName"
            (onChange)="onAttachnementSelect($event, 'support_name')"
          />
        </div>
        <div class="flex flex-col gap-1">
          <label for="attachmentSet" i18n>Attachment set</label>
          <p-select
            [showClear]="true"
            inputId="attachmentSet"
            [disabled]="!supportName()"
            [options]="attachmentFilterTable() | unique: 'attachment_set'"
            optionLabel="attachment_set"
            optionValue="attachment_set"
            [(ngModel)]="attachmentSet"
            (onChange)="onAttachnementSelect($event, 'attachment_set')"
          />
        </div>
        <p-divider class="!my-2" />
        <div class="flex flex-row gap-2">
          <div>
            <p class="label mb-0" i18n>Arm length (m)</p>
            <span class="ml-2">{{ armLength() || '-' }}</span>
          </div>
          <div>
            <p class="label mb-0" i18n>Height below console (m)</p>
            <span class="ml-2">{{ heightBelowConsole() || '-' }}</span>
          </div>
        </div>
      </div>
      <!-- TODO: Add support image when ready -->
      <div
        class="w-[18.75rem] bg-gray-100 flex flex-col items-center justify-center"
      >
        <p i18n class="mb-0">Support image</p>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <button
      app-btn
      type="button"
      btnSize="m"
      btnStyle="outlined"
      (click)="onVisibleChange(false)"
    >
      <app-icon icon="close" />
      <ng-container i18n>Cancel</ng-container>
    </button>
    <button
      app-btn
      type="button"
      btnSize="m"
      btnStyle="base"
      [disabled]="!supportName() || !attachmentSet()"
      (click)="validate()"
    >
      <app-icon icon="check" />
      <ng-container i18n>Validate</ng-container>
    </button>
  </ng-template>
</p-dialog>
