<ng-template #header>
  <p class="text-l-600 mb-0 flex gap-2 items-center">
    <app-icon icon="assignment_turned_in" />
    <span i18n>Loads table</span>
  </p>
</ng-template>

<section class="base-info">
  @if (mode() === 'view') {
    <dl class="contents">
      <dt i18n class="load-name-label">Load case name</dt>
      <dd class="load-name-value">{{ name() }}</dd>

      <dt i18n class="load-desc-label">Description</dt>
      <dd class="load-desc-value">{{ description() || '-' }}</dd>
    </dl>
  } @else {
    <label for="loadName" class="load-name-label" i18n>Load case name</label>
    <input
      type="text"
      class="load-name-value"
      pInputText
      id="loadName"
      maxlength="100"
      [ngModel]="name()"
      (ngModelChange)="updateName($event)"
      fluid
    />

    <label for="description" class="load-desc-label" i18n>
      Description
      <span>{{ descriptionLength() }}/240</span>
    </label>
    <textarea
      pTextarea
      class="load-desc-value"
      id="description"
      maxlength="240"
      [ngModel]="description()"
      (ngModelChange)="updateDescription($event)"
      fluid
    ></textarea>
  }

  <label for="personnelPresence" class="load-person-label" i18n> Personnel presence </label>
  <p-toggleswitch
    inputId="personnelPresence"
    name="personnelPresence"
    class="load-person-value"
    [ngModel]="personnelPresence()"
    (onChange)="updatePersonnelPresence($event.checked)"
    [readonly]="mode() === 'view'"
  />
</section>

@if (climateRows().length > 0) {
  <section>
    <h2 class="title underline-text" i18n>Climate condition</h2>

    <p-table [value]="climateRows()" [tableStyle]="{ width: 'auto' }">
      <ng-template pTemplate="header">
        <tr>
          <th id="wind-pressure-col" i18n>Wind pressure</th>
          <th id="cable-temp-col" i18n>Cable temp.</th>
          <th id="ice-indicator-col" i18n>Ice indicator</th>
          @if (climate()?.symmetryType === SymmetryType.SYMMETRIC) {
            <th id="ice-thickness-col" i18n>Ice thickness</th>
          }
          @if (climate()?.symmetryType === SymmetryType.DIS_SYMMETRIC) {
            <th id="frontier-support-col" i18n>Frontier support</th>
            <th id="ice-before-col" i18n>Ice thickness before support frontier</th>
            <th id="ice-after-col" i18n>Ice thickness after support frontier</th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{ row.windPressure }}&nbsp;Pa</td>
          <td>{{ row.cableTemperature }}&nbsp;°C</td>
          <td>{{ getSymmetryLabel(row.symmetryType) }}</td>
          @if (row.symmetryType === SymmetryType.SYMMETRIC) {
            <td>{{ row.iceThickness }}&nbsp;cm</td>
          }
          @if (row.symmetryType === SymmetryType.DIS_SYMMETRIC) {
            <td>{{ row.frontierSupportNumber }}</td>
            <td>{{ row.iceThicknessBefore }}&nbsp;cm</td>
            <td>{{ row.iceThicknessAfter }}&nbsp;cm</td>
          }
        </tr>
      </ng-template>
    </p-table>
  </section>
}

@if (spanLoadRows().length > 0) {
  <section>
    <h2 class="title underline-text" i18n>load / marking</h2>

    <p-table [value]="spanLoadRows()" [tableStyle]="{ width: 'auto' }">
      <ng-template pTemplate="header">
        <tr>
          <th id="index-col" i18n>N°</th>
          <th id="span-col" i18n>Span</th>
          <th id="ref-support-col" i18n>Ref. support</th>
          <th id="type-col" i18n>Load type</th>
          <th id="position-col" i18n>Distance to ref. support</th>
          <th id="weight-col" i18n>Load</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ row.spanLabel }}</td>
          <td>{{ row.referenceSupport }}</td>
          <td>{{ getLoadTypeLabel(row.type) }}</td>
          <td>{{ row.loadPosition }}&nbsp;m</td>
          @if (row.type === LoadType.MARKING) {
            <td>-</td>
          } @else {
            <td>{{ row.loadWeight }}&nbsp;N</td>
          }
        </tr>
      </ng-template>
    </p-table>
  </section>
}

<ng-template #footer>
  @if (mode() === 'view') {
    <button app-btn disabled type="button" btnStyle="text">
      <app-icon icon="description" />
      <ng-container i18n>Report</ng-container>
    </button>

    <button app-btn type="button" (click)="switchToEditMode()">
      <app-icon icon="edit" />
      <ng-container i18n>Modify</ng-container>
    </button>
  } @else {
    <button app-btn type="button" btnStyle="outlined" (click)="cancelEdit()">
      <app-icon icon="close" />
      <ng-container i18n>Cancel</ng-container>
    </button>

    <button app-btn type="button" (click)="saveChanges()" [disabled]="!isFormValid()">
      <app-icon icon="save" />
      <ng-container i18n>Save</ng-container>
    </button>
  }
</ng-template>
