<form [formGroup]="obstacleFormService.form" class="obstacles-form" data-testid="obstacles-form">
  <div class="obstacles-form__buttons">
    <button
      app-btn
      type="button"
      btnStyle="outlined"
      [disabled]="!supportUuidValue()"
      (click)="obstacleFormService.returnToSpan()"
      btnSize="s"
      data-testid="return-to-span"
    >
      <ng-container i18n>Return to span</ng-container>
    </button>

    <button
      app-btn
      type="button"
      btnStyle="outlined"
      btnSize="s"
      (click)="obstacleFormService.resetFormForNewObstacle(null)"
      data-testid="create-new-obstacle"
    >
      <app-icon icon="add_circle" />
      <ng-container i18n>Create new obstacle</ng-container>
    </button>
  </div>

  <div class="obstacles-form__grid-2-cols">
    <label for="span" class="span-label" i18n>Span</label>

    <p-select
      inputId="span"
      [options]="spansOptions()"
      formControlName="supportUuid"
      optionLabel="label"
      optionValue="value"
      class="span-input"
      data-testid="span-select"
    />

    <label for="obstacleType" class="type-label" i18n>Obstacle type</label>

    <p-select
      inputId="obstacleType"
      [options]="obstacleTypeOptions()"
      formControlName="type"
      optionLabel="label"
      optionValue="value"
      class="type-input"
      data-testid="obstacle-type"
    />
  </div>

  <div class="obstacles-form__grid-2-cols">
    <label for="obstacleName" class="name-label" i18n>Obstacle name</label>

    <input
      pInputText
      type="text"
      id="obstacleName"
      formControlName="name"
      class="name-input"
      [attr.aria-invalid]="obstacleFormService.form.controls.name.invalid || null"
      data-testid="obstacle-name"
    />

    <label for="referenceSupport" class="ref-label" i18n>Reference support</label>
    <p-select
      inputId="referenceSupport"
      [options]="obstacleFormService.supportsOptions()"
      formControlName="referenceSupport"
      optionLabel="label"
      optionValue="value"
      class="ref-input"
      data-testid="reference-support"
    />
  </div>

  <div class="obstacles-form__grid-2-cols">
    <label for="altitudeType" class="alt-label" i18n>Obstacle altitude type</label>

    <p-select
      inputId="altitudeType"
      [options]="altitudeTypeOptions"
      formControlName="altitudeType"
      optionLabel="label"
      optionValue="value"
      class="alt-input"
      data-testid="altitude-type"
    />

    <label for="lateralDistanceType" class="lat-label" i18n>Lateral distance type</label>

    <p-select
      inputId="lateralDistanceType"
      [options]="lateralDistanceTypeOptions"
      formControlName="lateralDistanceType"
      optionLabel="label"
      optionValue="value"
      class="lat-input"
      data-testid="lateral-distance-type"
    />
  </div>

  <div class="obstacles-form__field">
    <div class="obstacles-form__field__toggle">
      <p-toggleswitch
        inputId="freePositioning"
        name="freePositioning"
        [disabled]="!obstacleFormService.form.get('supportUuid')?.value"
        [ngModel]="plotService.isFreePositioningMode()"
        [ngModelOptions]="{ standalone: true }"
        (onChange)="plotService.isFreePositioningMode.set($event.checked)"
      />
      <label for="freePositioning" i18n>Free positioning</label>
    </div>

    <button
      [disabled]="
        obstacleFormService.form.get('supportUuid')?.value === null || !obstacleFormService.form.get('name')?.value
      "
      app-btn
      type="button"
      btnStyle="outlined"
      (click)="obstacleFormService.addPosition()"
      data-testid="add-point"
    >
      <app-icon icon="add_circle" />
      <ng-container i18n>Add point</ng-container>
    </button>
  </div>

  <ul class="obstacles-form__points" data-testid="points-list">
    @for (obstacle of obstacleFormService.positions.controls; track $index) {
      <li
        [class.obstacles-item--active]="obstaclesService.activePointIndex() === $index"
        [attr.aria-selected]="obstaclesService.activePointIndex() === $index ? 'true' : 'false'"
        class="obstacles-item"
        data-testid="point-item"
      >
        <button
          type="button"
          class="obstacles-item__select"
          (click)="setCurrentObstaclePoint($index)"
          data-testid="select-point"
        >
          <span class="sr-only"><ng-container i18n>Select point</ng-container>&nbsp;{{ $index + 1 }}</span>
        </button>

        <div class="obstacles-item__header">
          <p class="obstacles-item__title"><ng-container i18n>Point</ng-container> {{ $index + 1 }}</p>
          <button
            app-btn
            btnStyle="danger"
            btnSize="s"
            type="button"
            class="obstacles-item__erase-btn"
            (click)="obstacleFormService.deletePoint($index); $event.stopPropagation()"
            aria-label="delete point"
            i18n-aria-label
            data-testid="delete-point"
          >
            <app-icon icon="delete" />
          </button>
        </div>

        <div class="obstacles-item__form">
          <label
            i18n
            [for]="'altitudePoint' + $index"
            class="obstacles-item__label alt-point-label"
            data-testid="label-point-altitude"
            >Point alt.</label
          >

          <p-inputgroup class="obstacles-item__input">
            <input
              (input)="onPositionInput($event, 'z')"
              pInputText
              [disabled]="!obstacleFormService.form.get('name')?.value"
              type="number"
              [id]="'altitudePoint' + $index"
              [value]="obstacle.value.z"
              class="alt-point-input"
              step="0.01"
              (focus)="setCurrentObstaclePoint($index)"
              data-testid="point-altitude"
            />
            <p-inputgroup-addon i18n>m</p-inputgroup-addon>
          </p-inputgroup>

          <label
            i18n
            [for]="'distanceToRefSupport' + $index"
            class="obstacles-item__label dist-ref-label"
            data-testid="label-ref-distance"
            >Ref. support dist.</label
          >

          <p-inputgroup class="obstacles-item__input">
            <input
              pInputText
              (input)="onPositionInput($event, 'x')"
              [disabled]="!obstacleFormService.form.get('name')?.value"
              type="number"
              [id]="'distanceToRefSupport' + $index"
              [value]="obstacle.value.x"
              class="dist-ref-input"
              step="0.01"
              (focus)="setCurrentObstaclePoint($index)"
              data-testid="point-ref-distance"
            />
            <p-inputgroup-addon i18n>m</p-inputgroup-addon>
          </p-inputgroup>

          <label
            i18n
            [for]="'distanceToLineAxis' + $index"
            class="obstacles-item__label dist-axis-label"
            data-testid="label-axis-distance"
            >Line axis dist.</label
          >

          <p-inputgroup class="obstacles-item__input">
            <input
              pInputText
              (input)="onPositionInput($event, 'y')"
              [disabled]="!obstacleFormService.form.get('name')?.value"
              type="number"
              [id]="'distanceToLineAxis' + $index"
              [value]="obstacle.value.y"
              class="dist-axis-input"
              step="0.01"
              (focus)="setCurrentObstaclePoint($index)"
              data-testid="point-axis-distance"
            />
            <p-inputgroup-addon i18n>m</p-inputgroup-addon>
          </p-inputgroup>
        </div>
      </li>
    }
  </ul>

  <div class="obstacles-form__sticky">
    <div class="obstacles-form__sticky__btns">
      <button
        app-btn
        btnStyle="danger"
        type="button"
        [disabled]="!obstacleFormService.form.get('uuid')?.value"
        (click)="obstacleFormService.deleteObstacle()"
        aria-label="delete obstacle"
        i18n-aria-label
        data-testid="delete-obstacle"
      >
        <app-icon icon="delete" />
      </button>

      <button
        app-btn
        btnStyle="outlined"
        type="button"
        class="p-0"
        (click)="obstacleFormService.saveObstacle()"
        [disabled]="true"
        data-testid="save-obstacle"
      >
        <ng-container i18n>AT-CCGLA</ng-container>
      </button>

      <button
        app-btn
        type="button"
        (click)="obstacleFormService.calculateAndSave()"
        [disabled]="!obstacleFormService.canCalculateAndSave()"
        data-testid="calculate-save"
      >
        <app-icon icon="rocket_launch" />
        <ng-container i18n>Calculate and save</ng-container>
      </button>
    </div>

    <hr class="obstacles-form__sticky__divider" />

    <div class="obstacles-form__sticky__results" data-testid="results">
      <h2 class="obstacles-form__sticky__results__title" i18n>Results:</h2>

      <dl class="obstacles-form__sticky__results__grid">
        <div class="obstacles-form__sticky__results__grid__item">
          <dt class="obstacles-form__sticky__results__grid__item__term" i18n>Oblique</dt>
          <dd class="obstacles-form__sticky__results__grid__item__def">
            <span data-testid="result-oblique">
              {{
                obstacleFormService.results().oblique !== null
                  ? (obstacleFormService.results().oblique | number: '1.0-2') + ' m'
                  : '-'
              }}
            </span>
          </dd>
        </div>

        <div class="obstacles-form__sticky__results__grid__item">
          <dt class="obstacles-form__sticky__results__grid__item__term" i18n>Vertical</dt>
          <dd class="obstacles-form__sticky__results__grid__item__def">
            <span data-testid="result-vertical">
              {{
                obstacleFormService.results().vertical !== null
                  ? (obstacleFormService.results().vertical | number: '1.0-2') + ' m'
                  : '-'
              }}
            </span>
          </dd>
        </div>

        <div class="obstacles-form__sticky__results__grid__item">
          <dt class="obstacles-form__sticky__results__grid__item__term" i18n>Horizontal</dt>
          <dd class="obstacles-form__sticky__results__grid__item__def">
            <span data-testid="result-horizontal">
              {{
                obstacleFormService.results().horizontal !== null
                  ? (obstacleFormService.results().horizontal | number: '1.0-2') + ' m'
                  : '-'
              }}
            </span>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</form>
