@use 'abstract.extracts' as app;

.l0-sum {
  @apply flex gap-8;
  background-color: var(--star-dust-50);
  margin: -1rem -1rem -1.625rem;
  padding: 1rem 1rem 1.625rem;

  &__section-summary {
    padding-top: 2.875rem;

    &__title {
      @extend %text-m-600;
      color: var(--star-dust-900);
      padding: 2px 4px;
    }

    &__value {
      @extend %text-m-400;
      color: var(--star-dust-950);
      padding: 0.25rem 0.5rem;
    }
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 3rem 0;

    &__text {
      @extend %text-m-400;
      color: var(--grey-600);
    }
  }
}