<ng-template #header>
  <p class="text-l-600 mb-0 flex gap-2 items-center">
    <app-icon icon="table_chart" />
    <span i18n>Natural lengths L0</span>
  </p>
</ng-template>

<div class="l0-sum" *ngIf="!loading(); else loadingTpl">
  <section>
    <h3 class="heading-xs underline-text" i18n>L0 table</h3>

    <p-table
      [value]="l0Rows()"
      [paginator]="true"
      [rows]="rowsPerPage"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{currentPage} sur {totalPages}"
      styleClass="l0-table"
      [customSort]="true"
      paginatorDropdownAppendTo="body"
      (sortFunction)="customSort($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th id="span-header" pSortableColumn="span">
            <div class="flex items-center gap-2">
              <span i18n>Span</span>
              <app-icon [icon]="getSortIcon('span')" />
            </div>
          </th>

          <th id="l0-header" i18n>L0</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr>
          <td>
            <span>{{ row.span }}</span>
          </td>
          <td>
            <span>{{ row.l0 | number: '1.0-3' }}&nbsp;m</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>

  <dl class="l0-sum__section-summary">
    <dt class="l0-sum__section-summary__title" i18n>Sum L0</dt>
    <dd class="l0-sum__section-summary__value">
      {{ totalL0() | number: '1.3-3' }}&nbsp;m
    </dd>
  </dl>
</div>

<ng-template #loadingTpl>
  <div class="l0-sum__loading">
    <p-progressSpinner />
    <span class="l0-sum__loading__text" i18n>Loading L0 data…</span>
  </div>
</ng-template>

<ng-template #footer>
  <button
    disabled="true"
    app-btn
    type="button"
    btnSize="m"
    (click)="onExport()"
  >
    <app-icon icon="download" />
    <span i18n>Export</span>
  </button>
</ng-template>
