<p-table
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 50]"
  (onSort)="onSort($event)"
  [value]="studies()"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="'Object {first} to {last} of {totalRecords}'"
  [tableStyleClass]="'w-full mt-6'"
>
  <ng-template #header>
    <tr>
      <th id="checkbox"></th>

      <th id="title" pSortableColumn="title">
        <div i18n class="flex items-center gap-2">
          Title
          <app-icon
            [icon]="
              $any(
                sortField() === 'title'
                  ? sortOrder() === 1
                    ? 'arrow_upward'
                    : 'arrow_downward'
                  : 'swap_vert'
              )
            "
          />
        </div>
      </th>
      <th id="author_email" pSortableColumn="author_email">
        <div i18n class="flex items-center gap-2">
          Author
          <app-icon
            [icon]="
              $any(
                sortField() === 'author_email'
                  ? sortOrder() === 1
                    ? 'arrow_upward'
                    : 'arrow_downward'
                  : 'swap_vert'
              )
            "
          />
        </div>
      </th>
      <th id="created_at_offline" pSortableColumn="created_at_offline">
        <div i18n class="flex items-center gap-2">
          Creation date
          <app-icon
            [icon]="
              $any(
                sortField() === 'created_at_offline'
                  ? sortOrder() === 1
                    ? 'arrow_upward'
                    : 'arrow_downward'
                  : 'swap_vert'
              )
            "
          />
        </div>
      </th>
      <th id="updated_at_offline" pSortableColumn="updated_at_offline">
        <div i18n class="flex items-center gap-2">
          Modification date
          <app-icon
            [icon]="
              $any(
                sortField() === 'updated_at_offline'
                  ? sortOrder() === 1
                    ? 'arrow_upward'
                    : 'arrow_downward'
                  : 'swap_vert'
              )
            "
          />
        </div>
      </th>
      <th id="lit_code" pSortableColumn="lit_code">
        <div i18n class="flex items-center gap-2">
          LIT code
          <app-icon
            [icon]="
              $any(
                sortField() === 'lit_code'
                  ? sortOrder() === 1
                    ? 'arrow_upward'
                    : 'arrow_downward'
                  : 'swap_vert'
              )
            "
          />
        </div>
      </th>
      <th id="shareable" pSortableColumn="shareable">
        <div i18n class="flex items-center gap-2">
          Shared
          <app-icon
            [icon]="
              $any(
                sortField() === 'shareable'
                  ? sortOrder() === 1
                    ? 'arrow_upward'
                    : 'arrow_downward'
                  : 'swap_vert'
              )
            "
          />
        </div>
      </th>
      <th id="space"></th>
      <th id="actions">
        <div i18n class="flex items-center gap-2">Actions</div>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-study>
    <tr>
      <td>
        <p-checkbox [binary]="true" />
      </td>
      <td>{{ study.title }}</td>
      <td>{{ study.author_email }}</td>
      <td>{{ study.created_at_offline | date: 'medium' }}</td>
      <td>{{ study.updated_at_offline | date: 'medium' }}</td>
      <td>{{ study.quantity }}</td>
      <td>{{ study.quantity }}</td>
      <td>
        <a
          [routerLink]="'/study/' + study.uuid"
          app-btn
          btnStyle="base"
          btnSize="s"
          i18n
        >
          Open
        </a>
      </td>
      <td>
        <button
          (click)="popover.toggle($event)"
          app-btn
          btnSize="l"
          btnStyle="text"
        >
          <app-icon icon="more_horiz" />
        </button>
        <p-popover #popover>
          <ng-template pTemplate="content">
            <button
              app-btn
              btnSize="s"
              btnStyle="text"
              (click)="duplicateStudy.emit(study.uuid)"
            >
              <app-icon icon="content_copy" />
              <span i18n>Duplicate</span>
            </button>
            <button
              app-btn
              btnSize="s"
              btnStyle="text"
              (click)="downloadStudy.emit(study.uuid)"
            >
              <app-icon icon="download" />
              <ng-container i18n>Export</ng-container>
            </button>
            <button
              app-btn
              btnSize="s"
              btnStyle="text"
              class="erase-btn"
              (click)="deleteStudy.emit(study.uuid)"
            >
              <app-icon icon="delete" />
              <span i18n>Delete</span>
            </button>
          </ng-template>
        </p-popover>
      </td>
    </tr>
  </ng-template>
</p-table>
