.supports-select-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    height: 33px;
    width: 33px;
}

.supports-select-buttons-right {
    border-left: 1px solid black;
}

.supports-select-buttons-left {
    border-right: 1px solid black;
}