@use 'abstract.extracts' as app;

:host {
  @apply block -m-6 overflow-x-hidden;
  height: calc(100% + 3rem);
}

.graph-tools {
  @apply flex items-stretch;
  min-height: calc(100% - 6rem);

  &__left {
    @apply grow pr-5;
  }
}

.plot-view {
  @apply block;
  min-height: 21.875rem;
  max-height: 36.875rem;
  // necessary height in absolute (rem) value is set dynamically via [style.height] binding
}

.quick-measures {
  @apply flex justify-center py-2;

  &__card {
    @apply inline-flex items-start gap-2 p-2 h-12 max-h-12 rounded-sm;
    box-shadow: var(--elevation-neutral-2);
  }

  &__title {
    @apply block;
    color: var(--star-dust-900);
    @extend %text-s-400;
  }

  &__value {
    color: var(--star-dust-950);
    @extend %text-m-400;
  }

  &__separator {
    @extend %vertical-separator;
  }
}

.supports-select {
  @apply flex items-stretch border rounded-md;
  border-color: var(--star-dust-700);

  &__buttons {
    @apply inline-flex items-center;
    border-color: var(--star-dust-300);
    color: var(--star-dust-950);
    background-color: var(--grey-white);
    transition:
      background-color 0.3s linear,
      outline 0.3s linear;

    &:hover {
      background-color: var(--primary-100);
    }

    &:focus-visible {
      @extend %focus-state;
    }

    &__icon {
      font-size: 1.25rem;
    }

    &--right {
      @apply border-l rounded-se-md rounded-ee-md;
      padding-left: 0.375rem;
    }

    &--left {
      @apply border-r rounded-ss-md rounded-es-md;
      padding-right: 0.375rem;
    }
  }

  &__p-select {
    @apply border-0 shadow-none;
    width: 7.25rem;
  }
}

.slider-plot-cards {
  @apply grow;
}

.load-tabs {
  width: 25rem;
}