@use 'abstract.extracts' as app;

.section-plot-card {
  @apply rounded-lg flex gap-2 p-2;
  background-color: var(--star-dust-50);
}

%_base-text {
  @apply mb-1;
  @extend %text-xs-400;
}

.title {
  @extend %_base-text;
  color: var(--star-dust-950);

  &:not(:first-of-type) {
    @apply mt-1;
  }
}

.details {
  @extend %_base-text;
  @apply flex gap-1;
  color: var(--star-dust-900);
}

.icon-wrapper {
  @apply rounded-full flex items-center justify-center w-4 aspect-square;

  color: var(--grey-white);

  &--support {
    background-color: var(--rte-600);
  }

  &--line {
    background-color: var(--warning-500);
  }

  .app-icon {
    @apply text-[.625rem];
  }
}

.arrow {
  @apply text-[1rem];
  color: var(--star-dust-950);
}
