@use 'abstract.extracts' as app;

.section-plot-card {
    @apply rounded-lg flex flex-row gap-2 p-[.5rem] min-w-[10rem] bg-[#F9FAFA]
}

%base-text {
    @apply mb-0 pt-[.25rem];
    @extend %text-xs-400;
}

.title {
    @extend %base-text;
    @apply text-[#1E1E1E];
}

.details {
    @extend %base-text;
    @apply text-[#45494A] flex flex-row gap-1;
}

.app-icon {
    @apply text-white text-[.625rem] m-[3px];
}

.arrow {
    @apply text-[#1E1E1E] text-[1rem] m-0;
}