@use 'abstract.extracts' as app;

.study-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--grey-150);
  background-color: var(--grey-0);
  padding: 0.5rem;
  position: relative;

  &__separator {
    width: 0.0625rem;
    height: 1.375rem;
    margin: 0rem;
    border-top-width: 0rem;
    border-right: 0.0625rem solid var(--primary-700);
  }

  &__title {
    @extend %heading-s;
    margin-bottom: 0rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }

  &__accodion-btn {
    color: var(--secondary-900);

    app-icon {
      color: var(--grey-950);
      transition: transform 0.15s ease-out;
    }

    &--open {
      app-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__author {
    margin-bottom: 0rem;
  }

  &__author,
  &__time {
    @extend %text-s-400;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__accordion {
    margin-bottom: 0rem;
    margin-top: 0rem;
    width: 100%;
    transition: margin-top 0.3s ease-in;

    &--open {
      margin-top: 0.5rem;
    }

    &__content {
      @extend %text-s-400;
      display: flex;
      align-items: start;
      gap: 0.5rem;

      p {
        margin-top: 0.1875rem;
        margin-bottom: 0rem;
      }
    }
  }
}
