<button
  app-btn
  type="button"
  btnStyle="outlined"
  btnSize="s"
  data-testid="scale-view-trigger"
  class="scale-view-trigger"
  [class.view-button--active]="popoverOpen()"
  aria-haspopup="dialog"
  [attr.aria-expanded]="popoverOpen()"
  (click)="togglePopover($event)"
>
  <ng-container>{{ 'studio.scaleView.buttonLabel' | transloco }}</ng-container>
  <app-icon icon="image_aspect_ratio" />
</button>

<p-popover appendTo="body" styleClass="scale-view-popover" #popover (onHide)="popoverOpen.set(false)">
  <form
    data-testid="scale-view-form"
    class="view-config"
    [formGroup]="formScaleView"
    (ngSubmit)="onValidate()"
    [attr.aria-label]="'studio.scaleView.formAriaLabel' | transloco"
  >
    <fieldset data-testid="scale-fieldset" class="view-config__section">
      <legend class="view-config__legend">{{ 'studio.scaleView.scaleLegend' | transloco }}</legend>

      <div class="view-config__radio-group">
        <div data-testid="scale-radio-plan" class="view-config__radio-item">
          <p-radioButton name="scale" value="plan" formControlName="scale" inputId="plan"></p-radioButton>
          <label for="plan">{{ 'studio.scaleView.scalePlan' | transloco }}</label>
        </div>

        <div data-testid="scale-radio-geo" class="view-config__radio-item">
          <p-radioButton name="scale" value="geo" formControlName="scale" inputId="geo"></p-radioButton>
          <label for="geo">{{ 'studio.scaleView.scaleGeo' | transloco }}</label>
        </div>

        <div data-testid="scale-radio-celeste" class="view-config__radio-item">
          <p-radioButton name="scale" value="celeste" formControlName="scale" inputId="celeste"></p-radioButton>
          <label for="celeste">{{ 'studio.scaleView.scaleCeleste' | transloco }}</label>
        </div>

        <div data-testid="scale-radio-auto" class="view-config__radio-item">
          <p-radioButton name="scale" value="auto" formControlName="scale" inputId="auto"></p-radioButton>
          <label for="auto">{{ 'studio.scaleView.scaleAuto' | transloco }}</label>
        </div>
      </div>
    </fieldset>

    <hr class="view-config__divider" aria-hidden="true" />

    <fieldset data-testid="points-fieldset" class="view-config__section">
      <legend class="view-config__legend">
        {{ 'studio.scaleView.pointsLegend' | transloco }}
      </legend>

      <div class="view-config__controls flex flex-between items-center gap-8">
        <div class="view-config__slider-wrapper w-[70%]">
          <span class="view-config__limit" aria-hidden="true">{{ scaleMin }}</span>
          <p-slider
            data-testid="scale-slider"
            formControlName="sliderPointsCount"
            [min]="scaleMin"
            [max]="scaleMax"
            class="view-config__slider"
            [attr.aria-label]="'studio.scaleView.sliderAriaLabel' | transloco"
          ></p-slider>
          <span class="view-config__limit" aria-hidden="true">{{ scaleMax }}</span>
        </div>

        <app-input-number
          data-testid="scale-input-number"
          formControlName="pointsCount"
          [min]="scaleMin"
          [max]="scaleMax"
          [attr.aria-label]="'studio.scaleView.inputAriaLabel' | transloco"
        />
      </div>
    </fieldset>

    <footer class="view-config__footer">
      <button app-btn type="submit" data-testid="scale-validate-btn">
        <ng-container>{{ 'common.actions.validate' | transloco }}</ng-container>
        <app-icon icon="check" />
      </button>
    </footer>
  </form>
</p-popover>
